edits-node-practice:2-1MOn8g4OSwddXUl6.json
{"createdAt":"2025-09-20T19:50:47.274Z","updatedAt":"2025-09-20T20:36:05.000Z","id":"1MOn8g4OSwddXUl6","name":"Edits Node Practice:2","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,272],"id":"7ad0fc0e-8610-4dee-902e-5aa13436f9ac","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"614a0e89-4a71-4cd7-9bc6-f338eb9a29da","name":"dateExtracting.Day","value":"={{ $now.extract('day') }}","type":"string"},{"id":"cf9ac74d-6550-4b2e-b092-c545221a9664","name":"dateExtracting.Month","value":"={{ $now.extract('month') }}","type":"string"},{"id":"ad43c174-107b-48a4-a13c-1eb62ffcc234","name":"dateExtracting.Year","value":"={{ $now.extract('year') }}","type":"string"},{"id":"eba040cd-a13a-47fa-bb4c-a93f7b30077f","name":"date","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,0],"id":"4c874bd9-a2ab-4380-98c3-f2bada4f44ba","name":"Edit Fields"},{"parameters":{"content":"Basic example of extracting date,year and month of current time.","height":352,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-224,-64],"typeVersion":1,"id":"fc560ba8-a4ba-4bfa-9a18-f73ad700f5bd","name":"Sticky Note"},{"parameters":{"content":"To extract date,year,month and to further suppress seconds and milliseconds by setting fixed time.","height":352,"width":832,"color":3},"type":"n8n-nodes-base.stickyNote","position":[432,-64],"typeVersion":1,"id":"72a61e91-2ffd-41af-9df1-470cd5cfaf8d","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"3d93694e-655e-4bfb-84c3-1818301590ce","name":"dateTime","value":"=2024-09-20T20:13:10.792Z","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,128],"id":"98f88304-678c-4a28-ba9c-db3fb200da33","name":"Edit Fields2"},{"parameters":{"content":"Trigger Node","height":224,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-544,208],"typeVersion":1,"id":"60992f09-aa30-4cd1-af19-64d69c07b65b","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"614a0e89-4a71-4cd7-9bc6-f338eb9a29da","name":"dateExtracting.Day","value":"={{ $json.dateTime.toDateTime().day }}","type":"string"},{"id":"cf9ac74d-6550-4b2e-b092-c545221a9664","name":"dateExtracting.Month","value":"={{ $json.dateTime.toDateTime().month }}","type":"string"},{"id":"ad43c174-107b-48a4-a13c-1eb62ffcc234","name":"dateExtracting.Year","value":"={{ $json.dateTime.toDateTime().year }}","type":"string"},{"id":"b2ce0b83-3739-4fa1-aeaf-551cb95aa2af","name":"dateExtracting.Hour","value":"={{ $json.dateTime.toDateTime().hour }}","type":"string"},{"id":"815d46a2-9972-4ce5-abe3-4019ee450d36","name":"dateExtracting.Minute","value":"={{ $json.dateTime.toDateTime().minute }}","type":"string"},{"id":"c2171f81-d95d-4a9d-b66b-66bb2d229fe8","name":"dateExtracting.Second","value":"={{ $json.dateTime.toDateTime().second}}","type":"string"},{"id":"f314a9cb-a68a-4abb-8a14-a1062d16f2df","name":"dateExtracting.Millisecond","value":"={{ $json.dateTime.toDateTime().millisecond}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,128],"id":"6c864a42-01d4-4be5-a063-90e4cc099d6a","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"ac11c1df-c1b3-4fe9-b81e-50f65fe183f8","name":"date","value":"={{ $now.setZone(\"Asia/Karachi\").set({ hour: $json.dateExtracting.Hour, minute: $json.dateExtracting.Minute, second: 0, millisecond: 0 }).toISO({ suppressMilliseconds: true }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,128],"id":"204ab4e5-afad-44f3-8f08-ce84b834adaa","name":"Edit Fields1"},{"parameters":{"content":"To parse and split the date,year etc.","height":192,"color":4},"type":"n8n-nodes-base.stickyNote","position":[720,64],"typeVersion":1,"id":"ad9e6ac7-ccd0-4c59-bd76-ca3251bf904e","name":"Sticky Note3"},{"parameters":{"content":"to suppress seconds,milliseconds.","height":192,"color":4},"type":"n8n-nodes-base.stickyNote","position":[992,64],"typeVersion":1,"id":"fd68b2ba-a844-4e98-8527-40f4e7e726af","name":"Sticky Note4"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Karachi","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"4c634b84-878e-47c4-8696-400fac43592d","triggerCount":0,"shared":[{"createdAt":"2025-09-20T19:50:47.277Z","updatedAt":"2025-09-20T19:50:47.277Z","role":"workflow:owner","workflowId":"1MOn8g4OSwddXUl6","projectId":"HHLWOKEAArOwm3kN"}],"tags":[]}