rag-ai-agent-(gemini-x-superbase-x-google-drive)-2rknjUEdTZSueZYB.json
{"createdAt":"2025-09-13T20:48:43.103Z","updatedAt":"2025-09-13T20:51:07.000Z","id":"2rknjUEdTZSueZYB","name":"RAG AI Agent (Gemini x Superbase x Google Drive)","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1ijbmcut_8vjDPIKyGo8g22hmo2RRF-9X","mode":"list","cachedResultName":"dentist pdf file","cachedResultUrl":"https://drive.google.com/drive/folders/1ijbmcut_8vjDPIKyGo8g22hmo2RRF-9X"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-48,576],"id":"792e4587-7af7-4a6b-8af1-3ad1dfe6a366","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"zFazEadFPdDVMQtT","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"69b740e9-5905-4358-87a3-91d6681b6c6c","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"4398bede-1093-4311-b227-d6faac49bd79","name":"version","value":"1","type":"string"},{"id":"69dd8752-1919-40f8-8238-c65357fa01c1","name":"modified","value":"={{ $json.modifiedTime }}","type":"string"},{"id":"96616843-610f-4d29-9c61-e39af8b40826","name":"file_type","value":"={{ $json.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,576],"id":"a16d1ad5-f3b2-43e8-bad3-ed2ef184583e","name":"set created values"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,576],"id":"f1d64a2e-5e34-42d8-a3f6-f377198c4fd1","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"zFazEadFPdDVMQtT","name":"Google Drive account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals"},"id":"bea13f16-46e1-493f-bcb3-737f2dea7202"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[624,576],"id":"9acc7e7a-1721-4bb7-9777-fabb74d85b00","name":"Switch"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[848,576],"id":"1575d267-5ed2-40c9-a28e-f4f32e8a09f0","name":"Extract from Text"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"embeddingBatchSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1104,576],"id":"a3647651-917c-44c9-9418-45bd72413051","name":"Supabase Vector Store"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1072,800],"id":"7c46ac31-bd58-4063-84ec-d873c593c605","name":"Embeddings Google Gemini"},{"parameters":{"textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('set created values').item.json.file_id }}"},{"name":"version","value":"={{ $('Switch').item.json.version }}"},{"name":"modifies","value":"={{ $('Switch').item.json.modified }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1200,800],"id":"c7c14ba4-699b-4c3c-bbf2-eb34e4139a5b","name":"Default Data Loader"},{"parameters":{"chunkSize":200,"chunkOverlap":2,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1280,1008],"id":"5eddcbd2-baf0-4813-8adb-ea42b17fd031","name":"Recursive Character Text Splitter"},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nMy name is Ocha. How can I assist you today?","options":{"loadPreviousSession":"memory"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-48,-64],"id":"a0725eb8-7efc-44ee-946b-103d18b2423d","name":"When chat message received","webhookId":"6a816796-7cac-4466-b0b4-4eaf18ef71cc"},{"parameters":{"options":{"systemMessage":"## Role\nYou are an AI assistant for a Dentist Clinic.  \nYour job is to answer patient or customer questions strictly based on information retrieved from the `Supabase Vector Store` (documents database).  \n\n## Tools\n- supabase_vector_store: Use this tool to search clinic documents for answers.\n\n## Rules\n1. For every question, first query the `supabase_vector_store`.  \n2. If relevant information is found, use it to answer in a clear and helpful way.  \n3. If no relevant information is found, respond with:  \n   \"I’m sorry, I couldn’t help with that.\"  \n4. Do not make up or hallucinate information. Only use what is in the documents.  \n5. Keep responses short, polite, and precise.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[240,-64],"id":"b92b11cf-d177-4409-b27a-c4e8f906066d","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[176,160],"id":"8d83d4c8-114b-4489-91a1-309d780ed546","name":"Google Gemini Chat Model"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"This vector store stores all the important dental clinic's information","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[544,144],"id":"e78fbd61-4e1a-4797-8ca6-02bc6bd80b84","name":"Supabase Vector Store1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[512,368],"id":"7445e2e2-1a19-4b1b-8054-c5551bb83703","name":"Embeddings Google Gemini1"},{"parameters":{"tableName":"chat_messages"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[320,192],"id":"2ab15f4b-92ed-42b8-b3c3-570a247a1621","name":"Postgres Chat Memory"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"set created values","type":"main","index":0}]]},"set created values":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from Text","type":"main","index":0}]]},"Extract from Text":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0},{"node":"When chat message received","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d6f9f139-351f-4d0d-9ec4-0358858afcef","triggerCount":0,"shared":[{"createdAt":"2025-09-13T20:48:43.106Z","updatedAt":"2025-09-13T20:48:43.106Z","role":"workflow:owner","workflowId":"2rknjUEdTZSueZYB","projectId":"HHLWOKEAArOwm3kN"}],"tags":[]}