test-yCg7rJhcF9dqUwhj.json
{"createdAt":"2025-09-11T00:11:23.687Z","updatedAt":"2025-09-11T00:19:10.000Z","id":"yCg7rJhcF9dqUwhj","name":"test","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"649810bb-a491-4285-8dbc-08ecc2c6a227","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1088,256]},{"parameters":{"filters":{},"requestOptions":{}},"id":"4f6ab1ca-23be-498e-a917-7f6844496b22","name":"Get All n8n Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-848,128],"credentials":{"n8nApi":{"id":"U21hgMWFKgB95uiJ","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"ubaidmukhtar237-design","mode":"name"},"repository":{"__rl":true,"value":"My-n8n-Workflows","mode":"list","cachedResultName":"My-n8n-Workflows","cachedResultUrl":"https://github.com/ubaidmukhtar237-design/My-n8n-Workflows"},"filePath":"=Backup_{{ $now.format('YYYY-MM-DD') }}"},"id":"989bb0d7-0841-4b16-b7c7-012da8829f4b","name":"Get All GitHub Files","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-848,368],"webhookId":"c9bf8471-b44a-4af7-a528-d78f33b53333","credentials":{"githubApi":{"id":"hZxRF0o4gyR64jWx","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mergeByFields":{"values":[{"field1":"fileName"}]},"options":{}},"id":"2169e34f-be5b-4922-ab96-042cffaae4f7","name":"Compare Datasets","type":"n8n-nodes-base.compareDatasets","typeVersion":1,"position":[-368,256]},{"parameters":{"assignments":{"assignments":[{"id":"f51152a2-89b5-41e9-974a-4d7a8581412b","name":"fileName","value":"={{ $json.name }}.json","type":"string"}]},"options":{}},"id":"7956d8bf-790e-4c40-837d-39b5525307a6","name":"Prepare Comparison Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,128]},{"parameters":{"assignments":{"assignments":[{"id":"a904d9c7-6e6b-4e6f-96a9-450f61539221","name":"fileName","value":"={{ $json.data.fileName }}","type":"string"},{"id":"f62771d1-6701-49b0-bc37-0dd8fd766627","name":"fileContent","value":"={{ JSON.stringify($json.data, null, 2) }}","type":"string"},{"id":"f5979bb8-9d41-4560-93a9-e85d9b23bb8e","name":"commitMessage","value":"=feat: Add new workflow '{{ $json.data.name }}'","type":"string"}]},"options":{}},"id":"37ca218b-4d04-41ab-8522-dbcde62d446c","name":"Set File Content (Create)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,48]},{"parameters":{"operation":"toFile"},"id":"0f7e566f-2a9f-40e9-8d5b-194bce9ed6d4","name":"Convert to Binary (Create)","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[112,48]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"ubaidmukhtar237-design","mode":"name"},"repository":{"__rl":true,"value":"My-n8n-Workflows","mode":"list","cachedResultName":"My-n8n-Workflows","cachedResultUrl":"https://github.com/ubaidmukhtar237-design/My-n8n-Workflows"},"filePath":"=Backup_{{ $now.format('YYYY-MM-DD') }}/{{ $json.fileName }}","binaryData":true,"commitMessage":"={{ $json.commitMessage }}"},"id":"9d7ebd58-f1a0-4eaa-89ad-ec19cd54ccb5","name":"GitHub: Create File","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[336,48],"webhookId":"92d70647-014f-4be8-a272-17a31664a49d","credentials":{"githubApi":{"id":"hZxRF0o4gyR64jWx","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a904d9c7-6e6b-4e6f-96a9-450f61539221","name":"fileName","value":"={{ $json.data.fileName }}","type":"string"},{"id":"f62771d1-6701-49b0-bc37-0dd8fd766627","name":"fileContent","value":"={{ JSON.stringify($json.data, null, 2) }}","type":"string"},{"id":"f5979bb8-9d41-4560-93a9-e85d9b23bb8e","name":"commitMessage","value":"=chore: Sync/update workflow '{{ $json.data.name }}'","type":"string"}]},"options":{}},"id":"b2c91078-f5a6-44cb-b8b4-504326384df7","name":"Set File Content (Update)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,256]},{"parameters":{"operation":"toFile"},"id":"7da4ce79-160f-4c0c-aa90-35ebf3a92e4c","name":"Convert to Binary (Update)","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[112,256]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"ubaidmukhtar237-design","mode":"name"},"repository":{"__rl":true,"value":"My-n8n-Workflows","mode":"list","cachedResultName":"My-n8n-Workflows","cachedResultUrl":"https://github.com/ubaidmukhtar237-design/My-n8n-Workflows"},"filePath":"=Backup_{{ $now.format('YYYY-MM-DD') }}/{{ $json.fileName }}","binaryData":true,"commitMessage":"={{ $json.commitMessage }}"},"id":"aa977c9b-ece2-4306-89cc-67cad03f83d8","name":"GitHub: Update File","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[336,256],"webhookId":"ac84d15c-5425-460f-a163-1a1b337e344b","credentials":{"githubApi":{"id":"hZxRF0o4gyR64jWx","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"ubaidmukhtar237-design","mode":"name"},"repository":{"__rl":true,"value":"My-n8n-Workflows","mode":"list","cachedResultName":"My-n8n-Workflows","cachedResultUrl":"https://github.com/ubaidmukhtar237-design/My-n8n-Workflows"},"filePath":"={{ $json.data.path }}","commitMessage":"=fix: Remove deleted workflow '{{ $json.data.name }}'"},"id":"0874a7a2-1cea-4650-afd9-a0104d909e28","name":"GitHub: Delete File","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-112,448],"webhookId":"3bab180e-43a6-4f03-a6c0-1ba1b8f742bd","credentials":{"githubApi":{"id":"hZxRF0o4gyR64jWx","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get All n8n Workflows","type":"main","index":0},{"node":"Get All GitHub Files","type":"main","index":0}]]},"Get All n8n Workflows":{"main":[[{"node":"Prepare Comparison Data","type":"main","index":0}]]},"Get All GitHub Files":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Compare Datasets":{"main":[[{"node":"Set File Content (Create)","type":"main","index":0}],[{"node":"Set File Content (Update)","type":"main","index":0}],[{"node":"GitHub: Delete File","type":"main","index":0}]]},"Prepare Comparison Data":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"Set File Content (Create)":{"main":[[{"node":"Convert to Binary (Create)","type":"main","index":0}]]},"Convert to Binary (Create)":{"main":[[{"node":"GitHub: Create File","type":"main","index":0}]]},"Set File Content (Update)":{"main":[[{"node":"Convert to Binary (Update)","type":"main","index":0}]]},"Convert to Binary (Update)":{"main":[[{"node":"GitHub: Update File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f2a54474-c9e9-46d9-9afd-a5e9ef6229f0","triggerCount":0,"shared":[{"createdAt":"2025-09-11T00:11:23.690Z","updatedAt":"2025-09-11T00:11:23.690Z","role":"workflow:owner","workflowId":"yCg7rJhcF9dqUwhj","projectId":"HHLWOKEAArOwm3kN"}],"tags":[]}