workflows/0bZkJfpAxCbtKDcI.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T11:13:49.664Z",
  "id": "0bZkJfpAxCbtKDcI",
  "isArchived": false,
  "meta": null,
  "name": "To Extract hours,date and year from ISO format and convert into human readable format",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -32
      ],
      "id": "c74e7ae9-5542-41d7-8297-c33d7675d495",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11912707-3da8-47a1-a43c-b7f0cc00e253",
              "name": "date",
              "value": "2025-09-25T09:01:21.000+05:00",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -32
      ],
      "id": "8a024a7d-b294-48f7-a495-1a8cc3217714",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45fb1221-0b48-46ba-bf5c-0433c5e14ede",
              "name": "date1",
              "value": "={{ $json.date.toDateTime().toFormat('EEEE, MMMM d, yyyy, h:mm a') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -32
      ],
      "id": "df235ea6-3b94-4830-8b39-853499432e21",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T11:13:49.667Z",
      "updatedAt": "2025-09-24T11:13:49.667Z",
      "role": "workflow:owner",
      "workflowId": "0bZkJfpAxCbtKDcI",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-24T11:29:04.000Z",
  "versionId": "fa41f453-587f-474d-b816-efe086516bf2"
}