workflows/0wEO94EbDLFqh9Bt.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-19T11:18:22.021Z",
  "id": "0wEO94EbDLFqh9Bt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Reschedule",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1584,
        -32
      ],
      "id": "0980d0f2-02fc-4a22-85f4-c806a63289e2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        224
      ],
      "id": "6489592e-bf6b-422c-bcd1-5c99d1a1dd7d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cal.com/v2/bookings/{{ $json.booking_id }}/reschedule",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ $json.isoDateTime }}"
            },
            {
              "name": "reschedulingReason",
              "value": "={{ $json.reason }}"
            },
            {
              "name": "rescheduledBy",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        -32
      ],
      "id": "e3f622df-6019-4997-b5c6-7958371f6d13",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// This code correctly handles double-stringified JSON for a reschedule request\n// and outputs each piece of data as a separate, top-level field.\n\nconst item = items[0];\n\n// 1. Get the initial string from the 'query' property.\nconst initialString = item.json.query;\n\n// Safety check for missing input\nif (!initialString) {\n  item.json.error = \"The 'query' property is missing or empty.\";\n  return [item];\n}\n\ntry {\n  // 2. First parse: Convert the outer string into an array.\n  // Input: \"[{\\\"query\\\":\\\"{\\\\\\\"booking_id\\\\\\\":...}\\\"}]\"\n  // Output: [{ query: \"{\\\"booking_id\\\":...}\" }]\n  const outerArray = JSON.parse(initialString);\n\n  // 3. Extract the nested string from the first object in the array.\n  const nestedString = outerArray[0]?.query;\n\n  // Safety check if the nested string is missing\n  if (!nestedString) {\n    item.json.error = \"The nested 'query' string is missing.\";\n    return [item];\n  }\n\n  // 4. Second parse: Convert the nested string into the final data object.\n  // Input: \"{\\\"booking_id\\\":...}\"\n  // Output: { booking_id: \"...\", new_isoDateTime: \"...\" }\n  const data = JSON.parse(nestedString);\n\n  // 5. Create the new, separate fields in the output.\n  // We use a fallback 'null' in case a field is missing.\n  item.json.booking_id = data.booking_id || null;\n  // --- CORRECTED KEY NAME ---\n  item.json.isoDateTime = data.new_isoDateTime || null; \n  item.json.email = data.email || null;\n  item.json.reason = data.reason || null;\n\n} catch (error) {\n  item.json.error = `Failed to parse query string: ${error.message}`;\n}\n\n// Return the item with all the new, clean fields.\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        -32
      ],
      "id": "a25f0d17-4365-45f9-8e39-ec153be82ff5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cf31534-5b11-4885-880f-fb4cc33474de",
              "name": "booking_id",
              "value": "={{ $json.booking_id }}",
              "type": "string"
            },
            {
              "id": "a27d22ed-dbc9-4db7-8f72-14592316480b",
              "name": "isoDateTime",
              "value": "={{ $json.isoDateTime }}",
              "type": "string"
            },
            {
              "id": "d0ede30a-927c-4d1b-a4ec-fff5a3649f34",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "811ea2fd-f70a-48fc-9564-1c4c8adad958",
              "name": "reason",
              "value": "={{ $json.reason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        -32
      ],
      "id": "c5dfc20c-cd18-4e1d-918a-cc0814ba6ce0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "{\"booking_id\":\"appt_12345abc\",\"isoDateTime\":\"2025-10-15T10:00:00.000Z\",\"email\":\"john.doe.client@example.com\",\"reason\":\"Client had a personal emergency and needs to move the appointment.\"}"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-19T11:18:22.023Z",
      "updatedAt": "2025-09-19T11:18:22.023Z",
      "role": "workflow:owner",
      "workflowId": "0wEO94EbDLFqh9Bt",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-20T09:48:58.000Z",
  "versionId": "903cd071-6512-4193-b28f-9da730b80bc1"
}