workflows/1AYQrsKMzalLMqgo.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-21T11:16:50.811Z",
  "id": "1AYQrsKMzalLMqgo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WEBSITE CHATBOT LIKE PERPLEXITY",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7a9b897b-6b91-445a-a28e-2e9b3281b171",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -16
      ],
      "id": "7178a50a-cc4f-4310-9804-b9f12b1afb31",
      "name": "Webhook",
      "webhookId": "7a9b897b-6b91-445a-a28e-2e9b3281b171"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        -16
      ],
      "id": "74050769-1b24-4ab7-96cf-7b66ba9b780a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        -16
      ],
      "id": "7e13342a-3406-452e-8e1b-070b5f62f950",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -464,
        192
      ],
      "id": "176907a6-b718-4e90-80ef-58444f5e1f97",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sPfpmF39mpaLYCjc",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-21T11:16:50.815Z",
      "updatedAt": "2025-09-21T11:16:50.815Z",
      "role": "workflow:owner",
      "workflowId": "1AYQrsKMzalLMqgo",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-21T11:29:25.000Z",
  "versionId": "83e913c0-80a5-47ef-a0e1-9f5b834d2b78"
}