workflows/1rb07mDmp9kqFvJf.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Vertex": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Vertex1": {
      "ai_embedding": [
        [
          {
            "node": "Contacts_Data",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Contacts_Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-18T05:25:54.275Z",
  "id": "1rb07mDmp9kqFvJf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Simple Email AI Agent:https://youtu.be/YFrej2oSldo?si=AdyrncSTvheefAIq",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        176
      ],
      "id": "037a21d6-b9d9-43c2-80e8-682924495e3f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "18Ug07Sk_iLFtAJuuh-izvsHXIcX2m8p28mm8lcYhcdI"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -944,
        176
      ],
      "id": "c8ea05b6-7b17-4151-afaa-79c78fcefd16",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "GK9oUvc6s4mTkl1T",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -688,
        -32
      ],
      "id": "12f338f8-16d6-4903-b565-d8cf05c4370a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "MCizEh7d46MX4OUR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -592,
        192
      ],
      "id": "551b8847-b66b-4344-ad61-37e97f69fcf4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -512,
        400
      ],
      "id": "af71f0de-e360-4ea9-92c6-e683ce467019",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "modified-keep-470614-p0",
          "mode": "list",
          "cachedResultName": "My First Project"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleVertex",
      "typeVersion": 1,
      "position": [
        -720,
        192
      ],
      "id": "642c86cc-3374-4a77-a88c-0937de62340f",
      "name": "Embeddings Google Vertex",
      "credentials": {
        "googleApi": {
          "id": "r6bDu2a9hxhItPLs",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Rag System to retrieve data of emails.",
        "height": 672,
        "width": 1056,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        -80
      ],
      "typeVersion": 1,
      "id": "22ec5f36-0bba-4e69-b790-52b8d4db4487",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Send Email System",
        "height": 672,
        "width": 1056,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -80
      ],
      "typeVersion": 1,
      "id": "d922dd63-de14-423e-a4d4-44431f5ab299",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -64,
        128
      ],
      "id": "643f4dc0-6fe9-469a-ab0b-a36a6f86edae",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sendTo }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $json.bccList }}",
          "ccList": "={{ $json.ccList }}",
          "senderName": "Ubaid Nasir"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        128
      ],
      "id": "32d254f8-de09-43b2-8685-7925e0b646fc",
      "name": "Send a message",
      "webhookId": "1e8d6280-5fdc-4e44-a66f-eb768f76dc01",
      "credentials": {
        "gmailOAuth2": {
          "id": "s2WwkLntcEWdzNj9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the stringified JSON from the 'query' field of the input.\nconst queryString = $input.item.json.query;\n\n// 2. Parse the string to get the initial JavaScript object.\n//    This assumes the 'queryString' is VALID JSON.\nconst initialData = JSON.parse(queryString);\n\n// 3. Access the 'parameters' object that is nested inside.\nconst parametersObject = initialData.parameters;\n\n// 4. Create the final flat object by merging the 'parameters' object\n//    with the nested 'options' object inside it. This is the \"flattening\" step.\nconst finalObject = {\n  ...parametersObject,\n  ...parametersObject.options\n};\n\n// 5. Remove the now-redundant 'options' key from the final object.\ndelete finalObject.options;\n\n// 6. Return the final, flat object. This will be the output of the node.\nreturn finalObject;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        128
      ],
      "id": "bbe0e808-0060-4526-845e-79fde93594c5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "Parsing and formating the data.",
        "height": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        80
      ],
      "typeVersion": 1,
      "id": "38c4a2e0-a467-49d3-ad87-6a0d1cda78a2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b337320-1dca-4947-a241-68d0cb65c6cf",
              "name": "response",
              "value": "set",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        128
      ],
      "id": "8bc860ff-282b-40ce-8ee9-e2f86ee9e1a2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Chat System to send email",
        "height": 672,
        "width": 1056,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        624
      ],
      "typeVersion": 1,
      "id": "5d5857bd-36e7-4f4b-960f-2bfb1354164f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1152,
        736
      ],
      "id": "7cc5d064-21bb-49d3-9e5b-21399501106d",
      "name": "When chat message received",
      "webhookId": "a784cc78-022f-4d80-b41e-7cc8b1a1709e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a precision-focused AI assistant whose only job is to prepare data for sending an email. You will do this by using the \"send_email_workflow\" tool.\n\n**Your Task in Detail:**\n\nWhen the user asks you to send an email, you must parse their request and construct a very specific, nested JSON object. This object will be stringified and passed as the 'query' parameter to the \"send_email_workflow\" tool.\n\n**Rules for Building the JSON Object:**\n\n1.  **The Top Level:** The JSON object must have a single top-level key called `\"parameters\"`.\n\n2.  **Inside `\"parameters\"`:** The `\"parameters\"` object must contain the following keys:\n    *   `\"sendTo\"`: Extract the recipient's email address from the user's message.\n    *   `\"subject\"`: Extract the email subject from the user's message.\n    *   `\"message\"`: Extract the main body/content of the email from the user's message.\n    *   `\"emailType\"`: This must ALWAYS be the hardcoded string `\"text\"`.\n    *   `\"options\"`: This must be a nested JSON object.\n\n3.  **Inside the nested `\"options\"` object:** This object must contain the following keys with these exact, hardcoded values:\n    *   `\"appendAttribution\"`: Must ALWAYS be `false` (the boolean, not the string).\n    *   `\"bccList\"`: Must ALWAYS be the string `\"\"`.\n    *   `\"ccList\"`: Must ALWAYS be the string `\"\"`.\n    *   `\"senderName\"`: Must ALWAYS be an empty string `\"\"`.\n\n**Crucial Example:**\n\nIf the user says: \"Hey, send an email to `noah.patel@email.com`. The subject is `Birthday Wishes` and the message should be `Happy birthday, hope you have a great day!`\"\n\nYou MUST call the \"send_email_workflow\" tool with the 'query' parameter structured EXACTLY like this:\n\n`{\"query\":\"{\\\"parameters\\\":{\\\"sendTo\\\":\\\"noah.patel@email.com\\\",\\\"subject\\\":\\\"Birthday Wishes\\\",\\\"emailType\\\":\\\"text\\\",\\\"message\\\":\\\"Happy birthday, hope you have a great day!\\\",\\\"options\\\":{\\\"appendAttribution\\\":false,\\\"bccList\\\":\\\"=\\\",\\\"ccList\\\":\\\"=\\\",\\\"senderName\\\":\\\"\\\"}}}\"`\n\n**Final Instructions:**\n\n*   If you do not have the `sendTo`, `subject`, or `message` information, you MUST ask the user for the missing details before calling the tool.\n*   Your final output to the tool MUST be ONLY the `{\"query\":\"...\"}` JSON structure. Do not add any conversational text, explanations, or markdown code blocks like ```json.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -800,
        672
      ],
      "id": "af285880-e16c-4345-95df-e0bfa9843e89",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "modified-keep-470614-p0",
          "mode": "list",
          "cachedResultName": "My First Project"
        },
        "modelName": "gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        -1008,
        912
      ],
      "id": "c915af0f-ec16-4b38-bcc9-f5149b98c359",
      "name": "Google Vertex Chat Model",
      "credentials": {
        "googleApi": {
          "id": "r6bDu2a9hxhItPLs",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool when you need to send an email.",
        "workflowId": {
          "__rl": true,
          "value": "1rb07mDmp9kqFvJf",
          "mode": "list",
          "cachedResultName": "Simple Email AI Agent:https://youtu.be/YFrej2oSldo?si=AdyrncSTvheefAIq"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -848,
        896
      ],
      "id": "cbf45537-a2ce-492f-b4c8-b02b9e94cbdc",
      "name": "Call n8n Workflow",
      "notesInFlow": false
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "modified-keep-470614-p0",
          "mode": "list",
          "cachedResultName": "My First Project"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleVertex",
      "typeVersion": 1,
      "position": [
        -624,
        1088
      ],
      "id": "ce95613f-ef4f-4ec0-90b4-7f13c4631903",
      "name": "Embeddings Google Vertex1",
      "credentials": {
        "googleApi": {
          "id": "r6bDu2a9hxhItPLs",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this to tool to retrieve information about contacts like email address.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -704,
        896
      ],
      "id": "b4197df9-5532-46ac-8ea3-957b0db67b76",
      "name": "Contacts_Data",
      "credentials": {
        "supabaseApi": {
          "id": "MCizEh7d46MX4OUR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -768,
        1056
      ],
      "id": "2c773826-30a3-49b4-acb2-8d66126d6808",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "{\"parameters\":{\"sendTo\":\"\",\"subject\":\"\",\"emailType\":\"text\",\"message\":\"\",\"options\":{\"appendAttribution\":false,\"bccList\":\"\",\"ccList\":\"\",\"senderName\":\"\"}}}"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-18T05:25:54.279Z",
      "updatedAt": "2025-09-18T05:25:54.279Z",
      "role": "workflow:owner",
      "workflowId": "1rb07mDmp9kqFvJf",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-13T15:46:00.165Z",
      "updatedAt": "2025-09-13T15:46:00.165Z",
      "id": "lh1dWgd93NYopI0g",
      "name": "Successful Workflow"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-18T08:34:18.000Z",
  "versionId": "1192c366-74ce-49ed-8afa-defb35a22a03"
}