workflows/48dxAa4ah0S8q6ZQ.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GeoCoding",
            "type": "main",
            "index": 0
          },
          {
            "node": "UNIX TimeStap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GeoCoding": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Distance Matrix": {
      "main": [
        []
      ]
    },
    "UNIX TimeStap": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Distance Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-03T22:34:59.149Z",
  "id": "48dxAa4ah0S8q6ZQ",
  "isArchived": false,
  "meta": null,
  "name": "blank",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        64
      ],
      "id": "8041bfcf-94a7-43bb-9267-2db0445393aa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.serviceAgentAddress.replace(/ /g, '+') }}|{{ $json.customerAddress.replace(/ /g, '+') }}"
            },
            {
              "name": "key",
              "value": "AIzaSyDx9u7u9BEaMo-bUNXmzJXXORd1kHXaLv8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -32
      ],
      "id": "0d0f20e6-f563-476d-ae87-97ff2a478775",
      "name": "GeoCoding"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/distancematrix/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "origins",
              "value": "={{ $json.results[0].geometry.location.lat }},{{ $json.results[0].geometry.location.lng }}"
            },
            {
              "name": "destinations",
              "value": "={{ $json.results[1].geometry.location.lat }},{{ $json.results[1].geometry.location.lng }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "mode",
              "value": "driving"
            },
            {
              "name": "departure_time",
              "value": "={{ $json.unixTimestamp }}"
            },
            {
              "name": "key",
              "value": "AIzaSyDx9u7u9BEaMo-bUNXmzJXXORd1kHXaLv8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        64
      ],
      "id": "81cfe5ca-fd3e-400e-860d-41cfd8ee2b63",
      "name": "Distance Matrix"
    },
    {
      "parameters": {
        "jsCode": "// This version is compatible with older n8n instances.\n\nfor (const item of items) {\n  // The input field name from your data.\n  const inputFieldName = 'avaiableTime';\n\n  // The desired name for the output field.\n  const outputFieldName = 'unixTimestamp';\n\n  const isoString = item.json[inputFieldName];\n\n  if (!isoString) {\n    item.json.error = `Input field '${inputFieldName}' not found.`;\n    continue;\n  }\n\n  // Create a Date object from the ISO string.\n  const dateObject = new Date(isoString);\n\n  // Check if the date is valid.\n  if (isNaN(dateObject.getTime())) {\n    item.json.error = `Invalid date format in '${inputFieldName}': ${isoString}`;\n    continue;\n  }\n\n  // Convert milliseconds to seconds for the UNIX timestamp.\n  const unixTimestampInSeconds = Math.floor(dateObject.getTime() / 1000);\n\n  // Add the new field to the item.\n  item.json[outputFieldName] = unixTimestampInSeconds;\n}\n\n// Return the modified data.\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        160
      ],
      "id": "7bc857f8-e074-4179-ba49-5f5c436e8d99",
      "name": "UNIX TimeStap"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        64
      ],
      "id": "d5bd7eac-2bb9-4cd8-9e71-cad0da4601c8",
      "name": "Merge"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "serviceAgentAddress": "1560 Broadway, New York, NY 10036, USA",
          "customerAddress": "11 Brooklyn Bridge Blvd, Brooklyn, NY 11201, USA",
          "avaiableTime": "2025-10-05T22:30:00+05:00"
        }
      }
    ],
    "GeoCoding": [
      {
        "json": {
          "results": [
            {
              "address_components": [
                {
                  "long_name": "1560",
                  "short_name": "1560",
                  "types": [
                    "street_number"
                  ]
                },
                {
                  "long_name": "Broadway",
                  "short_name": "Broadway",
                  "types": [
                    "route"
                  ]
                },
                {
                  "long_name": "Manhattan",
                  "short_name": "Manhattan",
                  "types": [
                    "political",
                    "sublocality",
                    "sublocality_level_1"
                  ]
                },
                {
                  "long_name": "New York",
                  "short_name": "New York",
                  "types": [
                    "locality",
                    "political"
                  ]
                },
                {
                  "long_name": "New York County",
                  "short_name": "New York County",
                  "types": [
                    "administrative_area_level_2",
                    "political"
                  ]
                },
                {
                  "long_name": "New York",
                  "short_name": "NY",
                  "types": [
                    "administrative_area_level_1",
                    "political"
                  ]
                },
                {
                  "long_name": "United States",
                  "short_name": "US",
                  "types": [
                    "country",
                    "political"
                  ]
                },
                {
                  "long_name": "10036",
                  "short_name": "10036",
                  "types": [
                    "postal_code"
                  ]
                },
                {
                  "long_name": "1537",
                  "short_name": "1537",
                  "types": [
                    "postal_code_suffix"
                  ]
                }
              ],
              "formatted_address": "1560 Broadway, New York, NY 10036, USA",
              "geometry": {
                "location": {
                  "lat": 40.7589202,
                  "lng": -73.9846853
                },
                "location_type": "ROOFTOP",
                "viewport": {
                  "northeast": {
                    "lat": 40.7603873802915,
                    "lng": -73.98320716970849
                  },
                  "southwest": {
                    "lat": 40.7576894197085,
                    "lng": -73.9859051302915
                  }
                }
              },
              "navigation_points": [
                {
                  "location": {
                    "latitude": 40.7590999,
                    "longitude": -73.9844633
                  }
                }
              ],
              "partial_match": true,
              "place_id": "ChIJTb4Fv1VYwokRC4f88R92His",
              "types": [
                "street_address",
                "subpremise"
              ]
            },
            {
              "address_components": [
                {
                  "long_name": "11",
                  "short_name": "11",
                  "types": [
                    "street_number"
                  ]
                },
                {
                  "long_name": "Brooklyn Bridge Boulevard",
                  "short_name": "Brooklyn Bridge Blvd",
                  "types": [
                    "route"
                  ]
                },
                {
                  "long_name": "Downtown Brooklyn",
                  "short_name": "Downtown Brooklyn",
                  "types": [
                    "neighborhood",
                    "political"
                  ]
                },
                {
                  "long_name": "Brooklyn",
                  "short_name": "Brooklyn",
                  "types": [
                    "political",
                    "sublocality",
                    "sublocality_level_1"
                  ]
                },
                {
                  "long_name": "Kings County",
                  "short_name": "Kings County",
                  "types": [
                    "administrative_area_level_2",
                    "political"
                  ]
                },
                {
                  "long_name": "New York",
                  "short_name": "NY",
                  "types": [
                    "administrative_area_level_1",
                    "political"
                  ]
                },
                {
                  "long_name": "United States",
                  "short_name": "US",
                  "types": [
                    "country",
                    "political"
                  ]
                },
                {
                  "long_name": "11201",
                  "short_name": "11201",
                  "types": [
                    "postal_code"
                  ]
                }
              ],
              "formatted_address": "11 Brooklyn Bridge Blvd, Brooklyn, NY 11201, USA",
              "geometry": {
                "location": {
                  "lat": 40.6950959,
                  "lng": -73.9889499
                },
                "location_type": "RANGE_INTERPOLATED",
                "viewport": {
                  "northeast": {
                    "lat": 40.6964448802915,
                    "lng": -73.9876009197085
                  },
                  "southwest": {
                    "lat": 40.6937469197085,
                    "lng": -73.9902988802915
                  }
                }
              },
              "partial_match": true,
              "place_id": "EjAxMSBCcm9va2x5biBCcmlkZ2UgQmx2ZCwgQnJvb2tseW4sIE5ZIDExMjAxLCBVU0EiMBIuChQKEgm1yvuJSVrCiRElQvxu_vntDxALKhQKEgl5IztWSVrCiRHpNw-vY4xa7w",
              "types": [
                "street_address"
              ]
            },
            {
              "address_components": [
                {
                  "long_name": "11",
                  "short_name": "11",
                  "types": [
                    "street_number"
                  ]
                },
                {
                  "long_name": "Broadway",
                  "short_name": "Broadway",
                  "types": [
                    "route"
                  ]
                },
                {
                  "long_name": "Manhattan",
                  "short_name": "Manhattan",
                  "types": [
                    "political",
                    "sublocality",
                    "sublocality_level_1"
                  ]
                },
                {
                  "long_name": "New York",
                  "short_name": "New York",
                  "types": [
                    "locality",
                    "political"
                  ]
                },
                {
                  "long_name": "New York County",
                  "short_name": "New York County",
                  "types": [
                    "administrative_area_level_2",
                    "political"
                  ]
                },
                {
                  "long_name": "New York",
                  "short_name": "NY",
                  "types": [
                    "administrative_area_level_1",
                    "political"
                  ]
                },
                {
                  "long_name": "United States",
                  "short_name": "US",
                  "types": [
                    "country",
                    "political"
                  ]
                },
                {
                  "long_name": "10038",
                  "short_name": "10038",
                  "types": [
                    "postal_code"
                  ]
                },
                {
                  "long_name": "1013",
                  "short_name": "1013",
                  "types": [
                    "postal_code_suffix"
                  ]
                }
              ],
              "formatted_address": "11 Broadway, New York, NY 10038, USA",
              "geometry": {
                "location": {
                  "lat": 40.73509139999999,
                  "lng": -73.9931265
                },
                "location_type": "ROOFTOP",
                "viewport": {
                  "northeast": {
                    "lat": 40.7363708302915,
                    "lng": -73.9918284197085
                  },
                  "southwest": {
                    "lat": 40.7336728697085,
                    "lng": -73.9945263802915
                  }
                }
              },
              "navigation_points": [
                {
                  "location": {
                    "latitude": 40.73500740000001,
                    "longitude": -73.993188
                  }
                }
              ],
              "partial_match": true,
              "place_id": "ChIJVVUBR5hZwokR16lbNJ_RJHg",
              "types": [
                "street_address",
                "subpremise"
              ]
            }
          ],
          "status": "OK"
        }
      }
    ],
    "Distance Matrix": [
      {
        "json": {
          "destination_addresses": [
            "158 Adams St, Brooklyn, NY 11201, USA"
          ],
          "origin_addresses": [
            "1560 Broadway, New York, NY 10036, USA"
          ],
          "rows": [
            {
              "elements": [
                {
                  "distance": {
                    "text": "9.1 km",
                    "value": 9086
                  },
                  "duration": {
                    "text": "33 mins",
                    "value": 1951
                  },
                  "duration_in_traffic": {
                    "text": "35 mins",
                    "value": 2124
                  },
                  "status": "OK"
                }
              ]
            }
          ],
          "status": "OK"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-03T22:34:59.152Z",
      "updatedAt": "2025-10-03T22:34:59.152Z",
      "role": "workflow:owner",
      "workflowId": "48dxAa4ah0S8q6ZQ",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-04T20:28:26.000Z",
  "versionId": "015e418f-4d6d-407a-ac38-35db048b6a79"
}