workflows/57WJUBb1mBQlI2GJ.json
{
  "active": false,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'My Own Practice'": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Call 'My Own Practice'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Call 'My Own Practice'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'My Own Practice'1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-29T09:40:34.317Z",
  "id": "57WJUBb1mBQlI2GJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Email Scraper For Dental Clinic for free:My own made workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Task: Find 100 dental clinic website URLs in the United States.\n\nInstructions:\n1. Use Google Maps or publicly available online sources to identify dental clinics located in the USA.\n2. Only include clinics that have a website listed. Skip clinics without websites.\n3. Do not include clinics outside the USA.\n4. Provide exact website URLs only, no extra information like addresses, phone numbers, or emails.\n5. Return the output as a plain list, one URL per line, in JSON format if possible.\n6. Make sure the URLs are live and correctly formatted (include https:// if applicable).\n7. Limit the output to exactly 100 unique websites.\n8. Exclude any websites already found in the Google Sheets tool.\n",
        "options": {
          "systemMessage": "=You are an expert AI agent that finds website URLs of dental clinics located only in the USA using Google Maps or other public online sources.  \n\nSTRICT RULES:\n- Only return valid URLs of dental clinics’ official websites along with the official name of the dental clinic as it appears on the website.\n- Do not include addresses, phone numbers, emails, or non-dental businesses.  \n- Always output strictly in JSON format with this structure:  \n\n{ \n\"websites\": [ \n\"https://www.exampleclinic1.com\", \n\"https://www.exampleclinic2.com\", \n... \n ] \n}\n\n\n- Always use the tool `Get row(s) in sheet in Google Sheets` to check for existing URLs.  \n  - Never return or search for any URLs already listed in the sheet.  \n  - Only provide new, unique website URLs not found in the sheet.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        -48
      ],
      "id": "291be94c-953e-49cb-80b0-1870f37e26af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -464,
        160
      ],
      "id": "5a82e877-54ae-4057-bb41-27749d754174",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sPfpmF39mpaLYCjc",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6166317f-7ce3-4b39-aa22-6ca96fb2cad5",
              "name": "=query",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -48
      ],
      "id": "4dd7b6ee-57f8-492a-a958-64f1fd854838",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// The input data is a string in items[0].json.query\nconst rawInputString = items[0].json.query;\n\n// The actual JSON data is embedded inside this string. We need to extract it.\n// Let's find the first '{' and the last '}' to get the JSON part.\nconst startIndex = rawInputString.indexOf('{');\nconst endIndex = rawInputString.lastIndexOf('}');\n\n// Check if we found a valid JSON object block\nif (startIndex === -1 || endIndex === -1) {\n  throw new Error(\"Could not find a JSON object in the input string.\");\n}\n\n// Extract the clean JSON string from between the braces\nconst jsonString = rawInputString.substring(startIndex, endIndex + 1);\n\ntry {\n  // Now, parse the clean JSON string\n  const data = JSON.parse(jsonString);\n\n  // The URLs are in an array under the 'websites' key\n  const websites = data.websites;\n\n  // Return a new item for each website. This is the standard\n  // way to process lists, allowing subsequent nodes to run\n  // for each individual URL.\n  return websites.map(url => {\n    return {\n      json: {\n        url: url\n      }\n    };\n  });\n\n} catch (error) {\n  // If parsing still fails, throw a more informative error\n  throw new Error(`Failed to parse JSON. Error: ${error.message}.`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -48
      ],
      "id": "abd82ce6-c805-4d85-9602-7eb0a22c60eb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SqQo5bPrZtgzPhzUPJHw9ikI4lKY0CPPQRBEjSQZBo8",
          "mode": "list",
          "cachedResultName": "Url Storage:Dental Clinics,Salons,BarberShops,Day Spa and MedSpa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SqQo5bPrZtgzPhzUPJHw9ikI4lKY0CPPQRBEjSQZBo8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SqQo5bPrZtgzPhzUPJHw9ikI4lKY0CPPQRBEjSQZBo8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Url": "={{ $json.url }}",
            "Name of the Clinic": "={{ $json.name }}"
          },
          "matchingColumns": [
            "Url"
          ],
          "schema": [
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PhoneNumber",
              "displayName": "PhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name of the Clinic",
              "displayName": "Name of the Clinic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Sended?",
              "displayName": "Email Sended?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -48
      ],
      "id": "85205904-d77e-46bd-9c3d-54c71a328253",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JOHwDixlr7umKmYo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        -48
      ],
      "id": "74d8a0f4-c73f-42bf-804c-83f95a847573",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "To get website url of dental clinic in usa from google maps",
        "height": 656,
        "width": 2208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        -272
      ],
      "typeVersion": 1,
      "id": "e16c2f25-d562-48e5-b3c3-c10fae901cc1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "To find Email and phone number of stored urls",
        "height": 608,
        "width": 2208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        400
      ],
      "typeVersion": 1,
      "id": "86b96284-3016-43cd-934e-f31bbcff3243",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "57WJUBb1mBQlI2GJ",
          "mode": "list",
          "cachedResultName": "Email Scraper For Dental Clinic for free:My own made workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        864,
        16
      ],
      "id": "48cf0415-84e8-4148-9657-a57b5ab07632",
      "name": "Call 'My Own Practice'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        -48
      ],
      "id": "6d393e5f-2758-49e6-a070-3acbe70dbb88",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        16
      ],
      "id": "21d32a83-fe2c-4e23-a15d-d054c9a251b3",
      "name": "Wait",
      "webhookId": "72583972-f7ba-4e97-9d8d-470dacbccdb3"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        592
      ],
      "id": "59b80e66-3b91-4e16-8554-dd230ca4d89b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SqQo5bPrZtgzPhzUPJHw9ikI4lKY0CPPQRBEjSQZBo8",
          "mode": "list",
          "cachedResultName": "Url Storage:Dental Clinics,Salons,BarberShops,Day Spa and MedSpa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SqQo5bPrZtgzPhzUPJHw9ikI4lKY0CPPQRBEjSQZBo8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SqQo5bPrZtgzPhzUPJHw9ikI4lKY0CPPQRBEjSQZBo8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email ": "={{ $json.email ? $json.email : 'notProvided' }}",
            "PhoneNumber": "={{ $json.phone ? $json.phone : 'notProvided' }}",
            "Url": "={{ $('When Executed by Another Workflow').item.json.Url }}",
            "Name of the Clinic": "={{ $json.name }}",
            "Email Sended?": "No"
          },
          "matchingColumns": [
            "Url"
          ],
          "schema": [
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PhoneNumber",
              "displayName": "PhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name of the Clinic",
              "displayName": "Name of the Clinic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Sended?",
              "displayName": "Email Sended?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        592
      ],
      "id": "23505273-02ca-400d-9d0b-f0ad5fc5637a",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JOHwDixlr7umKmYo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SqQo5bPrZtgzPhzUPJHw9ikI4lKY0CPPQRBEjSQZBo8",
          "mode": "list",
          "cachedResultName": "Url Storage:Dental Clinics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SqQo5bPrZtgzPhzUPJHw9ikI4lKY0CPPQRBEjSQZBo8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SqQo5bPrZtgzPhzUPJHw9ikI4lKY0CPPQRBEjSQZBo8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -176,
        128
      ],
      "id": "ab077ad5-5966-4414-bb84-7aaf1aa2e262",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JOHwDixlr7umKmYo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FaBU6QRJJzbX1ap7",
          "mode": "list",
          "cachedResultName": "Dental Clinic"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        784,
        592
      ],
      "id": "509b3383-20d2-4aa3-aea9-3e53c4366fa8",
      "name": "Call 'My Own Practice'1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract clinic name, email, and phone.\n\nReference URL: {{ $('Loop Over Items1').item.json.query }}\nWebsite HTML content: {{ $json.data }}"
            },
            {
              "content": "=You are an extraction engine. \nUse ONLY the provided website HTML (from {{ $json.data }}) to extract data. \nThe URL ({{ $('Loop Over Items1').item.json.query }}) is for reference only, NOT for extraction.\n\nRules:\n- Return only clinic name, email, and phone.\n- Output must be raw JSON only, no extra text or code fences.\n- If a field is missing, set it to null.\n- Email must match local@domain.tld or null.\n- Phone must match a real number format or null.\n- Name must come only from official branding in the HTML (title tag, header, logo) or null.\n\nFormat:\n{\n  \"email\": \"example@example.com\",\n  \"phone\": \"(212) 452-3344\",\n  \"name\": \"Forest Dental Clinic\"\n}\n",
              "role": "model"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        592
      ],
      "id": "dfd0ddcd-7c1e-4c95-8619-7163af5fe8d9",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "sPfpmF39mpaLYCjc",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.query }}",
        "options": {
          "batching": {
            "batch": {}
          },
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "maxRedirects": 10
            }
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": "=30000"
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        592
      ],
      "id": "ada9844b-6a39-46f5-8c16-00deeae5ab6c",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        592
      ],
      "id": "e3424b99-f8e5-4a5b-9f10-bd96c1300e5e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -176,
        592
      ],
      "id": "0f619b9a-1988-4c8b-aa2c-df325abd10a8",
      "name": "Wait1",
      "webhookId": "ed36133a-03eb-4d4d-b554-02f9ccab67fe"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw AI output (nested parts)\nconst parts = $json?.content?.parts || [];\nlet raw = \"\";\n\n// Try to grab the second part, where the JSON usually is\nif (parts.length > 1 && parts[1].text) {\n  raw = parts[1].text;\n} else if (parts.length > 0 && parts[0].text) {\n  raw = parts[0].text;\n}\n\n// 1. Remove code fences (```json ... ```)\nlet cleaned = raw.replace(/```json|```/g, \"\").trim();\n\n// 2. Remove escaped newlines\ncleaned = cleaned.replace(/\\\\n/g, \"\\n\").trim();\n\n// 3. Parse JSON safely\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    email: null,\n    phone: null,\n    name: null,\n    error: \"Failed to parse AI output\"\n  };\n}\n\n// Always enforce structure\nreturn {\n  email: parsed.email || null,\n  phone: parsed.phone || null,\n  name: parsed.name || null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        592
      ],
      "id": "01ed3794-29ad-4131-95e1-b2dfc5295dcf",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "\n"
              },
              {
                "text": "```json\n{\n  \"email\": \"info@comfortdental.biz\",\n  \"phone\": \"855-526-6524\",\n  \"name\": \"Comfort Dental\"\n}\n```"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "https://www.dentaldepot.net"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-29T09:40:34.320Z",
      "updatedAt": "2025-09-29T09:40:34.320Z",
      "role": "workflow:owner",
      "workflowId": "57WJUBb1mBQlI2GJ",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T14:42:18.000Z",
  "versionId": "256a3dea-9f63-4cd3-8301-ed6b77c019e4"
}