workflows/5bDvmYVoWIuwOAdb.json
{
  "active": false,
  "connections": {
    "HubSpot Trigger": {
      "main": [
        [
          {
            "node": "Get a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a contact": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-16T07:51:02.184Z",
  "id": "5bDvmYVoWIuwOAdb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "https://youtu.be/_1eJ3uqsbq0?si=VL2-JtZPqlov7tLC",
  "nodes": [
    {
      "parameters": {
        "eventsUi": {
          "eventValues": [
            {}
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspotTrigger",
      "typeVersion": 1,
      "position": [
        -1824,
        -304
      ],
      "id": "021b3d3f-04a9-41a6-b41a-fb95159707b9",
      "name": "HubSpot Trigger",
      "webhookId": "189a762b-b3ff-4f26-9475-a748ffefd231",
      "credentials": {
        "hubspotDeveloperApi": {
          "id": "UU0vTGx8IX8nNpxT",
          "name": "HubSpot Developer account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "value": "={{ $json.contactId }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -1616,
        -304
      ],
      "id": "69d26dc3-3711-4875-aee2-aefb06d5bae7",
      "name": "Get a contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "F3cWwdJSEEGYNnP9",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b5628cb-4181-4ab8-9ded-6416e652792d",
              "leftValue": "={{ $json.properties.hs_lead_status.value }}",
              "rightValue": "NEW",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1408,
        -304
      ],
      "id": "0351e407-3b1d-4e9c-be4e-50f2f6fd087c",
      "name": "If"
    }
  ],
  "pinData": {
    "HubSpot Trigger": [
      {
        "json": {
          "eventId": 3155289374,
          "subscriptionId": 4290291,
          "portalId": 243774524,
          "appId": 19978584,
          "occurredAt": 1758021356684,
          "subscriptionType": "contact.creation",
          "attemptNumber": 0,
          "changeFlag": "CREATED",
          "changeSource": "CRM_UI",
          "sourceId": "userId:82994902",
          "contactId": 247187843832
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-16T07:51:02.186Z",
      "updatedAt": "2025-09-16T07:51:02.186Z",
      "role": "workflow:owner",
      "workflowId": "5bDvmYVoWIuwOAdb",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-16T22:47:59.000Z",
  "versionId": "8bf63514-8456-4b73-8e23-4a0211cc256f"
}