workflows/8nuXnmk2Lsg4WAXN.json
{
  "active": false,
  "connections": {
    "Run workflow": {
      "main": [
        [
          {
            "node": "Loop over queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over URLs": {
      "main": [
        [
          {
            "node": "Loop over pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request web page for URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over pages": {
      "main": [
        [
          {
            "node": "Aggregate arrays of emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape emails from page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over queries": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate URLs": {
      "main": [
        [
          {
            "node": "Loop over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter irrelevant URLs": {
      "main": [
        [
          {
            "node": "Remove Duplicate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove duplicate emails": {
      "main": [
        [
          {
            "node": "Filter irrelevant emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape emails from page": {
      "main": [
        [
          {
            "node": "Loop over pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait between executions": {
      "main": [
        [
          {
            "node": "Loop over queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter irrelevant emails": {
      "main": [
        [
          {
            "node": "Save emails to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request web page for URL": {
      "main": [
        [
          {
            "node": "Loop over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape URLs from results": {
      "main": [
        [
          {
            "node": "Filter irrelevant URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate arrays of emails": {
      "main": [
        [
          {
            "node": "Split out into default data structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google Maps with query": {
      "main": [
        [
          {
            "node": "Scrape URLs from results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out into default data structure": {
      "main": [
        [
          {
            "node": "Remove duplicate emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait between executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Search Google Maps with query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-29T00:04:10.310Z",
  "id": "8nuXnmk2Lsg4WAXN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "https://youtu.be/OzSihn4R1l0?si=ykCzoT4TF0abZSTa",
  "nodes": [
    {
      "parameters": {},
      "id": "21a5cf2a-9782-40b7-9156-cb611a1c4781",
      "name": "Remove Duplicate URLs",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        1360,
        672
      ],
      "typeVersion": 1.1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "86f83eb1-1f63-40cf-b9f7-761ad265437e",
      "name": "Loop over queries",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1056,
        192
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "=https://www.google.com/maps/search/{{ $json.query }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "aa1548c9-1995-4ddc-a726-aaa01d313adf",
      "name": "Search Google Maps with query",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        768,
        672
      ],
      "executeOnce": false,
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data\n\nconst regex = /https?:\\/\\/[^\\/]+/g\n\nconst urls = data.match(regex)\n\nreturn urls.map(url => ({json: {url: url}}))"
      },
      "id": "61dc019a-671d-45e2-8e95-2f0507b0fa7d",
      "name": "Scrape URLs from results",
      "type": "n8n-nodes-base.code",
      "position": [
        960,
        672
      ],
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "041797f2-2fe2-41dc-902a-d34050b9b304",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.url }}",
              "rightValue": "=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry-next\\.wixpress\\.com|imli\\.com|sentry\\.wixpress\\.com|ingest\\.sentry\\.io)"
            },
            {
              "id": "eb499a7e-17bc-453c-be08-a47286f726dd",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "16507919-a327-4b9e-b6dc-3a15d66749c6",
      "name": "Filter irrelevant URLs",
      "type": "n8n-nodes-base.filter",
      "position": [
        1168,
        672
      ],
      "typeVersion": 2.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "002a487f-0c34-4c42-a9b2-8dd6fb8f407c",
      "name": "Request web page for URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1760,
        752
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "3a18f6af-0499-4237-991d-932978d1e295",
      "name": "Loop over URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1568,
        672
      ],
      "typeVersion": 3,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ed3b2d0c-3857-4251-82a1-b8ddf25012fd",
      "name": "Loop over pages",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1776,
        400
      ],
      "typeVersion": 3,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $json.data\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g\n\nconst emails = data.match(emailRegex)\n\nreturn {json: {emails: emails}}"
      },
      "id": "20db6c0f-9da0-4a63-8b6f-80169f4b00d2",
      "name": "Scrape emails from page",
      "type": "n8n-nodes-base.code",
      "position": [
        1936,
        512
      ],
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "emails"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "2f241996-e155-45b1-a8f3-05ed5f83e666",
      "name": "Aggregate arrays of emails",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2096,
        384
      ],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "options": {}
      },
      "id": "4070fea1-3568-4f6d-8b46-a7e52ac44041",
      "name": "Split out into default data structure",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2320,
        384
      ],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "emails",
        "options": {}
      },
      "id": "82df4d13-f5bd-494b-b8bc-b0ea0e536f88",
      "name": "Remove duplicate emails",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        2544,
        384
      ],
      "typeVersion": 1.1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "041797f2-2fe2-41dc-902a-d34050b9b304",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.emails }}",
              "rightValue": "=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry\\.wixpress\\.com|sentry-next\\.wixpress\\.com|ingest\\.sentry\\.io|sentry\\.io|imli\\.com)"
            }
          ]
        },
        "options": {}
      },
      "id": "646b149a-3240-432a-a946-86d03f2ed806",
      "name": "Filter irrelevant emails",
      "type": "n8n-nodes-base.filter",
      "position": [
        2736,
        384
      ],
      "typeVersion": 2.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YtM1zq-m4uJ5Auhxc0E8PSR3cEimtf0_WrP01q0RWY8",
          "mode": "list",
          "cachedResultName": "Send Emails Salons,Dental Clincic and RealEstateAgency1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YtM1zq-m4uJ5Auhxc0E8PSR3cEimtf0_WrP01q0RWY8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1751171797,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YtM1zq-m4uJ5Auhxc0E8PSR3cEimtf0_WrP01q0RWY8/edit#gid=1751171797"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "emails": "={{ $json.emails }}"
          },
          "matchingColumns": [
            "emails"
          ],
          "schema": [
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f8468eb5-1be9-4089-ab50-2dfeb54a6e96",
      "name": "Save emails to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2944,
        384
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JOHwDixlr7umKmYo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b31561c2-787e-4dfe-859a-6eda0f05b98f",
      "name": "Run workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        816,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "3865efdb-1a37-4122-9099-05130bba2fa1",
      "name": "Wait between executions",
      "type": "n8n-nodes-base.wait",
      "position": [
        1504,
        320
      ],
      "webhookId": "40eb11a9-0f7d-4932-993e-0052b69dbf9b",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## 🛠 Setup\n1. Setup your list of queries in the \"Run workflow\" manual trigger node. Watch  this [video](https://youtu.be/HaiO-UeiKBA) on how to generate the queries with ChatGPT.\n3. Choose a sheet to populate with data in the **Google Sheets node**\n4. Run the workflow and start getting leads into your Google Sheets document",
        "height": 180,
        "width": 740,
        "color": 5
      },
      "id": "3e2d5a19-9ae5-45d1-9a84-8e1335043431",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Optional** 👇\nSet wait time between each query workflow execution. Default is 2 seconds.",
        "height": 100,
        "color": 6
      },
      "id": "e7b8239d-7851-46ca-9a3f-61298e704917",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Scraper 👇\nThis workflow will be executed in the background for each query. Click the **All executions** tab in the left sidebar to see the executions running.",
        "height": 100,
        "width": 480
      },
      "id": "2f54833e-f50e-4c8d-85bc-9d5d9dfe62f0",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "👆 \n1. Setup your **credentials**. Here's a [video tutorial](https://youtu.be/O5RnWDM27M8) on how to do that.\n\n2. Choose which document and sheet to save the scraped emails to. ",
        "height": 180,
        "color": 4
      },
      "id": "b3ad3908-f4c4-4593-99fe-c73ddff17155",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2960,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": " ## ⚠️ Note\n\nA [video tutorial](https://youtu.be/HaiO-UeiKBA) for this workflow guide is available on my [Youtube channel](https://www.youtube.com/channel/UCn8xmUBunez1SsDVRfZDUGA)",
        "color": 3
      },
      "id": "43dc8c12-7a64-489c-9efa-99dda4b22794",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Maps Automatic Email Scraper\n\nThis workflow automatically scrapes emails from businesses on Google Maps based on a list of queries that you provide.",
        "height": 140,
        "width": 480,
        "color": 7
      },
      "id": "05d68da4-7f89-4152-a93c-d88ffa4634b4",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Optional** 👆\nAdd or change the regex for filtering irrelevant URLs.",
        "height": 100,
        "width": 160,
        "color": 6
      },
      "id": "b3ee1a09-b5ea-4705-8c28-c7feab8497fa",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Optional** 👆\nAdd or change the regex for filtering irrelevant/incorrect email addresses.",
        "height": 100,
        "width": 200,
        "color": 6
      },
      "id": "7aeba7f0-6754-4872-8544-1353de8fe873",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2720,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1280,
        304
      ],
      "id": "d1562b7a-500d-410d-b0f0-fbb2bdf733f5",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        576,
        672
      ],
      "id": "d13c811a-e8d7-4ba5-a45a-1a92fc328cf9",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "Run workflow": [
      {
        "json": {
          "query": "bay+area+dental+clinic"
        }
      },
      {
        "json": {
          "query": "los+angeles+dental+clinic"
        }
      },
      {
        "json": {
          "query": "san+francisco+dental+clinic"
        }
      },
      {
        "json": {
          "query": "oakland+dental+clinic"
        }
      },
      {
        "json": {
          "query": "san+jose+dental+clinic"
        }
      },
      {
        "json": {
          "query": "sacramento+dental+clinic"
        }
      },
      {
        "json": {
          "query": "fresno+dental+clinic"
        }
      },
      {
        "json": {
          "query": "long+beach+dental+clinic"
        }
      },
      {
        "json": {
          "query": "anaheim+dental+clinic"
        }
      },
      {
        "json": {
          "query": "santa+rosa+dental+clinic"
        }
      },
      {
        "json": {
          "query": "san+diego+dental+clinic"
        }
      },
      {
        "json": {
          "query": "pasadena+dental+clinic"
        }
      },
      {
        "json": {
          "query": "berkeley+dental+clinic"
        }
      },
      {
        "json": {
          "query": "palo+alto+dental+clinic"
        }
      },
      {
        "json": {
          "query": "santa+monica+dental+clinic"
        }
      },
      {
        "json": {
          "query": "beverly+hills+dental+clinic"
        }
      },
      {
        "json": {
          "query": "malibu+dental+clinic"
        }
      },
      {
        "json": {
          "query": "stockton+dental+clinic"
        }
      },
      {
        "json": {
          "query": "modesto+dental+clinic"
        }
      },
      {
        "json": {
          "query": "san+mateo+dental+clinic"
        }
      },
      {
        "json": {
          "query": "redwood+city+dental+clinic"
        }
      },
      {
        "json": {
          "query": "menlo+park+dental+clinic"
        }
      },
      {
        "json": {
          "query": "mountain+view+dental+clinic"
        }
      },
      {
        "json": {
          "query": "cupertino+dental+clinic"
        }
      },
      {
        "json": {
          "query": "sunnyvale+dental+clinic"
        }
      },
      {
        "json": {
          "query": "fremont+dental+clinic"
        }
      },
      {
        "json": {
          "query": "union+city+dental+clinic"
        }
      },
      {
        "json": {
          "query": "hayward+dental+clinic"
        }
      },
      {
        "json": {
          "query": "pleasanton+dental+clinic"
        }
      },
      {
        "json": {
          "query": "dublin+dental+clinic"
        }
      },
      {
        "json": {
          "query": "livermore+dental+clinic"
        }
      },
      {
        "json": {
          "query": "walnut+creek+dental+clinic"
        }
      },
      {
        "json": {
          "query": "concord+dental+clinic"
        }
      },
      {
        "json": {
          "query": "antioch+dental+clinic"
        }
      },
      {
        "json": {
          "query": "richmond+dental+clinic"
        }
      },
      {
        "json": {
          "query": "vallejo+dental+clinic"
        }
      },
      {
        "json": {
          "query": "fairfield+dental+clinic"
        }
      },
      {
        "json": {
          "query": "napa+dental+clinic"
        }
      },
      {
        "json": {
          "query": "sonoma+dental+clinic"
        }
      },
      {
        "json": {
          "query": "santa+cruz+dental+clinic"
        }
      },
      {
        "json": {
          "query": "monterey+dental+clinic"
        }
      },
      {
        "json": {
          "query": "carmel+dental+clinic"
        }
      },
      {
        "json": {
          "query": "salinas+dental+clinic"
        }
      },
      {
        "json": {
          "query": "ventura+dental+clinic"
        }
      },
      {
        "json": {
          "query": "oxnard+dental+clinic"
        }
      },
      {
        "json": {
          "query": "thousand+oaks+dental+clinic"
        }
      },
      {
        "json": {
          "query": "bakersfield+dental+clinic"
        }
      },
      {
        "json": {
          "query": "palmdale+dental+clinic"
        }
      },
      {
        "json": {
          "query": "lancaster+dental+clinic"
        }
      },
      {
        "json": {
          "query": "riverside+dental+clinic"
        }
      },
      {
        "json": {
          "query": "san+bernardino+dental+clinic"
        }
      },
      {
        "json": {
          "query": "fontana+dental+clinic"
        }
      },
      {
        "json": {
          "query": "ontario+dental+clinic"
        }
      },
      {
        "json": {
          "query": "rancho+cucamonga+dental+clinic"
        }
      },
      {
        "json": {
          "query": "corona+dental+clinic"
        }
      },
      {
        "json": {
          "query": "murrieta+dental+clinic"
        }
      },
      {
        "json": {
          "query": "temecula+dental+clinic"
        }
      },
      {
        "json": {
          "query": "chula+vista+dental+clinic"
        }
      },
      {
        "json": {
          "query": "oceanside+dental+clinic"
        }
      },
      {
        "json": {
          "query": "escondido+dental+clinic"
        }
      },
      {
        "json": {
          "query": "carlsbad+dental+clinic"
        }
      },
      {
        "json": {
          "query": "encinitas+dental+clinic"
        }
      },
      {
        "json": {
          "query": "la+jolla+dental+clinic"
        }
      },
      {
        "json": {
          "query": "clovis+dental+clinic"
        }
      },
      {
        "json": {
          "query": "merced+dental+clinic"
        }
      },
      {
        "json": {
          "query": "turlock+dental+clinic"
        }
      },
      {
        "json": {
          "query": "madera+dental+clinic"
        }
      },
      {
        "json": {
          "query": "chico+dental+clinic"
        }
      },
      {
        "json": {
          "query": "redding+dental+clinic"
        }
      },
      {
        "json": {
          "query": "eureka+dental+clinic"
        }
      },
      {
        "json": {
          "query": "arcata+dental+clinic"
        }
      },
      {
        "json": {
          "query": "yuba+city+dental+clinic"
        }
      },
      {
        "json": {
          "query": "marysville+dental+clinic"
        }
      },
      {
        "json": {
          "query": "davis+dental+clinic"
        }
      },
      {
        "json": {
          "query": "roseville+dental+clinic"
        }
      },
      {
        "json": {
          "query": "rocklin+dental+clinic"
        }
      },
      {
        "json": {
          "query": "elk+grove+dental+clinic"
        }
      },
      {
        "json": {
          "query": "west+sacramento+dental+clinic"
        }
      },
      {
        "json": {
          "query": "novato+dental+clinic"
        }
      },
      {
        "json": {
          "query": "san+rafael+dental+clinic"
        }
      },
      {
        "json": {
          "query": "mill+valley+dental+clinic"
        }
      },
      {
        "json": {
          "query": "sausalito+dental+clinic"
        }
      },
      {
        "json": {
          "query": "petaluma+dental+clinic"
        }
      },
      {
        "json": {
          "query": "san+luis+obispo+dental+clinic"
        }
      },
      {
        "json": {
          "query": "pismo+beach+dental+clinic"
        }
      },
      {
        "json": {
          "query": "santa+barbara+dental+clinic"
        }
      },
      {
        "json": {
          "query": "goleta+dental+clinic"
        }
      },
      {
        "json": {
          "query": "lompoc+dental+clinic"
        }
      },
      {
        "json": {
          "query": "simi+valley+dental+clinic"
        }
      },
      {
        "json": {
          "query": "moorpark+dental+clinic"
        }
      },
      {
        "json": {
          "query": "camarillo+dental+clinic"
        }
      },
      {
        "json": {
          "query": "calabasas+dental+clinic"
        }
      },
      {
        "json": {
          "query": "glendale+dental+clinic"
        }
      },
      {
        "json": {
          "query": "burbank+dental+clinic"
        }
      },
      {
        "json": {
          "query": "north+hollywood+dental+clinic"
        }
      },
      {
        "json": {
          "query": "hollywood+dental+clinic"
        }
      },
      {
        "json": {
          "query": "downtown+la+dental+clinic"
        }
      },
      {
        "json": {
          "query": "inglewood+dental+clinic"
        }
      },
      {
        "json": {
          "query": "compton+dental+clinic"
        }
      },
      {
        "json": {
          "query": "gardena+dental+clinic"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-29T00:04:10.313Z",
      "updatedAt": "2025-09-29T00:04:10.313Z",
      "role": "workflow:owner",
      "workflowId": "8nuXnmk2Lsg4WAXN",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-29T00:27:32.000Z",
  "versionId": "f0e69532-c094-44d4-bc21-f0f24e0cb7ce"
}