workflows/AM7c5AkmSeJscijv.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Google Gemini": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-28T22:42:46.010Z",
  "id": "AM7c5AkmSeJscijv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "https://youtu.be/M3MKLvQ-rMQ?si=4nxqHDzmbyB3CwGT",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Google Maps Scraper For Dental Clinics",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Search Query",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "requiredField": true
            },
            {
              "fieldLabel": "Max Number of Results",
              "fieldType": "number",
              "placeholder": "5",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        128
      ],
      "id": "a4b73995-5f36-40d6-ba69-5e6b6c492a8b",
      "name": "On form submission",
      "webhookId": "4ac878c2-536f-431b-8766-2193e4f1ca13"
    },
    {
      "parameters": {
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "=https://console.apify.com/actors/nwua9Gu5YrADL7ZDj",
          "mode": "url"
        },
        "customBody": "={\n  \"searchStringsArray\": [\n    \"{{ $json['Search Query'] }}\"\n  ],\n  \"locationQuery\": \"{{ $json.Location }}, USA\",\n  \"maxCrawledPlacesPerSearch\": \"{{ $json['Max Number of Results'] }}\",\n  \"language\": \"en\",\n  \"searchMatching\": \"all\",\n  \"placeMinimumStars\": \"\",\n  \"website\": \"allPlaces\",\n  \"skipClosedPlaces\": false,\n  \"scrapePlaceDetailPage\": false,\n  \"scrapeTableReservationProvider\": false,\n  \"includeWebResults\": false,\n  \"scrapeDirectories\": false,\n  \"maxQuestions\": 0,\n  \"scrapeContacts\": true,\n  \"maximumLeadsEnrichmentRecords\": 0,\n  \"maxReviews\": 0,\n  \"reviewsSort\": \"newest\",\n  \"reviewsFilterString\": \"\",\n  \"reviewsOrigin\": \"all\",\n  \"scrapeReviewsPersonalData\": true,\n  \"scrapeImageAuthors\": false,\n  \"allPlacesNoSearchAction\": \"\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        224,
        128
      ],
      "id": "2dd398c7-699f-470f-9995-d593e67f1a37",
      "name": "Run an Actor",
      "credentials": {
        "apifyApi": {
          "id": "4kJhe7Ypk9ILNsh9",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        448,
        128
      ],
      "id": "0a880bde-67ab-4ee5-9c25-9578aeeb28ea",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "4kJhe7Ypk9ILNsh9",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b4a392a5-19da-487c-aa96-42ff8d6f7ca3",
              "leftValue": "={{ $json.permanentlyClosed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "7ba1f4e8-c1d2-4209-b510-44480d042351",
              "leftValue": "={{ $json.temporarilyClosed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        672,
        128
      ],
      "id": "4a3a9e24-3e7c-43a8-ab0c-2337eaba7cdc",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        128
      ],
      "id": "14b5d29f-12c7-43c5-ac31-66c695fb279a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I want you to do research on a business and give me a few items I can bring up in an email or phone call.\n\nUse the Gemini Tool for research\n\nThe business info is listed below\n\nTitle: {{ $json.title }}\nWebsite: {{ $json.website }}\nPhone:{{ $json.phone }}\nAddress: {{ $json.address }}\n\nTo save token usage, just give me short sentences with quick info. I don't need the business info repeated unless you know the owners name\n\nExample: Frank Pepe Rated an 8.5 by Dave Portnoy",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "id": "6803a442-66eb-476a-b4da-912581f4dabf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        352
      ],
      "id": "09861b62-c37f-4055-bbf5-585dde39d60f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sPfpmF39mpaLYCjc",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YtM1zq-m4uJ5Auhxc0E8PSR3cEimtf0_WrP01q0RWY8",
          "mode": "list",
          "cachedResultName": "Send Emails Salons,Dental Clincic and RealEstateAgency1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YtM1zq-m4uJ5Auhxc0E8PSR3cEimtf0_WrP01q0RWY8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 478091426,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YtM1zq-m4uJ5Auhxc0E8PSR3cEimtf0_WrP01q0RWY8/edit#gid=478091426"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        128
      ],
      "id": "aeb86fca-0e5a-4e70-9694-a93df2724dbc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JOHwDixlr7umKmYo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Business: {{ $('Loop Over Items').item.json.title }} Address: {{ $('Loop Over Items').item.json.address }} Website: {{ $('Loop Over Items').item.json.website }} Phone: {{ $('Loop Over Items').item.json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        1312,
        352
      ],
      "id": "add9872d-660e-4ce8-abb8-f727af82a9a5",
      "name": "Message a model in Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "sPfpmF39mpaLYCjc",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Search Query": "Dental Clincs",
          "Location": "USA",
          "Max Number of Results": 1,
          "submittedAt": "2025-09-29T01:33:14.384+02:00",
          "formMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-28T22:42:46.013Z",
      "updatedAt": "2025-09-28T22:42:46.013Z",
      "role": "workflow:owner",
      "workflowId": "AM7c5AkmSeJscijv",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-28T23:14:11.611Z",
      "updatedAt": "2025-09-28T23:14:11.611Z",
      "id": "Jx94Pu991I79qq2C",
      "name": "Dental Clinics"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T23:53:49.000Z",
  "versionId": "38ae9836-854a-4a44-ae33-c4d8a76054b2"
}