workflows/GYYl0CnprSjvnpkF.json
{
  "active": false,
  "connections": {
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-14T01:44:37.795Z",
  "id": "GYYl0CnprSjvnpkF",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Part 3:llm and Ai agent nodes",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        1232
      ],
      "id": "3a14620f-198c-49c9-b817-4c8ee67b009c",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "s2WwkLntcEWdzNj9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appjPm3t9mtwcgnxn",
          "mode": "list",
          "cachedResultName": "To Extract Pdf file data from Emails",
          "cachedResultUrl": "https://airtable.com/appjPm3t9mtwcgnxn"
        },
        "table": {
          "__rl": true,
          "value": "tbllSOm6bHyVeXt5x",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appjPm3t9mtwcgnxn/tbllSOm6bHyVeXt5x"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "threadId": "={{ $json.threadId }}",
            "from": "={{ $json['From '] }}",
            "Subject": "={{ $json.Subject }}",
            "textAsHtml": "={{ $json.textAsHtml }}",
            "text": "={{ $json.data }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "textAsHtml",
              "displayName": "textAsHtml",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        992,
        1248
      ],
      "id": "ba059ffe-2494-4f9d-b623-6c41780a34fa",
      "name": "Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "Itr6Ev0jStqTjVXC",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const messyText = item.json.text;\n\n  // Check if the 'text' field exists and is a string\n  if (typeof messyText === 'string') {\n    // 1. Replace all newline characters with a single space\n    let cleanedText = messyText.replace(/(\\r\\n|\\n|\\r)/gm, \" \");\n\n    // 2. Remove any character that is NOT a letter, number, space, comma, or full stop\n    cleanedText = cleanedText.replace(/[^a-zA-Z0-9 ,.]/g, \"\");\n    \n    // 3. Tidy up by replacing multiple spaces with a single space and trimming ends\n    cleanedText = cleanedText.replace(/\\s+/g, ' ').trim();\n\n    // Add the cleaned text to the new field\n    item.json.myNewField = cleanedText;\n\n  } else {\n    // If the 'text' field is missing or not text, add an error message\n    item.json.myNewField = \"Error: Input field 'text' not found or is not a string.\";\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1248
      ],
      "id": "4db37ff1-e8c8-41f7-80d2-4349a6a55c01",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        1232
      ],
      "id": "7514c8a2-8a64-4e3d-9d00-724b3fc8ffa9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.myNewField }}",
        "messages": {
          "messageValues": [
            {
              "message": "Given the following invoice in the <invoice> xml tags, extract the following information as listed below.\nIf you cannot find the information for a specific item, then leave blank and skip to the next.\n\n* Description - short (1-2 line) description of the invoice e.g. Monthly database usage for Supabase - REQUIRED\n* Type - [OPTIONS: Monthly Recurring, Annual Recurring, Single Payment] - REQUIRED\n* Invoice date (date invoice received) - REQUIRED\n* Payment date (date that payment will come out - this is not always the same as the invoice sent date) - REQUIRED\n* Invoice number - REQUIRED\n* Purchase order number\n* Supplier name\n* Supplier VAT identification number\n* Line items, including a description of the goods or services rendered\n* Price with and without VAT (without currency)\n* Total price (without currency) - REQUIRED\n* Currency (USD, Euro, GBP) - REQUIRED\n* Additional information you deem important that isn't included above\n\nAdditional important information such as:\n- Payment terms (Net 30, immediate payment, etc.)\n- Payment methods accepted\n- Bank account details if provided\n- Discount terms or early payment incentives\n- Late payment penalties or interest rates\n- Tax exemption references\n- Contract or framework agreement references\n- Delivery terms\n- Special instructions\n- Contact information for billing inquiries\n- Return/refund policies\n- Warranty information if applicable\n- Certificate of origin if present\n- Insurance requirements\n- Customs information for international shipments"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        576,
        1216
      ],
      "id": "8e93cb9d-54ef-42aa-b0b6-712f67227901",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "content": "Basic LLM Chain\n",
        "height": 368,
        "width": 1568,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        1152
      ],
      "typeVersion": 1,
      "id": "53443982-89c1-453d-9060-2e75f09ff553",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        1376
      ],
      "id": "b4d1fc50-e5e5-4856-9d62-1b3241675596",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vjhsYdKrmtQkm6Tt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger1": [
      {
        "json": {
          "id": "19946e68e1d7f9ed",
          "threadId": "19946e68e1d7f9ed",
          "labelIds": [
            "UNREAD",
            "CATEGORY_UPDATES",
            "INBOX"
          ],
          "sizeEstimate": 6816,
          "headers": {
            "delivered-to": "Delivered-To: ubaidmukhtar237@gmail.com",
            "received": "Received: by mta203-ab1.mtasv.net id hopfu43b84kl for <ubaidmukhtar237@gmail.com>; Sun, 14 Sep 2025 02:25:38 -0400 (envelope-from <pm_bounces@pm-bounces.cursor.com>)",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IGJSZjnmPMFqK2RSnuM6e9Wxs5dUzym4PbvMWpVRl0WaNwhcmE+jay0uRECLCJxbyR4NRCb",
            "x-received": "X-Received: by 2002:a6b:db0c:0:b0:887:77b1:7b4d with SMTP id ca18e2360f4ac-8903404e8a3mr847471339f.15.1757831139088;\r\n        Sat, 13 Sep 2025 23:25:39 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1757831139; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=NZ/CbPMSjNk3B3sXKNGOZfR4zel9tsx867sSO4CqKTfrwd0vrMSzlSUTNlBZRgNXVj\r\n         zpc2GMWbwL/PqW0B087gAWyUyOrjOEnuKCCkrErkfJStGtpznWnDQBKs2HDln0/nm4GX\r\n         oinUgrugIV8Rj9Q/WL2J/SANGFijP925mMqg93NBuMiDua+hJnwp63N7RU05S3FvKARp\r\n         vZ7Im+A6QjRkMiTIc/dZ1A7hqxAv07rIhgE+Z8B5JkxVZ3yqXdS/YrTP4Bhx0Lbf3iSC\r\n         1QSx48uWYx6/QWP+QFdtUBEfF65PlO+dWCtxd3DqGOPKWjyqmHdnwB0IQuJ6qTfGzXEB\r\n         OaQw==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=content-transfer-encoding:mime-version:feedback-id:to:message-id\r\n         :subject:date:from:dkim-signature:dkim-signature;\r\n        bh=ueYTMdJKpxrzgqtz1OREGsXVxqEBddtT+whE9nhqsVM=;\r\n        fh=ReBrfMTr5+85PYGAc4GvsVZATN57CEtI5fQdWy0hTpE=;\r\n        b=Nf7IMKhTxsjSSRoLnk6h/jsqMu7lU98A5rG9G8Q+WqTlwzzBgutDAhGE/kICETYFOt\r\n         Rv51FP1nJAJds7K7C9wSa/ZKuUgHJ4sH4pklCJd3Za5LBwmGYTKGSZoHUwXQvHPTlhlK\r\n         Ci3CVo5iek70Pf70bLBqsSy7Fpd9YrZpAENOup3kOwFNGEXS2kBdP24fmjTZmNyTv2Iz\r\n         VeKJdYuS+kiVYoVuobC9/0Wb5ZiBassmC6yVU8T3hjpTwh5fazQ+pmIWzp8oX3zGP+BQ\r\n         XRgn/qTh1T/dA/afr5P/P0lfRrskzhz9ZTYN8ugEL1l+0QH6t4Org9r8ECdo08Rmp4X0\r\n         BynA==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@ab.mtasv.net header.s=ab20250324 header.b=gwYsmJvw;\r\n       dkim=pass header.i=@cursor.com header.s=20250107184955pm header.b=\"IX9ND/tN\";\r\n       spf=pass (google.com: domain of pm_bounces@pm-bounces.cursor.com designates 50.31.205.203 as permitted sender) smtp.mailfrom=pm_bounces@pm-bounces.cursor.com;\r\n       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=cursor.com",
            "return-path": "Return-Path: <pm_bounces@pm-bounces.cursor.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of pm_bounces@pm-bounces.cursor.com designates 50.31.205.203 as permitted sender) client-ip=50.31.205.203;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@ab.mtasv.net header.s=ab20250324 header.b=gwYsmJvw;\r\n       dkim=pass header.i=@cursor.com header.s=20250107184955pm header.b=\"IX9ND/tN\";\r\n       spf=pass (google.com: domain of pm_bounces@pm-bounces.cursor.com designates 50.31.205.203 as permitted sender) smtp.mailfrom=pm_bounces@pm-bounces.cursor.com;\r\n       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=cursor.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; d=cursor.com; s=20250107184955pm;\r\n\tc=relaxed/relaxed; i=hi@cursor.com; t=1757831138; x=1758003938;\r\n\th=date:date:from:from:message-id:reply-to:sender:subject:subject:to:to:cc:\r\n\tfeedback-id:mime-version:content-type:content-transfer-encoding;\r\n\tbh=ueYTMdJKpxrzgqtz1OREGsXVxqEBddtT+whE9nhqsVM=;\r\n\tb=IX9ND/tNqUj46OoKRurRFicJTXfz5sDFctN6VZZWMyq/EGDM15n9c1ffx8EoH9lJGNmjvKfPU7p\r\n\t1q4jb3sciuCt3E/Pbi4Ss9/CkLyQXG7DK2RWb/iGK9SByuWByqn1mOzlKcyzK9x6H+SdeQQB8XdGy\r\n\t26ubroFoAfUZFLZFKmY=",
            "x-pm-ip": "X-PM-IP: 50.31.205.203",
            "x-iadb-ip": "X-IADB-IP: 50.31.205.203",
            "x-iadb-ip-reverse": "X-IADB-IP-REVERSE: 203.205.31.50",
            "from": "From: Cursor <hi@cursor.com>",
            "date": "Date: Sun, 14 Sep 2025 06:25:38 +0000",
            "subject": "Subject: Couldn't process payment",
            "message-id": "Message-Id: <91a702a2-dea6-4c42-81e2-0ecd3721de14@mtasv.net>",
            "to": "To: ubaidmukhtar237@gmail.com",
            "feedback-id": "Feedback-ID: s10731043-_:s10731043:a209573:postmark",
            "x-complaints-to": "X-Complaints-To: abuse@postmarkapp.com",
            "x-pm-message-id": "X-PM-Message-Id: 91a702a2-dea6-4c42-81e2-0ecd3721de14",
            "x-pm-rcpt": "X-PM-RCPT: |bTB8MjA5NTczfDEwNzMxMDQzfHViYWlkbXVraHRhcjIzN0BnbWFpbC5jb20=|",
            "x-pm-message-options": "X-PM-Message-Options: v1;1.jZyAYAWDdQL8VTuuerwFUQ.RnVt_ZnrcojoL5bzyWUE-5fCAyioQUnMifrnsveClDn191xPdDIEZ1hVTeQFmTzdkn_K1-Ej9lLYi2dl22Ot5LLLdS7YMeI_k9N5S3RKwo9bKSz57G738ibbC59oOYcWFmPjfVQA9eu-nSAKZ_kfPm3Wb0v9DMPNaCtTAzkvNbt6xurJgQsfmWHQzvYqsgQz-kMWUANonByUvFPybXGzTg",
            "mime-version": "MIME-Version: 1.0",
            "x-pm-mta-pool": "X-PM-MTA-Pool: transactional-3",
            "content-type": "Content-Type: text/html; charset=UTF-8",
            "content-transfer-encoding": "Content-Transfer-Encoding: quoted-printable"
          },
          "html": "<div dir=\"ltr\"><div>Hi Mukhtar,</div><div><br /></div><div>Thank you for using Cursor!</div><div><br /></div><div>We've encountered an issue processing your subscription payment. You can address this by visiting the <i>Billing & Invoices</i> section <a href=\"https://track.pstmrk.it/3s/cursor.com%2Fdashboard%3Ftab%3Dbilling/I76j/QgfAAQ/AQ/91a702a2-dea6-4c42-81e2-0ecd3721de14/1/Zeh3iPxi2x\">in your dashboard</a>. For reference, your account is registered with Google (ubaidmukhtar237@gmail.com).</div><div><br /></div><div>If you need any help, reply to this email or reach out to us at <a href=\"mailto:hi@cursor.com\">hi@cursor.com</a>.</div><div><br /></div><div>Best,</div><div>Cursor Team</div></div><img src=\"https://ea.pstmrk.it/open?m=v3_1.wFko-E9hikzIsR7WxzhFmA.mIuNZF2BwcBB2SGg5TNIH9WBeplEIaOcVslYfkoqmnGwOIHifrceE8hQXpnWrh8Ns6Z8y8fW1T0RIKlWQcwiDXEPKHtlB5AIYGrb4D-0bBE01i71UTgtFGE5L8y7P2MMEut74jAaBHSW4SXclf2sYMt5dVrZLs4pdTS8fKupALJRn2J1uwqY-2WevOsqHwRhkrr6CQPacrIVqEI9WeY3zFjbqkvGK7lQiYVhKibanAmTRplyF4EO0kSWR8rIDL18JyAtsySZkVz6ZbXEIbY4uzrCyLZEjvT9_DVId_JJJRAYvAnF5kGgoYxjuo1l0Bu2zrIOEUP0jkI4tHcrlD6YwF-TTDDqSMokXcRCclAXG2AlImDKFSFvDiW4r-v4t67KqswKVLXq-DQTrAZlQM2Tr4C0GHYqAngjSCHMqAweA5SEn2dwYMgpJX7wwld7bq3h83IbAe_ahZ8wKZ4Hicmi3Kom59dvWPw2b56ja2pJI226TRHkhyYPX7FQwM_XLI4R\" width=\"1\" height=\"1\" border=\"0\" alt=\"\" />\n",
          "text": "Hi Mukhtar,\n\n\nThank you for using Cursor!\n\n\nWe've encountered an issue processing your subscription payment. You can address\nthis by visiting the Billing & Invoices section in your dashboard\n[https://track.pstmrk.it/3s/cursor.com%2Fdashboard%3Ftab%3Dbilling/I76j/QgfAAQ/AQ/91a702a2-dea6-4c42-81e2-0ecd3721de14/1/Zeh3iPxi2x].\nFor reference, your account is registered with Google\n(ubaidmukhtar237@gmail.com).\n\n\nIf you need any help, reply to this email or reach out to us at hi@cursor.com\n[hi@cursor.com].\n\n\nBest,\nCursor Team\n[https://ea.pstmrk.it/open?m=v3_1.wFko-E9hikzIsR7WxzhFmA.mIuNZF2BwcBB2SGg5TNIH9WBeplEIaOcVslYfkoqmnGwOIHifrceE8hQXpnWrh8Ns6Z8y8fW1T0RIKlWQcwiDXEPKHtlB5AIYGrb4D-0bBE01i71UTgtFGE5L8y7P2MMEut74jAaBHSW4SXclf2sYMt5dVrZLs4pdTS8fKupALJRn2J1uwqY-2WevOsqHwRhkrr6CQPacrIVqEI9WeY3zFjbqkvGK7lQiYVhKibanAmTRplyF4EO0kSWR8rIDL18JyAtsySZkVz6ZbXEIbY4uzrCyLZEjvT9_DVId_JJJRAYvAnF5kGgoYxjuo1l0Bu2zrIOEUP0jkI4tHcrlD6YwF-TTDDqSMokXcRCclAXG2AlImDKFSFvDiW4r-v4t67KqswKVLXq-DQTrAZlQM2Tr4C0GHYqAngjSCHMqAweA5SEn2dwYMgpJX7wwld7bq3h83IbAe_ahZ8wKZ4Hicmi3Kom59dvWPw2b56ja2pJI226TRHkhyYPX7FQwM_XLI4R]",
          "textAsHtml": "<p>Hi Mukhtar,</p><p>Thank you for using Cursor!</p><p>We&apos;ve encountered an issue processing your subscription payment. You can address<br/>this by visiting the Billing &amp; Invoices section in your dashboard<br/>[<a href=\"https://track.pstmrk.it/3s/cursor.com%2Fdashboard%3Ftab%3Dbilling/I76j/QgfAAQ/AQ/91a702a2-dea6-4c42-81e2-0ecd3721de14/1/Zeh3iPxi2x\">https://track.pstmrk.it/3s/cursor.com%2Fdashboard%3Ftab%3Dbilling/I76j/QgfAAQ/AQ/91a702a2-dea6-4c42-81e2-0ecd3721de14/1/Zeh3iPxi2x</a>].<br/>For reference, your account is registered with Google<br/>(<a href=\"mailto:ubaidmukhtar237@gmail.com\">ubaidmukhtar237@gmail.com</a>).</p><p>If you need any help, reply to this email or reach out to us at <a href=\"mailto:hi@cursor.com\">hi@cursor.com</a><br/>[hi@cursor.com].</p><p>Best,<br/>Cursor Team<br/>[<a href=\"https://ea.pstmrk.it/open?m=v3_1.wFko-E9hikzIsR7WxzhFmA.mIuNZF2BwcBB2SGg5TNIH9WBeplEIaOcVslYfkoqmnGwOIHifrceE8hQXpnWrh8Ns6Z8y8fW1T0RIKlWQcwiDXEPKHtlB5AIYGrb4D-0bBE01i71UTgtFGE5L8y7P2MMEut74jAaBHSW4SXclf2sYMt5dVrZLs4pdTS8fKupALJRn2J1uwqY-2WevOsqHwRhkrr6CQPacrIVqEI9WeY3zFjbqkvGK7lQiYVhKibanAmTRplyF4EO0kSWR8rIDL18JyAtsySZkVz6ZbXEIbY4uzrCyLZEjvT9_DVId_JJJRAYvAnF5kGgoYxjuo1l0Bu2zrIOEUP0jkI4tHcrlD6YwF-TTDDqSMokXcRCclAXG2AlImDKFSFvDiW4r-v4t67KqswKVLXq-DQTrAZlQM2Tr4C0GHYqAngjSCHMqAweA5SEn2dwYMgpJX7wwld7bq3h83IbAe_ahZ8wKZ4Hicmi3Kom59dvWPw2b56ja2pJI226TRHkhyYPX7FQwM_XLI4R\">https://ea.pstmrk.it/open?m=v3_1.wFko-E9hikzIsR7WxzhFmA.mIuNZF2BwcBB2SGg5TNIH9WBeplEIaOcVslYfkoqmnGwOIHifrceE8hQXpnWrh8Ns6Z8y8fW1T0RIKlWQcwiDXEPKHtlB5AIYGrb4D-0bBE01i71UTgtFGE5L8y7P2MMEut74jAaBHSW4SXclf2sYMt5dVrZLs4pdTS8fKupALJRn2J1uwqY-2WevOsqHwRhkrr6CQPacrIVqEI9WeY3zFjbqkvGK7lQiYVhKibanAmTRplyF4EO0kSWR8rIDL18JyAtsySZkVz6ZbXEIbY4uzrCyLZEjvT9_DVId_JJJRAYvAnF5kGgoYxjuo1l0Bu2zrIOEUP0jkI4tHcrlD6YwF-TTDDqSMokXcRCclAXG2AlImDKFSFvDiW4r-v4t67KqswKVLXq-DQTrAZlQM2Tr4C0GHYqAngjSCHMqAweA5SEn2dwYMgpJX7wwld7bq3h83IbAe_ahZ8wKZ4Hicmi3Kom59dvWPw2b56ja2pJI226TRHkhyYPX7FQwM_XLI4R</a>]</p>",
          "subject": "Couldn't process payment",
          "date": "2025-09-14T06:25:38.000Z",
          "to": {
            "value": [
              {
                "address": "ubaidmukhtar237@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:ubaidmukhtar237@gmail.com\" class=\"mp_address_email\">ubaidmukhtar237@gmail.com</a></span>",
            "text": "ubaidmukhtar237@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "hi@cursor.com",
                "name": "Cursor"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Cursor</span> &lt;<a href=\"mailto:hi@cursor.com\" class=\"mp_address_email\">hi@cursor.com</a>&gt;</span>",
            "text": "\"Cursor\" <hi@cursor.com>"
          },
          "messageId": "<91a702a2-dea6-4c42-81e2-0ecd3721de14@mtasv.net>"
        }
      }
    ],
    "Basic LLM Chain": [
      {
        "json": {
          "text": "```json\n{\n  \"Description\": \"Notification regarding an issue processing a subscription payment for Cursor.\",\n  \"Type\": \"Monthly Recurring\",\n  \"Invoice date\": \"\",\n  \"Payment date\": \"\",\n  \"Invoice number\": \"\",\n  \"Purchase order number\": \"\",\n  \"Supplier name\": \"Cursor\",\n  \"Supplier VAT identification number\": \"\",\n  \"Line items\": [],\n  \"Price with and without VAT\": null,\n  \"Total price\": null,\n  \"Currency\": \"\",\n  \"Additional information\": {\n    \"Payment terms\": \"Immediate action required to resolve payment issue.\",\n    \"Payment methods accepted\": \"Please visit dashboard billing section to update payment information.\",\n    \"Bank account details if provided\": \"\",\n    \"Discount terms or early payment incentives\": \"\",\n    \"Late payment penalties or interest rates\": \"\",\n    \"Tax exemption references\": \"\",\n    \"Contract or framework agreement references\": \"\",\n    \"Delivery terms\": \"\",\n    \"Special instructions\": \"Visit the Billing & Invoices section in your dashboard to address the payment issue: httpstrack.pstmrk.it3scursor.com2Fdashboard3Ftab3DbillingI76jQgfAAQAQ91a702a2dea64c4281e20ecd3721de141Zeh3iPxi2x\",\n    \"Contact information for billing inquiries\": \"hicursor.com\",\n    \"Return/refund policies\": \"\",\n    \"Warranty information if applicable\": \"\",\n    \"Certificate of origin if present\": \"\",\n    \"Insurance requirements\": \"\",\n    \"Customs information for international shipments\": \"\",\n    \"Account Registered Email\": \"ubaidmukhtar237gmail.com\"\n  }\n}\n```"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-14T01:44:37.798Z",
      "updatedAt": "2025-09-14T01:44:37.798Z",
      "role": "workflow:owner",
      "workflowId": "GYYl0CnprSjvnpkF",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1757814928
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-14T06:57:49.000Z",
  "versionId": "8e0849d3-f394-472a-a2d1-2fbc2c8c804c"
}