workflows/Iju1ERJ6gUQSztFE.json
{
  "active": false,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-13T19:54:57.729Z",
  "id": "Iju1ERJ6gUQSztFE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Part2:To Extract Pdf file data from Emails",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -816,
        -224
      ],
      "id": "fd747f52-c0a5-41bc-9914-dc467b21aca9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "3ZDGrufM0JFl2Z0X",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af5835b-92ab-47ea-8636-9640c8ff4731",
              "name": "From ",
              "value": "={{ $('Gmail Trigger').item.json.headers.from }}",
              "type": "string"
            },
            {
              "id": "66284a3d-5848-4535-ab34-4e79cf8ef97a",
              "name": "Subject",
              "value": "={{ $('Gmail Trigger').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "52da4b5c-0ab3-4bef-8c29-fb5d868779e0",
              "name": "Id",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "c95ef8c1-5949-4c3b-97f9-a455fae496c3",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "fe740961-f75f-426c-a01d-6a533e27618c",
              "name": "textAsHtml",
              "value": "={{ $('Gmail Trigger').item.json.textAsHtml }}",
              "type": "string"
            },
            {
              "id": "219577d8-d077-4804-9c1e-a79ed411e01c",
              "name": "text",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -224
      ],
      "id": "ee68e8f6-6c87-44e3-82c0-31c79246c11b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -608,
        -224
      ],
      "id": "b3b0586f-3de7-418f-9a5f-44cc08d80074",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-13T19:54:57.732Z",
      "updatedAt": "2025-09-13T19:54:57.732Z",
      "role": "workflow:owner",
      "workflowId": "Iju1ERJ6gUQSztFE",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1757794299
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-13T20:57:06.000Z",
  "versionId": "e7ee0941-996a-40d0-bb3c-23acdb1c019e"
}