workflows/Iju1ERJ6gUQSztFE.json
{
  "active": false,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Format Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-13T19:54:57.729Z",
  "id": "Iju1ERJ6gUQSztFE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Part2:To Extract Pdf file data from Emails",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        -256
      ],
      "id": "fd747f52-c0a5-41bc-9914-dc467b21aca9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "3ZDGrufM0JFl2Z0X",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af5835b-92ab-47ea-8636-9640c8ff4731",
              "name": "From ",
              "value": "={{ $('Gmail Trigger').item.json.headers.from }}",
              "type": "string"
            },
            {
              "id": "66284a3d-5848-4535-ab34-4e79cf8ef97a",
              "name": "Subject",
              "value": "={{ $('Gmail Trigger').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "52da4b5c-0ab3-4bef-8c29-fb5d868779e0",
              "name": "Id",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "c95ef8c1-5949-4c3b-97f9-a455fae496c3",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "fe740961-f75f-426c-a01d-6a533e27618c",
              "name": "textAsHtml",
              "value": "={{ $('Gmail Trigger').item.json.textAsHtml }}",
              "type": "string"
            },
            {
              "id": "219577d8-d077-4804-9c1e-a79ed411e01c",
              "name": "text",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        -256
      ],
      "id": "ee68e8f6-6c87-44e3-82c0-31c79246c11b",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "html": "={{ $json.textAsHtml }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -464,
        -256
      ],
      "id": "4aba6131-fb40-4adf-bf2c-ce29160e5178",
      "name": "Markdown",
      "disabled": true
    },
    {
      "parameters": {
        "content": "Passing the required data.",
        "height": 224,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -320
      ],
      "typeVersion": 1,
      "id": "6fb47a1f-5c57-4bea-b350-74049b8e706a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Formatting data:To convert the text as html to text.\nNo Use of this node in this workflow.\nCan be used if there is not text from the starting and you want to convert text as html to simple text",
        "height": 288,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -384
      ],
      "typeVersion": 1,
      "id": "058c9d74-76a6-474d-98a7-fc98c2be0b7c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appjPm3t9mtwcgnxn",
          "mode": "list",
          "cachedResultName": "To Extract Pdf file data from Emails",
          "cachedResultUrl": "https://airtable.com/appjPm3t9mtwcgnxn"
        },
        "table": {
          "__rl": true,
          "value": "tbllSOm6bHyVeXt5x",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appjPm3t9mtwcgnxn/tbllSOm6bHyVeXt5x"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "threadId": "={{ $json.threadId }}",
            "from": "={{ $json['From '] }}",
            "Subject": "={{ $json.Subject }}",
            "textAsHtml": "={{ $json.textAsHtml }}",
            "text": "={{ $json.data }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "textAsHtml",
              "displayName": "textAsHtml",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -176,
        -256
      ],
      "id": "303dde41-abc8-475f-985c-8f816f49a4fb",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "Itr6Ev0jStqTjVXC",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## To convert text as html to formatted data from gmail.",
        "height": 464,
        "width": 1328,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        -480
      ],
      "typeVersion": 1,
      "id": "09efa299-edd0-4798-842e-2083a48b7c4a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## To convert binary attachments(pdf) to text from gmail\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 592,
        "width": 1680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        32
      ],
      "typeVersion": 1,
      "id": "2f028efb-dc34-431d-a9d1-caa4f0119274",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1072,
        240
      ],
      "id": "d0fb72ca-d5af-4e9a-99fb-b76d7ad697a7",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "3ZDGrufM0JFl2Z0X",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af5835b-92ab-47ea-8636-9640c8ff4731",
              "name": "From ",
              "value": "={{ $('Gmail Trigger1').item.json.headers.from }}",
              "type": "string"
            },
            {
              "id": "66284a3d-5848-4535-ab34-4e79cf8ef97a",
              "name": "Subject",
              "value": "={{ $('Gmail Trigger1').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "52da4b5c-0ab3-4bef-8c29-fb5d868779e0",
              "name": "Id",
              "value": "={{ $('Gmail Trigger1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "c95ef8c1-5949-4c3b-97f9-a455fae496c3",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger1').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "fe740961-f75f-426c-a01d-6a533e27618c",
              "name": "textAsHtml",
              "value": "={{ $('Gmail Trigger1').item.json.textAsHtml }}",
              "type": "string"
            },
            {
              "id": "219577d8-d077-4804-9c1e-a79ed411e01c",
              "name": "text",
              "value": "={{ $('Gmail Trigger1').item.json.text }}",
              "type": "string"
            },
            {
              "id": "54df9f28-5c0e-43ea-a8fd-39fa537b30c3",
              "name": "textAttachment",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        224
      ],
      "id": "7af4ef48-268f-4fe1-93a6-7dcb4dc0bbe0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appjPm3t9mtwcgnxn",
          "mode": "list",
          "cachedResultName": "To Extract Pdf file data from Emails",
          "cachedResultUrl": "https://airtable.com/appjPm3t9mtwcgnxn"
        },
        "table": {
          "__rl": true,
          "value": "tbllSOm6bHyVeXt5x",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appjPm3t9mtwcgnxn/tbllSOm6bHyVeXt5x"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "threadId": "={{ $json.threadId }}",
            "from": "={{ $json['From '] }}",
            "Subject": "={{ $json.Subject }}",
            "textAsHtml": "={{ $json.textAsHtml }}",
            "text": "={{ $json.data }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "textAsHtml",
              "displayName": "textAsHtml",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        336,
        224
      ],
      "id": "9038369d-c66f-4367-b97c-dfa4f44efddb",
      "name": "Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "Itr6Ev0jStqTjVXC",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -528,
        224
      ],
      "id": "6b835934-ed05-4522-a876-4416641e6a9a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "FORMATTING DATA.For feild input->name of the binary file set in edit feild node,meaning it will also give clean output of binary file text.",
        "height": 272,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        96
      ],
      "typeVersion": 1,
      "id": "89940a24-9ba6-485a-8a59-3c547cbb4876",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items to process both fields\nfor (const item of $input.all()) {\n\n  // --- Process the 'text' field ---\n  const messyText1 = item.json.text;\n  if (typeof messyText1 === 'string') {\n    let cleaned = messyText1.replace(/(\\r\\n|\\n|\\r)/gm, \" \")\n                            .replace(/[^a-zA-Z0-9 ,.]/g, \"\")\n                            .replace(/\\s+/g, ' ').trim();\n    // Output is stored in 'cleanedText'\n    item.json.cleanedText = cleaned;\n  } else {\n    item.json.cleanedText = \"Error: Field 'text' not found or is not a string.\";\n  }\n\n  // --- Process the 'textAttachment' field ---\n  const messyText2 = item.json.textAttachment;\n  if (typeof messyText2 === 'string') {\n    let cleaned = messyText2.replace(/(\\r\\n|\\n|\\r)/gm, \" \")\n                            .replace(/[^a-zA-Z0-9 ,.]/g, \"\")\n                            .replace(/\\s+/g, ' ').trim();\n    // Output is stored in 'cleanedTextAttachment'\n    item.json.cleanedTextAttachment = cleaned;\n  } else {\n    item.json.cleanedTextAttachment = \"Error: Field 'textAttachment' not found or is not a string.\";\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        224
      ],
      "id": "f889f4bc-6639-459b-bf76-62b4ff61edc6",
      "name": "Format Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bedc4501-cf28-4d06-9648-40a4cc585fe1",
              "leftValue": "={{ $('Gmail Trigger1').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -704,
        256
      ],
      "id": "64bb49ae-1b24-4281-9f09-a5bb21c8af76",
      "name": "If"
    },
    {
      "parameters": {
        "content": "To pass emails with binary file to true path and pass emails without binary file to false path.",
        "height": 272,
        "width": 160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        112
      ],
      "typeVersion": 1,
      "id": "7539a72d-260c-406d-a404-16c8f40f2d60",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const messyText = item.json.text;\n\n  // Check if the 'text' field exists and is a string\n  if (typeof messyText === 'string') {\n    // 1. Replace all newline characters with a single space\n    let cleanedText = messyText.replace(/(\\r\\n|\\n|\\r)/gm, \" \");\n\n    // 2. Remove any character that is NOT a letter, number, space, comma, or full stop\n    cleanedText = cleanedText.replace(/[^a-zA-Z0-9 ,.]/g, \"\");\n    \n    // 3. Tidy up by replacing multiple spaces with a single space and trimming ends\n    cleanedText = cleanedText.replace(/\\s+/g, ' ').trim();\n\n    // Add the cleaned text to the new field\n    item.json.myNewField = cleanedText;\n\n  } else {\n    // If the 'text' field is missing or not text, add an error message\n    item.json.myNewField = \"Error: Input field 'text' not found or is not a string.\";\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        432
      ],
      "id": "afc6f39b-5f6a-48dc-87cf-93d0830bd6ab",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af5835b-92ab-47ea-8636-9640c8ff4731",
              "name": "From ",
              "value": "={{ $('Gmail Trigger1').item.json.headers.from }}",
              "type": "string"
            },
            {
              "id": "66284a3d-5848-4535-ab34-4e79cf8ef97a",
              "name": "Subject",
              "value": "={{ $('Gmail Trigger1').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "52da4b5c-0ab3-4bef-8c29-fb5d868779e0",
              "name": "Id",
              "value": "={{ $('Gmail Trigger1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "c95ef8c1-5949-4c3b-97f9-a455fae496c3",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger1').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "fe740961-f75f-426c-a01d-6a533e27618c",
              "name": "textAsHtml",
              "value": "={{ $('Gmail Trigger1').item.json.textAsHtml }}",
              "type": "string"
            },
            {
              "id": "219577d8-d077-4804-9c1e-a79ed411e01c",
              "name": "text",
              "value": "={{ $('Gmail Trigger1').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        432
      ],
      "id": "5b5818a5-91c5-434f-a242-58a55254d969",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -896,
        240
      ],
      "id": "79716772-fce1-43ad-bf8c-9f69ccf8f37a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        112,
        272
      ],
      "id": "30d7d935-bdff-4a8c-9429-b722d343edf8",
      "name": "Merge"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19944e4e903f6101",
          "threadId": "19944e4e903f6101",
          "labelIds": [
            "UNREAD",
            "CATEGORY_UPDATES",
            "INBOX"
          ],
          "sizeEstimate": 25698,
          "headers": {
            "delivered-to": "Delivered-To: ubaidmukhtar237@gmail.com",
            "received": "Received: by mta201a-ord.mtasv.net id hone683b84ke for <ubaidmukhtar237@gmail.com>; Sat, 13 Sep 2025 17:04:36 -0400 (envelope-from <pm_bounces@pm-bounces.cal.com>)",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IEqWL/yXfT9w6cH7wa7a4J8EbWVEcpuwYOuzPOwEERx23NW4fqs5YG/7qGW80t39C8zXohx",
            "x-received": "X-Received: by 2002:a92:cd81:0:b0:423:fc1e:ed25 with SMTP id e9e14a558f8ab-423fc1ef1bfmr12829365ab.19.1757797476414;\r\n        Sat, 13 Sep 2025 14:04:36 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1757797476; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=OAdZ5+UctJR5p849Hmzr6/wJRhIvmwPjD+egIaJS5d+N6kTH2lKDaV58hhtIQ1nYDx\r\n         kaz7N+0pMW4xRQ9lvAPlWLnJ9Fzx9G+UcRhh/gNVYgssfwAFx61fQuz5UV/AN46ErD/M\r\n         RCAs9v50wBcRZ4XQhkIxpgIWiNINVlWuFbxnt/tMGxCpOBvqnD6Q1pM/xyqXdK+bMe+F\r\n         OeHCjQYRleujWnFcPdcLXEniwROSO4qMVK9UHpukZXhkvjRHb6wZptKjM48dQzAENK0E\r\n         r4ZTxCCXizjY/dEtldCPP4lcKf6g6uXMW7AGC1ALXjQTFIqNV6ZtWIar44iT5LHwciZL\r\n         2HSA==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=mime-version:feedback-id:to:message-id:subject:date:from\r\n         :dkim-signature:dkim-signature;\r\n        bh=aCxZcbxl/auzBHA0g4MJePX3dzUjEqskJkF0PzalEto=;\r\n        fh=ReBrfMTr5+85PYGAc4GvsVZATN57CEtI5fQdWy0hTpE=;\r\n        b=beuu3gJ+6wn82BTc/0L5/cOwTBmpvzTxTdPm6aDrdj5G0HV5Pp8bbMntCU99vLI1oP\r\n         u28ORDvyaLNTXkFI4FlnsHfBHkX09qXadXbYt0sRvCBNvCH8Rj4LGxT5spjJY4wr1xrt\r\n         B9VuGmYirajzn7bTWMKSFpN/RA64y1q/y0+lhAvzyrbLl2gueQXeKoZXZi3TNBUgusfM\r\n         BGJJNKNkJwDmrlLKUjeEZS7oC1ClNVpTe00zqxxRC7JvB0rGb39jvzPYze8b9rnyUxO9\r\n         OpaOdxQYfH739QoXWv876okpp93Ms7oOwprIYzaeE0bTtzTDOPR7Us942Edwtr1NgZDN\r\n         S7Xw==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@pm.mtasv.net header.s=pm20250324 header.b=HIuTccno;\r\n       dkim=pass header.i=@cal.com header.s=20231003111759pm header.b=BgbEVykK;\r\n       spf=pass (google.com: domain of pm_bounces@pm-bounces.cal.com designates 104.245.209.201 as permitted sender) smtp.mailfrom=pm_bounces@pm-bounces.cal.com;\r\n       dmarc=pass (p=QUARANTINE sp=QUARANTINE dis=NONE) header.from=cal.com",
            "return-path": "Return-Path: <pm_bounces@pm-bounces.cal.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of pm_bounces@pm-bounces.cal.com designates 104.245.209.201 as permitted sender) client-ip=104.245.209.201;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@pm.mtasv.net header.s=pm20250324 header.b=HIuTccno;\r\n       dkim=pass header.i=@cal.com header.s=20231003111759pm header.b=BgbEVykK;\r\n       spf=pass (google.com: domain of pm_bounces@pm-bounces.cal.com designates 104.245.209.201 as permitted sender) smtp.mailfrom=pm_bounces@pm-bounces.cal.com;\r\n       dmarc=pass (p=QUARANTINE sp=QUARANTINE dis=NONE) header.from=cal.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; d=cal.com; s=20231003111759pm;\r\n\tc=relaxed/relaxed; i=hello@cal.com; t=1757797476; x=1757970276;\r\n\th=date:date:from:from:message-id:reply-to:sender:subject:subject:to:to:cc:\r\n\tfeedback-id:mime-version:content-type;\r\n\tbh=aCxZcbxl/auzBHA0g4MJePX3dzUjEqskJkF0PzalEto=;\r\n\tb=BgbEVykKNvJ0jVJSRZRxv/S6BgZnSYn8ORZERppYwJy5Ht00+MuGUuyiYMKjQwacQGSZc8DF3/I\r\n\th+WSCl2pzKpbHKn35/Ud+9V/r5dDq3K7L4r+jYCo2RmL50k5dxX/Qy76eXkYOUk4kgnY3IiXLtjai\r\n\tebhcqOLRHau5bebwJ8g=",
            "x-pm-ip": "X-PM-IP: 104.245.209.201",
            "x-iadb-ip": "X-IADB-IP: 104.245.209.201",
            "x-iadb-ip-reverse": "X-IADB-IP-REVERSE: 201.209.245.104",
            "from": "From: \"Cal.com\" <hello@cal.com>",
            "date": "Date: Sat, 13 Sep 2025 21:04:35 +0000",
            "subject": "Subject: Canceled: APPOINTMENT FOR THERAPY SESSION between Mukhtar Ubaid and\r\n UbaidNasir at 6:45pm - 7:15pm, Wednesday, September 17, 2025",
            "message-id": "Message-Id: <a3da0032-9806-4e43-8520-ce2c0f6e165c@mtasv.net>",
            "to": "To: ubaidmukhtar237@gmail.com",
            "feedback-id": "Feedback-ID: s11718888-_:s11718888:a294406:postmark",
            "x-complaints-to": "X-Complaints-To: abuse@postmarkapp.com",
            "x-pm-message-id": "X-PM-Message-Id: a3da0032-9806-4e43-8520-ce2c0f6e165c",
            "x-pm-rcpt": "X-PM-RCPT: |bTB8Mjk0NDA2fDExNzE4ODg4fHViYWlkbXVraHRhcjIzN0BnbWFpbC5jb20=|",
            "x-pm-message-options": "X-PM-Message-Options: v1;1.vKngARqeh9QAW8MzAXt2CA.wXLisciLXZSpm1SBiB4-pHJOyp0cYpUKiEWkTkPLx1-WoLjDmQ6M7CRQtPXvA2aycv78018t7hF-XzE-WtAzYEsjryM1RCDZ77boES3yjyAmgdXf3eN9PYi9GDrXlJDVeTtkcF0DkJNnCpaXGaJTBeA5m21GCjsOOTkFx9GmBzJVMQ6r5eCP_N4asJqv-824",
            "mime-version": "MIME-Version: 1.0",
            "x-pm-mta-pool": "X-PM-MTA-Pool: transactional-3",
            "content-type": "Content-Type: multipart/mixed; boundary=mk3-4339cb21de644805b2849c643a8fed48"
          },
          "html": "<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link rel=\"preload\" as=\"image\" href=\"https://app.cal.com/emails/xCircle@2x.png\"/><link rel=\"preload\" as=\"image\" href=\"https://app.cal.com/emails/logo.png\"/><title>event_cancelled_subject</title><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"/><!--[if !mso]><!--><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"><!--<![endif]--><style type=\"text/css\">\n          #outlook a {\n            padding: 0;\n          }\n\n          body {\n            margin: 0;\n            padding: 0;\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n          }\n\n          table,\n          td {\n            border-collapse: collapse;\n            mso-table-lspace: 0pt;\n            mso-table-rspace: 0pt;\n          }\n\n          img {\n            border: 0;\n            height: auto;\n            line-height: 100%;\n            outline: none;\n            text-decoration: none;\n            -ms-interpolation-mode: bicubic;\n          }\n\n          p {\n            display: block;\n            margin: 13px 0;\n          }\n        </style><!--[if mso]><noscript><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml></noscript><![endif]--><!--[if lte mso 11]><style type=\"text/css\">.mj-outlook-group-fix { width:100% !important; }</style><![endif]--><!--[if !mso]><!--><link href=\"https://fonts.googleapis.com/css?family=Roboto:400,500,700\" rel=\"stylesheet\" type=\"text/css\"/>\n      <style type=\"text/css\">@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);</style><!--<![endif]--><style type=\"text/css\">\n          @media only screen and (min-width: 480px) {\n            .mj-column-per-100 {\n              width: 100% !important;\n              max-width: 100%;\n            }\n          }\n        </style><style media=\"screen and (min-width:480px)\">\n          .moz-text-html .mj-column-per-100 {\n            width: 100% !important;\n            max-width: 100%;\n          }\n        </style><style type=\"text/css\">\n          @media only screen and (max-width: 480px) {\n            table.mj-full-width-mobile {\n              width: 100% !important;\n            }\n\n            td.mj-full-width-mobile {\n              width: auto !important;\n            }\n          }\n        </style></head><body style=\"word-spacing:normal;background-color:#F3F4F6\"><!doctype html><div style=\"background-color:#F3F4F6\"><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"margin:0px auto;max-width:600px\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" align=\"center\" border=\"0\" style=\"width:100%\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:0px;padding-top:40px;text-align:center\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr></tr></table><![endif]--></td></tr></tbody></table></div><div style=\"margin:0px auto;max-width:600px;border-radius:8px;border:1px solid #E5E7EB;padding:2px;background-color:#FFFFFF\"><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" bgcolor=\"#FFFFFF\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#FFFFFF;background-color:#FFFFFF;margin:0px auto;max-width:600px\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" align=\"center\" border=\"0\" style=\"background:#FFFFFF;background-color:#FFFFFF;width:100%\"><tbody><tr><td style=\"border-left:1px solid #E1E1E1;border-right:1px solid #E1E1E1;direction:ltr;font-size:0;padding:30px 30px 0 30px;text-align:center;border-top:1px solid #E1E1E1;border:0\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:598px;\" ><![endif]--><div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" border=\"0\" style=\"vertical-align:top\" width=\"100%\"><tbody><tr><td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" border=\"0\" style=\"border-collapse:collapse;border-spacing:0px\"><tbody><tr><td style=\"width:64px\"><img height=\"64\" src=\"https://app.cal.com/emails/xCircle@2x.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:64px;width:100%;font-size:13px\" width=\"64\" alt=\"\"/></td></tr></tbody></table></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" bgcolor=\"#FFFFFF\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#FFFFFF;background-color:#FFFFFF;margin:0px auto;max-width:600px\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" align=\"center\" border=\"0\" style=\"background:#FFFFFF;background-color:#FFFFFF;width:100%\"><tbody><tr><td style=\"border-left:1px solid #E1E1E1;border-right:1px solid #E1E1E1;direction:ltr;font-size:0;padding:0;text-align:center;border:0\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:598px;\" ><![endif]--><div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" border=\"0\" style=\"vertical-align:top\" width=\"100%\"><tbody><tr><td align=\"center\" style=\"font-size:0;padding:10px 25px;padding-top:24px;padding-bottom:0;word-break:break-word\"><div data-testid=\"heading\" style=\"font-family:Roboto, Helvetica, sans-serif;font-size:24px;font-weight:700;line-height:24px;text-align:center;color:#111827\">Your scheduled event was canceled</div></td></tr><tr><td align=\"center\" style=\"font-size:0;padding:10px 25px;word-break:break-word\"><div data-testid=\"subHeading\" style=\"font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:center;color:#4B5563\">We sent an email to everyone with this information.</div></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" bgcolor=\"#FFFFFF\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#FFFFFF;background-color:#FFFFFF;margin:0px auto;max-width:600px\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" align=\"center\" border=\"0\" style=\"background:#FFFFFF;background-color:#FFFFFF;width:100%\"><tbody><tr><td style=\"border-left:1px solid #E1E1E1;border-right:1px solid #E1E1E1;direction:ltr;font-size:0;padding:15px 0px 0 0px;text-align:center;border:0\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:598px;\" ><![endif]--><div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" border=\"0\" style=\"vertical-align:top\" width=\"100%\"><tbody><tr><td align=\"center\" style=\"font-size:0;padding:10px 25px;padding-bottom:15px;word-break:break-word\"><p style=\"border-top:solid 1px #E1E1E1;font-size:1px;margin:0px auto;width:100%\"></p><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:solid 1px #E1E1E1;font-size:1px;margin:0px auto;width:548px;\" role=\"presentation\" width=\"548px\" ><tr><td style=\"height:0;line-height:0;\"> &nbsp;</td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" className=\"\" style=\"width:600px;\" width=\"600\" bgcolor=\"#FFFFFF\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#FFFFFF;background-color:#FFFFFF;margin:0px auto;max-width:600px\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" align=\"center\" border=\"0\" style=\"background:#FFFFFF;background-color:#FFFFFF;width:100%\"><tbody><tr><td style=\"direction:ltr;font-size:0;padding:0;text-align:center\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td className=\"\" style=\"vertical-align:top;width:598px;\" ><![endif]--><div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" border=\"0\" style=\"vertical-align:top\" width=\"100%\"><tbody><tr><td align=\"left\" style=\"font-size:0;padding:10px 25px;word-break:break-word\"><div style=\"font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:500;line-height:1;text-align:left;color:#101010\"><p style=\"height:6px\"></p><div><p style=\"color:#101010\">Reason for cancellation (optional)</p><p style=\"color:#101010;font-weight:400;line-height:24px;white-space:pre-wrap\">da</p></div><p style=\"height:6px\"></p><div><p style=\"color:#101010\">What</p><p style=\"color:#101010;font-weight:400;line-height:24px;white-space:pre-wrap\">APPOINTMENT FOR THERAPY SESSION between Mukhtar Ubaid and UbaidNasir</p></div><div><p style=\"height:6px\"></p><div><p style=\"color:#101010\">When </p><p style=\"color:#101010;font-weight:400;line-height:24px;white-space:pre-wrap;text-decoration:line-through\"><span data-testid=\"when\">Wednesday, September 17, 2025 | 6:45pm - 7:15pm <span style=\"color:#4B5563\">(Asia/Karachi)</span></span></p></div></div><p style=\"height:6px\"></p><div><p style=\"color:#101010\">Who</p><p style=\"color:#101010;font-weight:400;line-height:24px;white-space:pre-wrap\"><div style=\"color:#101010;font-weight:400;line-height:24px\">Mukhtar Ubaid - Organizer <span style=\"color:#4B5563\"><a href=\"mailto:ubaidmukhtar237@gmail.com\" style=\"color:#4B5563\">ubaidmukhtar237@gmail.com</a></span></div><div style=\"color:#101010;font-weight:400;line-height:24px\">UbaidNasir - Guest <span style=\"color:#4B5563\"><a href=\"mailto:ubaidnasir1631@gmail.com\" style=\"color:#4B5563\">ubaidnasir1631@gmail.com</a></span></div></p></div><p style=\"height:6px\"></p><div><p style=\"color:#101010\">Where</p><p style=\"color:#101010;font-weight:400;line-height:24px;white-space:pre-wrap\">Bright Smile Dental Care, 12-B Gulshan Avenue, Block D, Lahore, Punjab, Pakistan 54000.</p></div><p style=\"height:6px\"></p><div><p style=\"color:#101010\">Description</p><p style=\"color:#101010;font-weight:400;line-height:24px;white-space:pre-wrap\"><p class=\"dark:text-darkgray-600 mt-2 text-sm text-gray-500 [&amp;_a]:text-blue-500 [&amp;_a]:underline [&amp;_a]:hover:text-blue-600\"><p style=\"color: '#101010'; font-weight: 400; line-height: 24px; margin: 0;\">AN APPOINTMENT FOR THE THERAPY SESSION IN MY DENTAL CLINIC.</p>\n</p></p></div></div></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" className=\"\" style=\"width:600px;\" width=\"600\" bgcolor=\"#FFFFFF\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#FFFFFF;background-color:#FFFFFF;margin:0px auto;max-width:600px\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" align=\"center\" border=\"0\" style=\"background:#FFFFFF;background-color:#FFFFFF;width:100%\"><tbody><tr><td style=\"direction:ltr;font-size:0;padding:0;text-align:center\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td className=\"\" style=\"vertical-align:top;width:598px;\" ><![endif]--><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div></div><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"></td><![endif]--><div style=\"margin:0px auto;max-width:600px\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" align=\"center\" border=\"0\" style=\"width:100%\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:0px;text-align:center\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:600px;\" ><![endif]--><div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" border=\"0\" style=\"vertical-align:top\" width=\"100%\"><tbody><tr><td align=\"center\" style=\"font-size:0px;padding:10px 25px;padding-top:32px;word-break:break-word\"><table cellPadding=\"0\" cellSpacing=\"0\" role=\"presentation\" border=\"0\" style=\"border-collapse:collapse;border-spacing:0px\"><tbody><tr><td style=\"width:89px\"><a href=\"https://app.cal.com\" target=\"_blank\" rel=\"noreferrer\"><img height=\"19\" src=\"https://app.cal.com/emails/logo.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:19px;width:100%;font-size:13px\" width=\"89\" alt=\"\"/></a></td></tr></tbody></table></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></div></body></html>\n",
          "text": "Your scheduled event was canceled\nWe sent an email to everyone with this information.\n\nReason for cancellation (optional):\nda\n\nWhat:\nAPPOINTMENT FOR THERAPY SESSION between Mukhtar Ubaid and UbaidNasir\n\nInvitee Time Zone:\nAsia/Karachi\n\nWho:\nMukhtar Ubaid - Organizer\nubaidmukhtar237@gmail.com\nUbaidNasir\nubaidnasir1631@gmail.com\n\nWhere:\nBright Smile Dental Care, 12-B Gulshan Avenue, Block D, Lahore, Punjab, Pakistan 54000.\n\nDescription\nAN APPOINTMENT FOR THE THERAPY SESSION IN MY DENTAL CLINIC.\n\nNeed to reschedule or cancel? https://cal.com/booking/rWiqxYX9JUFNWCZrmEj4CQ?changes=true\n",
          "textAsHtml": "<p>Your scheduled event was canceled<br/>We sent an email to everyone with this information.</p><p>Reason for cancellation (optional):<br/>da</p><p>What:<br/>APPOINTMENT FOR THERAPY SESSION between Mukhtar Ubaid and UbaidNasir</p><p>Invitee Time Zone:<br/>Asia/Karachi</p><p>Who:<br/>Mukhtar Ubaid - Organizer<br/><a href=\"mailto:ubaidmukhtar237@gmail.com\">ubaidmukhtar237@gmail.com</a><br/>UbaidNasir<br/><a href=\"mailto:ubaidnasir1631@gmail.com\">ubaidnasir1631@gmail.com</a></p><p>Where:<br/>Bright Smile Dental Care, 12-B Gulshan Avenue, Block D, Lahore, Punjab, Pakistan 54000.</p><p>Description<br/>AN APPOINTMENT FOR THE THERAPY SESSION IN MY DENTAL CLINIC.</p><p>Need to reschedule or cancel? <a href=\"https://cal.com/booking/rWiqxYX9JUFNWCZrmEj4CQ?changes=true\">https://cal.com/booking/rWiqxYX9JUFNWCZrmEj4CQ?changes=true</a></p>",
          "subject": "Canceled: APPOINTMENT FOR THERAPY SESSION between Mukhtar Ubaid and UbaidNasir at 6:45pm - 7:15pm, Wednesday, September 17, 2025",
          "date": "2025-09-13T21:04:35.000Z",
          "to": {
            "value": [
              {
                "address": "ubaidmukhtar237@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:ubaidmukhtar237@gmail.com\" class=\"mp_address_email\">ubaidmukhtar237@gmail.com</a></span>",
            "text": "ubaidmukhtar237@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "hello@cal.com",
                "name": "Cal.com"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Cal.com</span> &lt;<a href=\"mailto:hello@cal.com\" class=\"mp_address_email\">hello@cal.com</a>&gt;</span>",
            "text": "\"Cal.com\" <hello@cal.com>"
          },
          "messageId": "<a3da0032-9806-4e43-8520-ce2c0f6e165c@mtasv.net>"
        }
      }
    ],
    "Markdown": [
      {
        "json": {
          "From ": "From: \"Cal.com\" <hello@cal.com>",
          "Subject": "Canceled: APPOINTMENT FOR THERAPY SESSION between Mukhtar Ubaid and UbaidNasir at 6:45pm - 7:15pm, Wednesday, September 17, 2025",
          "Id": "19944e4e903f6101",
          "threadId": "19944e4e903f6101",
          "textAsHtml": "<p>Your scheduled event was canceled<br/>We sent an email to everyone with this information.</p><p>Reason for cancellation (optional):<br/>da</p><p>What:<br/>APPOINTMENT FOR THERAPY SESSION between Mukhtar Ubaid and UbaidNasir</p><p>Invitee Time Zone:<br/>Asia/Karachi</p><p>Who:<br/>Mukhtar Ubaid - Organizer<br/><a href=\"mailto:ubaidmukhtar237@gmail.com\">ubaidmukhtar237@gmail.com</a><br/>UbaidNasir<br/><a href=\"mailto:ubaidnasir1631@gmail.com\">ubaidnasir1631@gmail.com</a></p><p>Where:<br/>Bright Smile Dental Care, 12-B Gulshan Avenue, Block D, Lahore, Punjab, Pakistan 54000.</p><p>Description<br/>AN APPOINTMENT FOR THE THERAPY SESSION IN MY DENTAL CLINIC.</p><p>Need to reschedule or cancel? <a href=\"https://cal.com/booking/rWiqxYX9JUFNWCZrmEj4CQ?changes=true\">https://cal.com/booking/rWiqxYX9JUFNWCZrmEj4CQ?changes=true</a></p>",
          "text": "Your scheduled event was canceled\nWe sent an email to everyone with this information.\n\nReason for cancellation (optional):\nda\n\nWhat:\nAPPOINTMENT FOR THERAPY SESSION between Mukhtar Ubaid and UbaidNasir\n\nInvitee Time Zone:\nAsia/Karachi\n\nWho:\nMukhtar Ubaid - Organizer\nubaidmukhtar237@gmail.com\nUbaidNasir\nubaidnasir1631@gmail.com\n\nWhere:\nBright Smile Dental Care, 12-B Gulshan Avenue, Block D, Lahore, Punjab, Pakistan 54000.\n\nDescription\nAN APPOINTMENT FOR THE THERAPY SESSION IN MY DENTAL CLINIC.\n\nNeed to reschedule or cancel? https://cal.com/booking/rWiqxYX9JUFNWCZrmEj4CQ?changes=true\n",
          "data": "Your scheduled event was canceled  \nWe sent an email to everyone with this information.\n\nReason for cancellation (optional):  \nda\n\nWhat:  \nAPPOINTMENT FOR THERAPY SESSION between Mukhtar Ubaid and UbaidNasir\n\nInvitee Time Zone:  \nAsia/Karachi\n\nWho:  \nMukhtar Ubaid - Organizer  \n[ubaidmukhtar237@gmail.com](mailto:ubaidmukhtar237@gmail.com)  \nUbaidNasir  \n[ubaidnasir1631@gmail.com](mailto:ubaidnasir1631@gmail.com)\n\nWhere:  \nBright Smile Dental Care, 12-B Gulshan Avenue, Block D, Lahore, Punjab, Pakistan 54000.\n\nDescription  \nAN APPOINTMENT FOR THE THERAPY SESSION IN MY DENTAL CLINIC.\n\nNeed to reschedule or cancel? <https://cal.com/booking/rWiqxYX9JUFNWCZrmEj4CQ?changes=true>"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-13T19:54:57.732Z",
      "updatedAt": "2025-09-13T19:54:57.732Z",
      "role": "workflow:owner",
      "workflowId": "Iju1ERJ6gUQSztFE",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1757794299
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-14T00:26:59.000Z",
  "versionId": "b164c7bd-9346-4c7f-b43e-1edcd63c38f5"
}