workflows/IwpEWsw7t2e6E4hm.json
{
  "active": false,
  "connections": {
    "Tool-Calendar-Webhook": {
      "main": [
        [
          {
            "node": "Event = tool-call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Time + Attempt": {
      "main": [
        [
          {
            "node": "AvailSlots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Time + Attempt 1": {
      "main": [
        [
          {
            "node": "AvailSlots1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Time + Attempt 2": {
      "main": [
        [
          {
            "node": "AvailSlots2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AvailSlots": {
      "main": [
        [
          {
            "node": "Slice + Shuffle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AvailSlots1": {
      "main": [
        [
          {
            "node": "Slice + Shuffle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AvailSlots2": {
      "main": [
        [
          {
            "node": "Slice + Shuffle2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slice + Shuffle": {
      "main": [
        [
          {
            "node": "Format + Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slice + Shuffle1": {
      "main": [
        [
          {
            "node": "Format + Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slice + Shuffle2": {
      "main": [
        [
          {
            "node": "Format + Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format + Filter": {
      "main": [
        [
          {
            "node": "If Time Busy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format + Filter1": {
      "main": [
        [
          {
            "node": "If Time Busy1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format + Filter2": {
      "main": [
        [
          {
            "node": "If Time Busy2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Time Busy": {
      "main": [
        [
          {
            "node": "+1 Day / Attempt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Time Busy1": {
      "main": [
        [
          {
            "node": "+1 Day / Attempt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Time Busy2": {
      "main": [
        [
          {
            "node": "+1 Day / Attempt2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "+1 Day / Attempt": {
      "main": [
        [
          {
            "node": "Attempt Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "+1 Day / Attempt1": {
      "main": [
        [
          {
            "node": "Attempt Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "+1 Day / Attempt2": {
      "main": [
        [
          {
            "node": "Attempt Check2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt Check": {
      "main": [
        [
          {
            "node": "Start Time + Attempt 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt Check1": {
      "main": [
        [
          {
            "node": "Start Time + Attempt 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt Check2": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arguments": {
      "main": [
        [
          {
            "node": "BookSlot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BookSlot": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event = tool-call": {
      "main": [
        [
          {
            "node": "tool-call-name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Customer Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool-call-name": {
      "main": [
        [
          {
            "node": "Start Time + Attempt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Arguments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio": {
      "main": [
        [
          {
            "node": "Booking Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Number": {
      "main": [
        [
          {
            "node": "Raw Data Record ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Record": {
      "main": [
        [
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-18T14:21:12.502Z",
  "id": "IwpEWsw7t2e6E4hm",
  "isArchived": false,
  "meta": null,
  "name": "Ultimate Booking AI Voice Agent:https://youtu.be/b09o75A-X2E?si=UgGOY-jJiUVwWzV_",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b3d19683-0f3f-4a61-bb08-3a058fb5b0ab",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        96,
        896
      ],
      "id": "46d0ef6a-2322-41c0-a53f-9b74ead32012",
      "name": "Tool-Calendar-Webhook",
      "webhookId": "b3d19683-0f3f-4a61-bb08-3a058fb5b0ab"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Event = tool-call').item.json.body.message.toolWithToolCallList[0].toolCall.id }}\",\n            \"result\": \"We've got available slots at {{ $json.availSlots }}, do any of those work?\"\n        }\n    ]\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2416,
        480
      ],
      "id": "307a1458-5af0-48eb-9c52-f78430412b50",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Event = tool-call').item.json.body.message.toolWithToolCallList[0].toolCall.id }}\",\n            \"result\": \"Hmm, that day is booked, we've got available slots at {{ $json.availSlots }}, for the following day. Do any of those work?\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2416,
        656
      ],
      "id": "87b171ed-6399-4a48-84d3-c726e025c294",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Event = tool-call').item.json.body.message.toolWithToolCallList[0].toolCall.id }}\",\n            \"result\": \"Hmm, that day is booked, we've got available slots at {{ $json.availSlots }}, 2 days from then. Do any of those work?\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2416,
        832
      ],
      "id": "8a6582dc-3151-4d21-8c2c-fcf331386311",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('tool-call-name').item.json.body.message.toolCalls[0].id }}\",\n            \"result\": \"I've created your booking, you should receive an SMS confirmation with the meeting link shortly?\"\n        }\n    ]\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1216,
        1280
      ],
      "id": "e09697b0-1d3b-49a7-a553-1ea4a926b456",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d7501f6-b357-4524-9c8d-75b29e1a820b",
              "name": "startTime",
              "value": "={{ DateTime.fromISO($json.body.message.toolCalls[0].function.arguments.requestedTime).toFormat(\"yyyy-MM-dd\") + \"T09:00:00-05:00\" }}",
              "type": "string"
            },
            {
              "id": "c33c40ee-7dac-4159-9def-3eb977cf51d8",
              "name": "attempt",
              "value": "=0",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        656
      ],
      "id": "a7cc20b0-0442-442d-a28c-9c2043714111",
      "name": "Start Time + Attempt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d7501f6-b357-4524-9c8d-75b29e1a820b",
              "name": "startTime",
              "value": "={{ $json.startTime }}",
              "type": "string"
            },
            {
              "id": "c33c40ee-7dac-4159-9def-3eb977cf51d8",
              "name": "attempt",
              "value": "={{ $json.attempt }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        848
      ],
      "id": "67f8fc0c-781e-4708-bd9d-5bdbb489c332",
      "name": "Start Time + Attempt 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d7501f6-b357-4524-9c8d-75b29e1a820b",
              "name": "startTime",
              "value": "={{ $json.startTime }}",
              "type": "string"
            },
            {
              "id": "c33c40ee-7dac-4159-9def-3eb977cf51d8",
              "name": "attempt",
              "value": "={{ $json.attempt }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1056
      ],
      "id": "4b38c63c-dcc0-4584-b702-006235054041",
      "name": "Start Time + Attempt 2"
    },
    {
      "parameters": {
        "url": "https://api.cal.com/v1/slots",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "eventTypeId",
              "value": "xxxxxxxx"
            },
            {
              "name": "startTime",
              "value": "={{ $json.startTime }}"
            },
            {
              "name": "endTime",
              "value": "={{ DateTime.fromISO($json.startTime).plus({ hours: 8 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss-05:00\") }}"
            },
            {
              "name": "timeZone",
              "value": "America/New_York"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        656
      ],
      "id": "1f1eadc7-b029-4c38-9e29-0170efd0bdf2",
      "name": "AvailSlots",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://api.cal.com/v1/slots",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "eventTypeId",
              "value": "xxxxxxx"
            },
            {
              "name": "startTime",
              "value": "={{ $json.startTime }}"
            },
            {
              "name": "endTime",
              "value": "={{ DateTime.fromISO($json.startTime).plus({ hours: 8 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss-05:00\") }}"
            },
            {
              "name": "timeZone",
              "value": "America/New_York"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        848
      ],
      "id": "5b246661-d291-457a-80e7-d3856c18dbbe",
      "name": "AvailSlots1",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://api.cal.com/v1/slots",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "eventTypeId",
              "value": "xxxxxxxx"
            },
            {
              "name": "startTime",
              "value": "={{ $json.startTime }}"
            },
            {
              "name": "endTime",
              "value": "={{ DateTime.fromISO($json.startTime).plus({ hours: 8 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss-05:00\") }}"
            },
            {
              "name": "timeZone",
              "value": "America/New_York"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        1056
      ],
      "id": "ebf3af54-f39a-48d6-a5c3-1cbf27002eb4",
      "name": "AvailSlots2",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) {\n    return [];\n}\n\nconst data = items[0].json;\n\n// Ensure \"attempt\" is set; default to 0 if missing\nconst attempt = data.attempt !== undefined ? data.attempt : 0;\n\n// The \"slots\" object might have multiple date keys. We only pick the first one.\nconst dateKeys = Object.keys(data.slots || {});\nif (dateKeys.length === 0) {\n  // No date keys => no slots at all, so return with empty availability\n  return [{\n    json: {\n      day: null,\n      availSlots: [],\n      startTime: data.startTime,\n      attempt: attempt\n    }\n  }];\n}\n\nconst dateKey = dateKeys[0]; // First available date\nconst timeSlots = data.slots[dateKey] || [];\n\n// Shuffle function\nconst shuffleArray = (arr) => arr.sort(() => Math.random() - 0.5);\nconst shuffled = shuffleArray([...timeSlots]);\n\n// Slice first 3 slots\nconst sliced = shuffled.slice(0, 3);\n\n// Sort by time (assuming each slot has a \"time\" property)\nsliced.sort((a, b) => new Date(a.time) - new Date(b.time));\n\n// Return the processed data along with day, startTime, and attempt\nreturn [{\n  json: {\n    day: dateKey,\n    availSlots: sliced,\n    startTime: data.startTime,\n    attempt: attempt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        656
      ],
      "id": "ab403199-30be-4a8d-91f9-005e095ddef4",
      "name": "Slice + Shuffle"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) {\n    return [];\n}\n\nconst data = items[0].json;\n\n// Ensure \"attempt\" is set; default to 1 if missing\nconst attempt = data.attempt !== undefined ? data.attempt : 1;\n\n// The \"slots\" object might have multiple date keys. We only pick the first one.\nconst dateKeys = Object.keys(data.slots || {});\nif (dateKeys.length === 0) {\n  // No date keys => no slots at all, so return with empty availability\n  return [{\n    json: {\n      day: null,\n      availSlots: [],\n      startTime: data.startTime,\n      attempt: attempt\n    }\n  }];\n}\n\nconst dateKey = dateKeys[0]; // First available date\nconst timeSlots = data.slots[dateKey] || [];\n\n// Shuffle function\nconst shuffleArray = (arr) => arr.sort(() => Math.random() - 0.5);\nconst shuffled = shuffleArray([...timeSlots]);\n\n// Slice first 3 slots\nconst sliced = shuffled.slice(0, 3);\n\n// Sort by time (assuming each slot has a \"time\" property)\nsliced.sort((a, b) => new Date(a.time) - new Date(b.time));\n\n// Return the processed data along with day, startTime, and attempt\nreturn [{\n  json: {\n    day: dateKey,\n    availSlots: sliced,\n    startTime: data.startTime,\n    attempt: attempt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        848
      ],
      "id": "e8422543-74f9-4315-b217-69a8cd6aa288",
      "name": "Slice + Shuffle1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) {\n    return [];\n}\n\nconst data = items[0].json;\n\n// Ensure \"attempt\" is set; default to 1 if missing\nconst attempt = data.attempt !== undefined ? data.attempt : 2;\n\n// The \"slots\" object might have multiple date keys. We only pick the first one.\nconst dateKeys = Object.keys(data.slots || {});\nif (dateKeys.length === 0) {\n  // No date keys => no slots at all, so return with empty availability\n  return [{\n    json: {\n      day: null,\n      availSlots: [],\n      startTime: data.startTime,\n      attempt: attempt\n    }\n  }];\n}\n\nconst dateKey = dateKeys[0]; // First available date\nconst timeSlots = data.slots[dateKey] || [];\n\n// Shuffle function\nconst shuffleArray = (arr) => arr.sort(() => Math.random() - 0.5);\nconst shuffled = shuffleArray([...timeSlots]);\n\n// Slice first 3 slots\nconst sliced = shuffled.slice(0, 3);\n\n// Sort by time (assuming each slot has a \"time\" property)\nsliced.sort((a, b) => new Date(a.time) - new Date(b.time));\n\n// Return the processed data along with day, startTime, and attempt\nreturn [{\n  json: {\n    day: dateKey,\n    availSlots: sliced,\n    startTime: data.startTime,\n    attempt: attempt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        1056
      ],
      "id": "3dbf3f83-80ff-4c15-ae29-733a175ab3ef",
      "name": "Slice + Shuffle2"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst availSlots = data.availSlots || [];\nconst attempt = data.attempt !== undefined ? Number(data.attempt) : 0;\nconst startTime = data.startTime;\n\n// If availSlots isn’t an array or is empty, return \"busy\"\nif (!Array.isArray(availSlots) || availSlots.length === 0) {\n  return [{\n    json: {\n      availSlots: \"busy\",\n      attempt,\n      startTime\n    }\n  }];\n}\n\nfunction formatTime(dateInput) {\n  const d = new Date(dateInput);\n  const options = { \n    hour: 'numeric', \n    minute: 'numeric', \n    hour12: true, \n    timeZone: 'America/New_York'\n  };\n  return d.toLocaleTimeString('en-AU', options);\n}\n\n// Filter out any slots without a valid \"time\" property\nconst validSlots = availSlots.filter(slot => slot.time);\nif (validSlots.length === 0) {\n  return [{\n    json: {\n      availSlots: \"busy\",\n      attempt,\n      startTime\n    }\n  }];\n}\n\n// Format each valid slot's time and join them with commas\nconst formatted = validSlots\n  .map(slot => formatTime(slot.time))\n  .join(', ');\n\n// If the formatted string is empty, return \"busy\"\nif (!formatted) {\n  return [{\n    json: {\n      availSlots: \"busy\",\n      attempt,\n      startTime\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    availSlots: formatted,  // e.g. \"10:00 am, 10:15 am, 12:30 pm\"\n    attempt,\n    startTime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        656
      ],
      "id": "8a4b8841-fbf8-42c8-86f6-cb00d273be26",
      "name": "Format + Filter"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst availSlots = data.availSlots || [];\nconst attempt = data.attempt !== undefined ? Number(data.attempt) : 1;\nconst startTime = data.startTime;\n\n// If availSlots isn’t an array or is empty, return \"busy\"\nif (!Array.isArray(availSlots) || availSlots.length === 0) {\n  return [{\n    json: {\n      availSlots: \"busy\",\n      attempt,\n      startTime\n    }\n  }];\n}\n\nfunction formatTime(dateInput) {\n  const d = new Date(dateInput);\n  const options = { \n    hour: 'numeric', \n    minute: 'numeric', \n    hour12: true, \n    timeZone: 'America/New_York'\n  };\n  return d.toLocaleTimeString('en-AU', options);\n}\n\n// Filter out any slots without a valid \"time\" property\nconst validSlots = availSlots.filter(slot => slot.time);\nif (validSlots.length === 0) {\n  return [{\n    json: {\n      availSlots: \"busy\",\n      attempt,\n      startTime\n    }\n  }];\n}\n\n// Format each valid slot's time and join them with commas\nconst formatted = validSlots\n  .map(slot => formatTime(slot.time))\n  .join(', ');\n\n// If the formatted string is empty, return \"busy\"\nif (!formatted) {\n  return [{\n    json: {\n      availSlots: \"busy\",\n      attempt,\n      startTime\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    availSlots: formatted,  // e.g. \"10:00 am, 10:15 am, 12:30 pm\"\n    attempt,\n    startTime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        848
      ],
      "id": "d6c962c1-2201-4d15-a948-8e872457f1d0",
      "name": "Format + Filter1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst availSlots = data.availSlots || [];\nconst attempt = data.attempt !== undefined ? Number(data.attempt) : 2;\nconst startTime = data.startTime;\n\n// If availSlots isn’t an array or is empty, return \"busy\"\nif (!Array.isArray(availSlots) || availSlots.length === 0) {\n  return [{\n    json: {\n      availSlots: \"busy\",\n      attempt,\n      startTime\n    }\n  }];\n}\n\nfunction formatTime(dateInput) {\n  const d = new Date(dateInput);\n  const options = { \n    hour: 'numeric', \n    minute: 'numeric', \n    hour12: true, \n    timeZone: 'America/New_York'\n  };\n  return d.toLocaleTimeString('en-AU', options);\n}\n\n// Filter out any slots without a valid \"time\" property\nconst validSlots = availSlots.filter(slot => slot.time);\nif (validSlots.length === 0) {\n  return [{\n    json: {\n      availSlots: \"busy\",\n      attempt,\n      startTime\n    }\n  }];\n}\n\n// Format each valid slot's time and join them with commas\nconst formatted = validSlots\n  .map(slot => formatTime(slot.time))\n  .join(', ');\n\n// If the formatted string is empty, return \"busy\"\nif (!formatted) {\n  return [{\n    json: {\n      availSlots: \"busy\",\n      attempt,\n      startTime\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    availSlots: formatted,  // e.g. \"10:00 am, 10:15 am, 12:30 pm\"\n    attempt,\n    startTime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        1056
      ],
      "id": "883ceaa5-2f9f-4ba5-8fff-f412396f5f2d",
      "name": "Format + Filter2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df7e5dbc-826e-4763-9a85-87c8136155de",
              "leftValue": "={{ $json.availSlots }}",
              "rightValue": "busy",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        656
      ],
      "id": "09efb0a6-8b01-4141-aaf0-2fddae29c465",
      "name": "If Time Busy"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df7e5dbc-826e-4763-9a85-87c8136155de",
              "leftValue": "={{ $json.availSlots }}",
              "rightValue": "busy",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        848
      ],
      "id": "a3824e96-ddbd-46a3-ae47-6e1f82f064e6",
      "name": "If Time Busy1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df7e5dbc-826e-4763-9a85-87c8136155de",
              "leftValue": "={{ $json.availSlots }}",
              "rightValue": "busy",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        1056
      ],
      "id": "879fb64b-da84-44f6-8c0d-b55217023230",
      "name": "If Time Busy2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b2209d1-322e-44be-acd2-dfc0fb278e9d",
              "name": "attempt",
              "value": "={{ Number($('Format + Filter').item.json.attempt) + 1 }}",
              "type": "number"
            },
            {
              "id": "ba93469a-3aa6-4f22-ad70-8be06d8c4719",
              "name": "startTime",
              "value": "={{ DateTime.fromISO($(\"Start Time + Attempt\").item.json.startTime, { setZone: true }).plus({ days: 1 }).toFormat(\"yyyy-MM-dd\")+\"T09:00:00-05:00\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        512
      ],
      "id": "8c85ba64-d092-4827-adc9-c924c463f191",
      "name": "+1 Day / Attempt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b2209d1-322e-44be-acd2-dfc0fb278e9d",
              "name": "attempt",
              "value": "={{ Number($('Format + Filter1').item.json.attempt) + 1 }}",
              "type": "number"
            },
            {
              "id": "ba93469a-3aa6-4f22-ad70-8be06d8c4719",
              "name": "startTime",
              "value": "={{ DateTime.fromISO($(\"Start Time + Attempt 1\").item.json.startTime, { setZone: true }).plus({ days: 1 }).toFormat(\"yyyy-MM-dd\")+\"T09:00:00-05:00\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        816
      ],
      "id": "8c2a15da-054f-461b-9d1b-a6191b6262dc",
      "name": "+1 Day / Attempt1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b2209d1-322e-44be-acd2-dfc0fb278e9d",
              "name": "attempt",
              "value": "={{ Number($('Format + Filter2').item.json.attempt) + 1 }}",
              "type": "number"
            },
            {
              "id": "ba93469a-3aa6-4f22-ad70-8be06d8c4719",
              "name": "startTime",
              "value": "={{ DateTime.fromISO($(\"Start Time + Attempt 2\").item.json.startTime, { setZone: true }).plus({ days: 1 }).toFormat(\"yyyy-MM-dd\")+\"T09:00:00-05:00\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        1088
      ],
      "id": "92b435f4-2fe3-4f31-947d-d7dd1e35b2f2",
      "name": "+1 Day / Attempt2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01279cc4-23ea-4722-bc73-57428d89de78",
              "leftValue": "={{ $('Format + Filter').item.json.attempt }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        512
      ],
      "id": "0955c2a0-b916-471d-936e-c7968fb8d84a",
      "name": "Attempt Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01279cc4-23ea-4722-bc73-57428d89de78",
              "leftValue": "={{ $('Format + Filter').item.json.attempt }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        816
      ],
      "id": "a19d0bef-681f-4700-9045-d2ba10968db0",
      "name": "Attempt Check1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01279cc4-23ea-4722-bc73-57428d89de78",
              "leftValue": "={{ $('Format + Filter').item.json.attempt }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        1088
      ],
      "id": "a4e4175c-5eb4-4cc7-9a22-83231e3b1c16",
      "name": "Attempt Check2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cece0c40-322b-4bec-91d4-f00a2fe85da6",
              "name": "requestedTime",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.requestedTime }}",
              "type": "string"
            },
            {
              "id": "434329fd-ca96-4e2d-9362-0114ba4f9132",
              "name": "name",
              "value": "={{ $json.body.message.toolWithToolCallList[0].toolCall.function.arguments.name }}",
              "type": "string"
            },
            {
              "id": "6cc111d9-b853-457c-b89a-77cba13dfa2d",
              "name": "reason",
              "value": "={{ $json.body.message.toolWithToolCallList[0].toolCall.function.arguments.reason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1280
      ],
      "id": "94aaa9ed-d138-4354-8520-23dde8dd9fb1",
      "name": "Arguments"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cal.com/v1/bookings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventTypeId\": xxxxx,\n  \"start\": \"{{ $json.requestedTime }}-05:00\",\n  \"responses\": {\n    \"name\": \"{{ $json.name }}\",     \n    \"email\": \"xxxxx\",\n    \"Phone\":  \"xxxxx\", \n    \"title\": \"Booking with {{ $json.name }}, and xxxxx\",\n     \"location\": {\n      \"value\": \"integrations:google:meet\",\n      \"optionValue\": \"\"\n\n    }\n  },\n  \"metadata\": {},\n  \"timeZone\": \"America/New_York\",  \n  \"language\": \"en\",\n  \"description\": \"Discovery - {{ $json.reason }}\",\n  \"status\": \"ACCEPTED\",\n  \"smsReminderNumber\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        1280
      ],
      "id": "5847bd97-3b7f-4b16-972a-2d6b5fac8d7b",
      "name": "BookSlot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "36dc2d36-a7e7-487b-8698-233e0bc9e05a",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "tool-calls",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        896
      ],
      "id": "aca719f1-9d41-45a2-9432-04ad68cc4109",
      "name": "Event = tool-call"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fced170-16e0-4a5d-b3e2-1ac61c101be1",
              "leftValue": "={{ $json.body.message.toolWithToolCallList[0].function.name }}",
              "rightValue": "checkCalendarN8N",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        896
      ],
      "id": "c86cbd4b-0aa9-4a4e-859d-87a65d9701d0",
      "name": "tool-call-name"
    },
    {
      "parameters": {
        "from": "xxxxxxxxxxxx",
        "to": "={{ $('tool-call-name').item.json.body.message.call.customer.number }}",
        "message": "=Hey {{ $json.responses.name }},\n\nYour booking has been created for {{ $('tool-call-name').item.json.body.message.toolCalls[0].function.arguments.requestedTime }}.\n\nYou can join the meeting from this link:\n{{ $json.references[0].meetingUrl }}\n\nThank you for your time on the phone. Look forward to meeting. \n\nRegards, \nSam - Talk AI",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1392,
        1280
      ],
      "id": "20057e1e-3611-47ef-8456-8e6d6d34f7f5",
      "name": "Twilio"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Event = tool-call').item.json.body.message.toolWithToolCallList[0].toolCall.id }}\",\n            \"result\": \"Looks like we are fully booked, did you want to call back in a few days?\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2416,
        1056
      ],
      "id": "b0af5750-0e7e-47fb-be53-877f12a23ddc",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "xxxx",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "xxxx",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Meeting Time": "={{ $('tool-call-name').item.json.body.message.toolCalls[0].function.arguments.requestedTime }}",
            "Status": "Booked",
            "Meeting Link": "={{ $('Respond to Webhook3').item.json.references[0].meetingUrl }}",
            "Name": "={{ $('Respond to Webhook3').item.json.responses.name }}",
            "Number": "={{ $('tool-call-name').item.json.body.message.call.customer.number }}",
            "Reason": "={{ $('Respond to Webhook3').item.json.responses.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Time",
              "displayName": "Meeting Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Link",
              "displayName": "Meeting Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Booked",
                  "value": "Booked"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1568,
        1280
      ],
      "id": "fd82e2d4-2a1c-4796-b5cf-93f00dbad423",
      "name": "Booking Record"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "xxxx",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "xxxx",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "currency": 0,
            "started": "={{ $('Event = tool-call').item.json.body.message.startedAt }}",
            "ended": "={{ $('Event = tool-call').item.json.body.message.endedAt }}",
            "ended reason": "={{ $('Event = tool-call').item.json.body.message.endedReason }}",
            "cost(stt)": "={{ $('Event = tool-call').item.json.body.message.costBreakdown.stt }}",
            "cost(llm)": "={{ $('Event = tool-call').item.json.body.message.costBreakdown.llm }}",
            "cost(tts)": "={{ $('Event = tool-call').item.json.body.message.costBreakdown.tts }}",
            "cost(vapi)": "={{ $('Event = tool-call').item.json.body.message.costBreakdown.vapi }}",
            "cost(total)": "={{ $('Event = tool-call').item.json.body.message.costBreakdown.total }}",
            "id": "={{ $('Event = tool-call').item.json.body.message.call.id }}",
            "callproviderID": "={{ $('Event = tool-call').item.json.body.message.call.phoneCallProviderId }}",
            "customernumber": "={{ $json.number }}",
            "phonenumberID": "={{ $('Event = tool-call').item.json.body.message.phoneNumber.id }}",
            "transcript": "={{ $('Event = tool-call').item.json.body.message.transcript }}",
            "recording": "={{ $('Event = tool-call').item.json.body.message.recordingUrl }}",
            "type": "={{ $('Event = tool-call').item.json.body.message.call.type }}",
            "milliseconds": "={{ $('Event = tool-call').item.json.body.message.durationMs }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "callproviderID",
              "displayName": "callproviderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phonenumberID",
              "displayName": "phonenumberID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customername",
              "displayName": "customername",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customernumber",
              "displayName": "customernumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "started",
              "displayName": "started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ended",
              "displayName": "ended",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "milliseconds",
              "displayName": "milliseconds",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(stt)",
              "displayName": "cost(stt)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(llm)",
              "displayName": "cost(llm)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(tts)",
              "displayName": "cost(tts)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(vapi)",
              "displayName": "cost(vapi)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(total)",
              "displayName": "cost(total)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(twilio)",
              "displayName": "cost(twilio)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(totals)",
              "displayName": "cost(totals)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost(aud)",
              "displayName": "cost(aud)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ended reason",
              "displayName": "ended reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booking Time",
              "displayName": "Booking Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Link",
              "displayName": "Meeting Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "outcome",
              "displayName": "outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Interested",
                  "value": "Interested"
                },
                {
                  "name": "Unqualified",
                  "value": "Unqualified"
                },
                {
                  "name": "Voicemail",
                  "value": "Voicemail"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "recording",
              "displayName": "recording",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1008,
        1472
      ],
      "id": "718699b0-376d-4bfd-9b09-251fa608416f",
      "name": "Raw Data Record "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d86411b9-9043-42ff-938a-d35198eee0d4",
              "name": "number",
              "value": "={{ $json.body.message.call.customer.number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1472
      ],
      "id": "3e2ef52c-8ef1-42fe-9efa-381fe9622c24",
      "name": "Customer Number"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07PZHX72M8",
          "mode": "list",
          "cachedResultName": "sales"
        },
        "text": "=*_New booking created for {{ $('Respond to Webhook3').item.json.responses.name }}_*\n\n*Contact Number:* {{ $('tool-call-name').item.json.body.message.call.customer.number }}\n\nBooking time: {{ $('tool-call-name').item.json.body.message.toolCalls[0].function.arguments.requestedTime }}\n\nBooking link: {{ $('Respond to Webhook3').item.json.references[0].meetingUrl }}\n\n<@U07S12BK5MH> <@U07S12D24CT>",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1760,
        1280
      ],
      "id": "22880791-3a9b-43af-b0f2-6c69c9dda374",
      "name": "Notify Team",
      "webhookId": "77a14917-4a83-453f-99d8-1393fc883335"
    },
    {
      "parameters": {
        "content": "## Webhook Event-type Handler \nIf server-event = tool-call -> check tool-call name\n- name = checkCalendarN8N -> true\n- name = bookCalendarN8N -> false\n\nIf server-event ≠ tool-call -> false\n- end-of-call-report sent from VAPI only\n",
        "height": 220,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        528
      ],
      "typeVersion": 1,
      "id": "008f1f20-6633-446d-a537-bfa977ddb914",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Availability Handler\n\nScreening Availability\nThe workflow initializes the attempt counter and start time (formatted as \"yyyy-MM-ddT09:00:00+11:00\" for AEST).\nThe AvailSlots nodes request available slots from Cal.com within an 8-hour window using:\nEvent type ID\nTime zone: Australia/Sydney\nThe response is processed:\nA random subset (3 slots) is selected.\nIf slots are available, they are formatted for user selection.\nIf unavailable, the workflow marks it as \"busy\" and triggers a retry.\nHandling Busy Availability\nIf no slots are found, the If Time Busy condition advances the start time by one day and retries the check.\nIf no slots are found after multiple attempts, the workflow moves to rolling the attempt counter.\nRolling the Attempt Counter\nEach failed attempt increments the attempt counter and shifts the start time forward by a day.\nThe Attempt Check node prevents infinite loops, stopping retries after 3 attempts.\nIf the limit is not reached, the process loops back to recheck availability.\nThis ensures efficient slot selection, automatic retries, and controlled attempt limits",
        "height": 420,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        128
      ],
      "typeVersion": 1,
      "id": "4d49beab-b65f-4eeb-a337-a1d894d8097f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## If request time = free; \n- \"We've got available slots at {{ $json.availSlots }}, do any of those work?\"",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        432
      ],
      "typeVersion": 1,
      "id": "b2af7ad6-231c-4bfa-98b0-2ae483afd1ba",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## If user request time + 1 day = free; \n- \"Hmm, that day is booked, we've got available slots at {{ $json.availSlots }}, for the following day. Do any of those work?\"",
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        640
      ],
      "typeVersion": 1,
      "id": "9f76b4c6-8f30-41ed-8e2c-d784028f7bb2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## If user request time + 2 day = free; \n- \"Hmm, that day is booked, we've got available slots at {{ $json.availSlots }}, 2 days from then. Do any of those work?\"",
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        832
      ],
      "typeVersion": 1,
      "id": "1750e028-ec10-40db-8598-35241754a66d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## If user request time = busy; \n- \"Looks like we are fully booked, did you want to call back in a few days?\"",
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        1040
      ],
      "typeVersion": 1,
      "id": "e201a6b3-d215-4622-a853-848e0f46f09a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Creating a Booking\n1. Extracting Booking Information\nThe Arguments node gathers:\nrequestedTime: Selected time slot.\nname: User’s name.\nreason: Purpose of the booking.\n2. Sending the Booking Request\nThe BookSlot node sends a POST request to https://api.cal.com/v1/bookings with:\n\n{\n  \"eventTypeId\": 1229827,\n  \"start\": \"{{ requestedTime }}+11:00\",\n  \"responses\": {\n    \"name\": \"{{ name }}\",\n    \"email\": \"******\", \n    \"Phone\": \"******\",\n    \"title\": \"Booking with {{ name }}, and Talk AI\",\n    \"location\": { \"value\": \"integrations:google:meet\", \"optionValue\": \"\" }\n  },\n  \"metadata\": {},\n  \"timeZone\": \"******\",\n  \"language\": \"en\",\n  \"description\": \"Discovery - {{ reason }}\",\n  \"status\": \"ACCEPTED\"\n}\n\n\n3. Confirming the Booking\nIf successful, an SMS confirmation is sent via Twilio.\n4. Logging the Booking\nThe Booking Record node stores:\nMeeting time\nStatus (\"Booked\")\nMeeting link\nName & Phone number\n5. Internal Team Notification\nThe Notify Team node sends a Slack message with:\nContact number\nBooking time\nMeeting link",
        "height": 820,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        1312
      ],
      "typeVersion": 1,
      "id": "270c187a-fcce-45c7-a101-3fff7d282106",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Raw Data Store\n\nStoring;\n- call id's\n- durations\n- costs\n- transcripts / recordings\n- ended-reasons ",
        "height": 220,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        1472
      ],
      "typeVersion": 1,
      "id": "0e3f270f-cd67-42e9-a0af-ea126cad82b8",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Requirements\n\nCal.com account + event creation + API Key\n\nAirtable Access Token\n\nTwilio Account SID + Auth Token\n\nSlack* (optional)",
        "height": 220,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        528
      ],
      "typeVersion": 1,
      "id": "5f9a21a9-8cda-4f92-85ec-6093614abb1c",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-18T14:21:12.505Z",
      "updatedAt": "2025-09-18T14:21:12.505Z",
      "role": "workflow:owner",
      "workflowId": "IwpEWsw7t2e6E4hm",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-19T04:26:03.000Z",
  "versionId": "0426a4ac-a40f-4216-811b-7e4474003f05"
}