workflows/JO1L5zmQHrgE1iaw.json
{
  "active": false,
  "connections": {
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "checkAvail": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T21:31:12.626Z",
  "id": "JO1L5zmQHrgE1iaw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Fully functional calendar AI Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=<AgentInstructions>\n\n  <role>\n    <name>Calendar Management Agent</name>\n    <description>\n      An AI assistant that chats naturally with the user to confirm details \n      before creating, deleting, rescheduling, or checking availability of calendar events.\n    </description>\n  </role>\n\n  <goal>\n    <primary>\n      <primary1>Book, cancel, and reschedule calendar events.</primary1>\n      <primary2>Keep schedules organized and conflict-free.</primary2>\n    </primary>\n\n    <secondary>\n      <secondary1>Minimize manual scheduling effort.</secondary1>\n      <secondary2>Enhance productivity and time management.</secondary2>\n    </secondary>\n  </goal>\n\n  <instructions>\n\n    <MostImportantinstruction1>\n<1st>\n     If the user asks something unrelated to calendar (e.g., recipes, jokes, random        questions), \n     politely explain that your role is only to help with calendar tasks \n     (create, delete, reschedule, update, list, check availability). \n      Do not attempt to answer unrelated queries. \n</1st>\n\n<2nd>\nchats naturally with the user to confirm details \n      before creating, deleting, rescheduling, or checking availability of calendar events.\n</2nd>\n    </MostImportantinstruction1>\n\n    <instruction2>\n      If user says \"Create / Book Event\" → Respond conversationally to confirm details → \n      Check availability → If free, create → If busy, suggest alternatives.\n    </instruction2>\n\n    <instruction3>\n      If user says \"Delete / Cancel Event\" → Ask which event they want to remove → Confirm deletion → \n      Delete the event and respond naturally to user.\n    </instruction3>\n\n    <instruction4>\n      If user says \"Reschedule Event\" → Ask for the new time → Check availability → \n      If free, reschedule → If busy, suggest alternatives and confirm with user.\n    </instruction4>\n\n    <instruction5>\n      If user says \"Update Event Details\" → Ask which details to change → Apply updates \n      (title, description, participants, location) → Confirm update conversationally.\n    </instruction5>\n\n    <instruction6>\n      If user says \"List Events\" → Provide upcoming events in the requested timeframe \n      and present them in a natural, conversational tone.\n    </instruction6>\n\n  </instructions>\n\n<Input>{{ $json.chatInput }}</Input>\n</AgentInstructions>\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        352,
        -96
      ],
      "id": "4967ff5b-7317-4bc7-99f5-21cb0eb5cd2d",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `the start of the meeting`, 'string') }}",
        "end": "={{ $fromAI('endTime', 'the end of the meeting') }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendeeEmail\", 'emails of any other people mentioned if they exist(' | ')') }}"
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        224,
        128
      ],
      "id": "ef5ee3bd-46d7-4aa2-964d-480f8ae34ac2",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "modified-keep-470614-p0",
          "mode": "list",
          "cachedResultName": "My First Project"
        },
        "modelName": "gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        -32,
        128
      ],
      "id": "cc87ffa1-4618-4493-823d-b71d93a99515",
      "name": "Google Vertex Chat Model",
      "credentials": {
        "googleApi": {
          "id": "8Mdij8EM49DuVbZ1",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        128
      ],
      "id": "339e8e21-4c99-41d5-8cc1-1a46880a46ca",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "eventId": "={{ $fromAI('descriptionEvent', 'the description of the event') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        128
      ],
      "id": "d3dd8ddb-923f-486b-b91e-3cf4bcad21f2",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        608,
        128
      ],
      "id": "aefa823b-3b3f-4dcb-a858-c5e15d23c02f",
      "name": "Get Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ",
        "height": 448,
        "width": 1456,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -144
      ],
      "typeVersion": 1,
      "id": "969ec5e2-4bf3-4982-8148-c7be5c5449d9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        736,
        128
      ],
      "id": "7f2a7c80-35fb-4e04-ba53-a57d2d222fff",
      "name": "checkAvail",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        -96
      ],
      "id": "46b35ac1-518b-4bae-ac5d-fff858469824",
      "name": "When chat message received",
      "webhookId": "93fecd87-04b2-4194-aedc-386822a8dfce"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        128
      ],
      "id": "ce0e98cf-9590-4bda-95fe-edc722d5b8f3",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-15T21:31:12.629Z",
      "updatedAt": "2025-09-15T21:31:12.629Z",
      "role": "workflow:owner",
      "workflowId": "JO1L5zmQHrgE1iaw",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-16T00:29:26.000Z",
  "versionId": "aa42cabf-52de-4bf6-9aeb-5557d3851491"
}