workflows/JO1L5zmQHrgE1iaw.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Cancel": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ReSchedule": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "blank": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T21:31:12.626Z",
  "id": "JO1L5zmQHrgE1iaw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Fully functional calendar AI Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        -64
      ],
      "id": "4a68fbbe-a460-4db2-893d-0f283331044b",
      "name": "When chat message received",
      "webhookId": "4d8e7292-d019-4b0a-b1ac-cc8ad56daf64"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        -64
      ],
      "id": "4967ff5b-7317-4bc7-99f5-21cb0eb5cd2d",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "b8195fc27f4645d1b967c9ef701f5154"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        160
      ],
      "id": "0e926eda-bf40-43d5-b6e8-cfdd7f2273e4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        144,
        160
      ],
      "id": "339e8e21-4c99-41d5-8cc1-1a46880a46ca",
      "name": "Cancel",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        272,
        160
      ],
      "id": "d3dd8ddb-923f-486b-b91e-3cf4bcad21f2",
      "name": "ReSchedule",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        160
      ],
      "id": "aefa823b-3b3f-4dcb-a858-c5e15d23c02f",
      "name": "blank",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "modified-keep-470614-p0",
          "mode": "list",
          "cachedResultName": "My First Project"
        },
        "modelName": "gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        -256,
        160
      ],
      "id": "3ab6787a-0ec0-40ea-9aff-1a35c431e776",
      "name": "Google Vertex Chat Model",
      "credentials": {
        "googleApi": {
          "id": "8Mdij8EM49DuVbZ1",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `the start of the meeting`, 'string') }}",
        "end": "={{ $fromAI('End', 'the end of the meeting') }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendeeEmail\", 'emails of any other people mentioned if they exist(' | ')') }}"
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        16,
        160
      ],
      "id": "ef5ee3bd-46d7-4aa2-964d-480f8ae34ac2",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-15T21:31:12.629Z",
      "updatedAt": "2025-09-15T21:31:12.629Z",
      "role": "workflow:owner",
      "workflowId": "JO1L5zmQHrgE1iaw",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-15T22:59:09.000Z",
  "versionId": "df82f84e-c06d-4c64-9b42-b80b77759b41"
}