workflows/JO1L5zmQHrgE1iaw.json
{
  "active": false,
  "connections": {
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "checkAvailability": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MemoryN8N": {
      "ai_memory": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T21:31:12.626Z",
  "id": "JO1L5zmQHrgE1iaw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Fully functional calendar AI Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        -96
      ],
      "id": "4967ff5b-7317-4bc7-99f5-21cb0eb5cd2d",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `the start of the meeting`, 'string') }}",
        "end": "={{ $fromAI('endTime', 'the end of the meeting') }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendeeEmail\", 'emails of any other people mentioned if they exist(' | ')') }}"
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        16,
        128
      ],
      "id": "ef5ee3bd-46d7-4aa2-964d-480f8ae34ac2",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "modified-keep-470614-p0",
          "mode": "list",
          "cachedResultName": "My First Project"
        },
        "modelName": "gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        -240,
        128
      ],
      "id": "cc87ffa1-4618-4493-823d-b71d93a99515",
      "name": "Google Vertex Chat Model",
      "credentials": {
        "googleApi": {
          "id": "8Mdij8EM49DuVbZ1",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        144,
        128
      ],
      "id": "339e8e21-4c99-41d5-8cc1-1a46880a46ca",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "eventId": "={{ $fromAI('descriptionEvent', 'the description of the event') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        128
      ],
      "id": "d3dd8ddb-923f-486b-b91e-3cf4bcad21f2",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        128
      ],
      "id": "aefa823b-3b3f-4dcb-a858-c5e15d23c02f",
      "name": "Get Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        128
      ],
      "id": "7f2a7c80-35fb-4e04-ba53-a57d2d222fff",
      "name": "checkAvailability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -96
      ],
      "id": "3cfba29a-4287-42f5-86b1-37526fea655d",
      "name": "When chat message received",
      "webhookId": "97e633a8-a644-4f53-aa40-96a0e0f2109e"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "70cc6b93804d42f7bb67a89cccf4e6d8"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        128
      ],
      "id": "9aad927b-2670-497c-b0b6-acff174765ac",
      "name": "MemoryN8N"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-15T21:31:12.629Z",
      "updatedAt": "2025-09-15T21:31:12.629Z",
      "role": "workflow:owner",
      "workflowId": "JO1L5zmQHrgE1iaw",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-15T23:48:45.000Z",
  "versionId": "3b6d6e54-ad33-462c-a7fb-509b5fff548f"
}