workflows/MldxqnektBfv2L9u.json
{
  "active": false,
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Get voice message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get voice message": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-14T02:38:59.183Z",
  "id": "MldxqnektBfv2L9u",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n AI Agent with Long-Term Memory:https://youtu.be/7nCHU-Pf1G0?si=_XHTcQfFWiX7xDZJ",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C09DE5VGC2H",
          "mode": "list",
          "cachedResultName": "cloud"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -32
      ],
      "id": "39901e75-6fe2-4284-bed3-4b0d533c233b",
      "name": "Slack Trigger",
      "webhookId": "0a1e3fed-076e-4108-8d7f-46557cc65931",
      "credentials": {
        "slackApi": {
          "id": "EHkrBNjWKBi9posn",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.files[0].id }}"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -352,
        -32
      ],
      "id": "ba397386-8fa8-4c67-80ed-353f8717b97e",
      "name": "Get voice message",
      "webhookId": "6307259c-f960-484e-b9b6-45486c8d6bf8",
      "credentials": {
        "slackApi": {
          "id": "EHkrBNjWKBi9posn",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url_private_download }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        -32
      ],
      "id": "5448bb51-f399-49dc-9e88-8983eb66db7c",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Q9YmkkxIHevgeNML",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "audioUrls": "={{ $json.url_private_download }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        96,
        -32
      ],
      "id": "be27f2e4-2dcb-409b-9130-b0d7631200fb",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "vjhsYdKrmtQkm6Tt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const messyText = item.json.text;\n\n  // Check if the 'text' field exists and is a string\n  if (typeof messyText === 'string') {\n    // 1. Replace all newline characters with a single space\n    let cleanedText = messyText.replace(/(\\r\\n|\\n|\\r)/gm, \" \");\n\n    // 2. Remove any character that is NOT a letter, number, space, comma, or full stop\n    cleanedText = cleanedText.replace(/[^a-zA-Z0-9 ,.]/g, \"\");\n    \n    // 3. Tidy up by replacing multiple spaces with a single space and trimming ends\n    cleanedText = cleanedText.replace(/\\s+/g, ' ').trim();\n\n    // Add the cleaned text to the new field\n    item.json.myNewField = cleanedText;\n\n  } else {\n    // If the 'text' field is missing or not text, add an error message\n    item.json.myNewField = \"Error: Input field 'text' not found or is not a string.\";\n  }\n}\n\nreturn $input.all();\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -32
      ],
      "id": "a40a54c9-d6f4-4399-aebb-56b6b47d6626",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09DE5VGC2H",
          "mode": "list",
          "cachedResultName": "cloud"
        },
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        512,
        -32
      ],
      "id": "aada1981-7182-4434-a75d-c3d4261a94fe",
      "name": "Send a message",
      "webhookId": "28fe2d06-9a4e-4ea0-9546-75c385ca05b9",
      "credentials": {
        "slackApi": {
          "id": "EHkrBNjWKBi9posn",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "text": "Hi",
          "files": [
            {
              "id": "F09F4ABM9P0",
              "created": 1757821933,
              "timestamp": 1757821933,
              "name": "car racing audio mp3.mp3",
              "title": "car racing audio mp3.mp3",
              "mimetype": "audio/mpeg",
              "filetype": "mp3",
              "pretty_type": "MP3",
              "user": "U09CUBMALD6",
              "user_team": "T09CUBMAFCY",
              "editable": false,
              "size": 240552,
              "mode": "hosted",
              "is_external": false,
              "external_type": "",
              "is_public": true,
              "public_url_shared": false,
              "display_as_bot": false,
              "username": "",
              "transcription": {
                "status": "processing"
              },
              "url_private": "https://files.slack.com/files-tmb/T09CUBMAFCY-F09F4ABM9P0-ba1ae8480b/car_racing_audio_mp3_audio.mp4",
              "url_private_download": "https://files.slack.com/files-pri/T09CUBMAFCY-F09F4ABM9P0/download/car_racing_audio_mp3.mp3",
              "duration_ms": 30040,
              "aac": "https://files.slack.com/files-tmb/T09CUBMAFCY-F09F4ABM9P0-ba1ae8480b/car_racing_audio_mp3_audio.mp4",
              "audio_wave_samples": [
                97,
                98,
                97,
                98,
                99,
                98,
                98,
                99,
                99,
                100,
                98,
                98,
                98,
                98,
                98,
                100,
                97,
                93,
                93,
                93,
                93,
                94,
                93,
                93,
                93,
                93,
                93,
                94,
                93,
                94,
                94,
                93,
                93,
                96,
                99,
                98,
                98,
                98,
                98,
                98,
                99,
                99,
                97,
                98,
                99,
                99,
                98,
                99,
                99,
                99,
                93,
                93,
                94,
                93,
                94,
                95,
                94,
                94,
                93,
                93,
                95,
                93,
                94,
                93,
                94,
                93,
                93,
                99,
                98,
                100,
                99,
                98,
                97,
                99,
                98,
                98,
                98,
                99,
                99,
                98,
                100,
                98,
                99,
                95,
                94,
                93,
                94,
                94,
                94,
                93,
                93,
                94,
                93,
                93,
                92,
                94,
                94,
                94,
                93,
                93
              ],
              "media_display_type": "audio",
              "permalink": "https://n8n-1-group.slack.com/files/U09CUBMALD6/F09F4ABM9P0/car_racing_audio_mp3.mp3",
              "permalink_public": "https://slack-files.com/T09CUBMAFCY-F09F4ABM9P0-9e00f53fba",
              "skipped_shares": true,
              "has_rich_preview": false,
              "file_access": "visible"
            }
          ],
          "upload": false,
          "user": "U09CUBMALD6",
          "display_as_bot": false,
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "bnCY8",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "text",
                      "text": "Hi"
                    }
                  ]
                }
              ]
            }
          ],
          "type": "message",
          "ts": "1757821938.622819",
          "client_msg_id": "098d415d-1c07-4f09-b432-2ca66c6f90d8",
          "channel": "C09DE5VGC2H",
          "subtype": "file_share",
          "event_ts": "1757821938.622819",
          "channel_type": "channel"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-14T02:38:59.187Z",
      "updatedAt": "2025-09-14T02:38:59.187Z",
      "role": "workflow:owner",
      "workflowId": "MldxqnektBfv2L9u",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-14T04:01:18.000Z",
  "versionId": "d65c0359-fa23-42fe-8951-381ccf28a89f"
}