workflows/TBUHU5XXqpcbglOs.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-21T15:01:35.896Z",
  "id": "TBUHU5XXqpcbglOs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "https://youtu.be/Z_IVUYigglI?si=U2nq8VISxWlXzHYP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -16
      ],
      "id": "71c797d0-c5b3-4dbe-8a31-12293919f9aa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://styerrealestate.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -16
      ],
      "id": "8699b81b-3506-43f7-b2b1-a56465e9d640",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}\ngive the input code into well formatted html code",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        80,
        -16
      ],
      "id": "e0c300e6-9fe8-4ef9-aebf-6c0f298f69bb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        192
      ],
      "id": "f1a88185-c73b-40a2-bdb7-b16268df925a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sPfpmF39mpaLYCjc",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "```html\n<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />\n    <style>\n        img:is([sizes=\"auto\" i], [sizes^=\"auto,\" i]) {\n            contain-intrinsic-size: 3000px 1500px\n        }\n    </style>\n    <script type=\"text/javascript\">\n        wpl_baseUrl = \"https://styerrealestate.com/\";\n        wpl_baseName = \"real-estate-listing-realtyna-wpl\";\n    </script>\n    <!-- This site is optimized with the Yoast SEO plugin v23.9 - https://yoast.com/wordpress/plugins/seo/ -->\n    <title>Styer Real Estate | Quality Realtors in Chester County PA, Pottstown</title>\n    <meta name=\"description\" content=\"Styer Real Estate is a boutique real estate firm located in Pottstown, PA, and servicing Southeastern Pennsylvania. Styer Real Estate is focused on understanding the local market conditions, providing quality service, and customizing the experience for each individual listing.\" />\n    <link rel=\"canonical\" href=\"https://styerrealestate.com/\" />\n    <meta property=\"og:locale\" content=\"en_US\" />\n    <meta property=\"og:type\" content=\"website\" />\n    <meta property=\"og:title\" content=\"Styer Real Estate | Quality Realtors in Chester County PA, Pottstown\" />\n    <meta property=\"og:description\" content=\"Styer Real Estate is a boutique real estate firm located in Pottstown, PA, and servicing Southeastern Pennsylvania. Styer Real Estate is focused on understanding the local market conditions, providing quality service, and customizing the experience for each individual listing.\" />\n    <meta property=\"og:url\" content=\"https://styerrealestate.com/\" />\n    <meta property=\"og:site_name\" content=\"Styer Real Estate\" />\n    <meta property=\"article:modified_time\" content=\"2019-11-08T04:13:39+00:00\" />\n    <meta property=\"og:image\" content=\"https://www.styerrealestate.com/wp-content/uploads/2018/10/KenandMeredith.jpg\" />\n    <meta name=\"twitter:card\" content=\"summary_large_image\" />\n    <script type=\"application/ld+json\" class=\"yoast-schema-graph\">\n        {\n            \"@context\": \"https://schema.org\",\n            \"@graph\": [{\n                \"@type\": \"WebPage\",\n                \"@id\": \"https://styerrealestate.com/\",\n                \"url\": \"https://styerrealestate.com/\",\n                \"name\": \"Styer Real Estate | Quality Realtors in Chester County PA, Pottstown\",\n                \"isPartOf\": {\n                    \"@id\": \"https://styerrealestate.com/#website\"\n                },\n                \"primaryImageOfPage\": {\n                    \"@id\": \"https://styerrealestate.com/#primaryimage\"\n                },\n                \"image\": {\n                    \"@id\": \"https://styerrealestate.com/#primaryimage\"\n                },\n                \"thumbnailUrl\": \"https://www.styerrealestate.com/wp-content/uploads/2018/10/KenandMeredith.jpg\",\n                \"datePublished\": \"2018-09-20T14:10:15+00:00\",\n                \"dateModified\": \"2019-11-08T04:13:39+00:00\",\n                \"description\": \"Styer Real Estate is a boutique real estate firm located in Pottstown, PA, and servicing Southeastern Pennsylvania. Styer Real Estate is focused on understanding the local market conditions, providing quality service, and customizing the experience for each individual listing.\",\n                \"breadcrumb\": {\n                    \"@id\": \"https://styerrealestate.com/#breadcrumb\"\n                },\n                \"inLanguage\": \"en-US\",\n                \"potentialAction\": [{\n                    \"@type\": \"ReadAction\",\n                    \"target\": [\"https://styerrealestate.com/\"]\n                }]\n            }, {\n                \"@type\": \"ImageObject\",\n                \"inLanguage\": \"en-US\",\n                \"@id\": \"https://styerrealestate.com/#primaryimage\",\n                \"url\": \"https://www.styerrealestate.com/wp-content/uploads/2018/10/KenandMeredith.jpg\",\n                \"contentUrl\": \"https://www.styerrealestate.com/wp-content/uploads/2018/10/KenandMeredith.jpg\"\n            }, {\n                \"@type\": \"BreadcrumbList\",\n                \"@id\": \"https://styerrealestate.com/#breadcrumb\",\n                \"itemListElement\": [{\n                    \"@type\": \"ListItem\",\n                    \"position\": 1,\n                    \"name\": \"Home\"\n                }]\n            }, {\n                \"@type\": \"WebSite\",\n                \"@id\": \"https://styerrealestate.com/#website\",\n                \"url\": \"https://styerrealestate.com/\",\n                \"name\": \"Styer Real Estate\",\n                \"description\": \"Real Estate in Southeastern Pennsylvania\",\n                \"potentialAction\": [{\n                    \"@type\": \"SearchAction\",\n                    \"target\": {\n                        \"@type\": \"EntryPoint\",\n                        \"urlTemplate\": \"https://styerrealestate.com/?s={search_term_string}\"\n                    },\n                    \"query-input\": {\n                        \"@type\": \"PropertyValueSpecification\",\n                        \"valueRequired\": true,\n                        \"valueName\": \"search_term_string\"\n                    }\n                }],\n                \"inLanguage\": \"en-US\"\n            }]\n        }\n    </script>\n    <!-- / Yoast SEO plugin. -->\n\n    <link rel='dns-prefetch' href='//fonts.googleapis.com' />\n    <link rel=\"alternate\" type=\"application/rss+xml\" title=\"Styer Real Estate &raquo; Feed\" href=\"https://styerrealestate.com/feed/\" />\n    <link rel=\"alternate\" type=\"application/rss+xml\" title=\"Styer Real Estate &raquo; Comments Feed\" href=\"https://styerrealestate.com/comments/feed/\" />\n    <link rel=\"alternate\" type=\"application/rss+xml\" title=\"Styer Real Estate &raquo; Home Comments Feed\" href=\"https://styerrealestate.com/home/feed/\" />\n    <script type=\"text/javascript\">\n        /* <![CDATA[ */\n        window._wpemojiSettings = {\n            \"baseUrl\": \"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/16.0.1\\/72x72\\/\",\n            \"ext\": \".png\",\n            \"svgUrl\": \"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/16.0.1\\/svg\\/\",\n            \"svgExt\": \".svg\",\n            \"source\": {\n                \"concatemoji\": \"https:\\/\\/styerrealestate.com\\/wp-includes\\/js\\/wp-emoji-release.min.js?ver=6.8.2\"\n            }\n        };\n        /*! This file is auto-generated */\n        ! function(s, n) {\n            var o, i, e;\n\n            function c(e) {\n                try {\n                    var t = {\n                        supportTests: e,\n                        timestamp: (new Date).valueOf()\n                    };\n                    sessionStorage.setItem(o, JSON.stringify(t))\n                } catch (e) {}\n            }\n\n            function p(e, t, n) {\n                e.clearRect(0, 0, e.canvas.width, e.canvas.height), e.fillText(t, 0, 0);\n                var t = new Uint32Array(e.getImageData(0, 0, e.canvas.width, e.canvas.height).data),\n                    a = (e.clearRect(0, 0, e.canvas.width, e.canvas.height), e.fillText(n, 0, 0), new Uint32Array(e.getImageData(0, 0, e.canvas.width, e.canvas.height).data));\n                return t.every(function(e, t) {\n                    return e === a[t]\n                })\n            }\n\n            function u(e, t) {\n                e.clearRect(0, 0, e.canvas.width, e.canvas.height), e.fillText(t, 0, 0);\n                for (var n = e.getImageData(16, 16, 1, 1), a = 0; a < n.data.length; a++)\n                    if (0 !== n.data[a]) return !1;\n                return !0\n            }\n\n            function f(e, t, n, a) {\n                switch (t) {\n                    case \"flag\":\n                        return n(e, \"\\ud83c\\udff3\\ufe0f\\u200d\\u26a7\\ufe0f\", \"\\ud83c\\udff3\\ufe0f\\u200b\\u26a7\\ufe0f\") ? !1 : !n(e, \"\\ud83c\\udde8\\ud83c\\uddf6\", \"\\ud83c\\udde8\\u200b\\ud83c\\uddf6\") && !n(e, \"\\ud83c\\udff4\\udb40\\udc67\\udb40\\udc62\\udb40\\udc65\\udb40\\udc6e\\udb40\\udc67\\udb40\\udc7f\", \"\\ud83c\\udff4\\u200b\\udb40\\udc67\\u200b\\udb40\\udc62\\u200b\\udb40\\udc65\\u200b\\udb40\\udc6e\\u200b\\udb40\\udc67\\u200b\\udb40\\udc7f\");\n                    case \"emoji\":\n                        return !a(e, \"\\ud83e\\udedf\")\n                }\n                return !1\n            }\n\n            function g(e, t, n, a) {\n                var r = \"undefined\" != typeof WorkerGlobalScope && self instanceof WorkerGlobalScope ? new OffscreenCanvas(300, 150) : s.createElement(\"canvas\"),\n                    o = r.getContext(\"2d\", {\n                        willReadFrequently: !0\n                    }),\n                    i = (o.textBaseline = \"top\", o.font = \"600 32px Arial\", {});\n                return e.forEach(function(e) {\n                    i[e] = t(o, e, n, a)\n                }), i\n            }\n\n            function t(e) {\n                var t = s.createElement(\"script\");\n                t.src = e, t.defer = !0, s.head.appendChild(t)\n            }\n            \"undefined\" != typeof Promise && (o = \"wpEmojiSettingsSupports\", i = [\"flag\", \"emoji\"], n.supports = {\n                everything: !0,\n                everythingExceptFlag: !0\n            }, e = new Promise(function(e) {\n                s.addEventListener(\"DOMContentLoaded\", e, {\n                    once: !0\n                })\n            }), new Promise(function(t) {\n                var n = function() {\n                    try {\n                        var e = JSON.parse(sessionStorage.getItem(o));\n                        if (\"object\" == typeof e && \"number\" == typeof e.timestamp && (new Date).valueOf() < e.timestamp + 604800 && \"object\" == typeof e.supportTests) return e.supportTests\n                    } catch (e) {}\n                    return null\n                }();\n                if (!n) {\n                    if (\"undefined\" != typeof Worker && \"undefined\" != typeof OffscreenCanvas && \"undefined\" != typeof URL && URL.createObjectURL && \"undefined\" != typeof Blob) try {\n                        var e = \"postMessage(\" + g.toString() + \"(\" + [JSON.stringify(i), f.toString(), p.toString(), u.toString()].join(\",\") + \"));\",\n                            a = new Blob([e], {\n                                type: \"text/javascript\"\n                            }),\n                            r = new Worker(URL.createObjectURL(a), {\n                                name: \"wpTestEmojiSupports\"\n                            });\n                        return void(r.onmessage = function(e) {\n                            c(n = e.data), r.terminate(), t(n)\n                        })\n                    } catch (e) {}\n                    c(n = g(i, f, p, u))\n                }\n                t(n)\n            }).then(function(e) {\n                for (var t in e) n.supports[t] = e[t], n.supports.everything = n.supports.everything && n.supports[t], \"flag\" !== t && (n.supports.everythingExceptFlag = n.supports.everythingExceptFlag && n.supports[t]);\n                n.supports.everythingExceptFlag = n.supports.everythingExceptFlag && !n.supports.flag, n.DOMReady = !1, n.readyCallback = function() {\n                    n.DOMReady = !0\n                }\n            }).then(function() {\n                return e\n            }).then(function() {\n                var e;\n                n.supports.everything || (n.readyCallback(), (e = n.source || {}).concatemoji ? t(e.concatemoji) : e.wpemoji && e.twemoji && (t(e.twemoji), t(e.wpemoji)))\n            }))\n        }((window, document), window._wpemojiSettings);\n        /* ]]> */\n    </script>\n    <link rel='stylesheet' id='atomic-blocks-fontawesome-css' href='https://styerrealestate.com/wp-content/plugins/atomic-blocks/dist/assets/fontawesome/css/all.min.css?ver=1604024260' type='text/css' media='all' />\n    <link rel='stylesheet' id='pt-cv-public-style-css' href='https://styerrealestate.com/wp-content/plugins/content-views-query-and-display-post-page/public/assets/css/cv.css?ver=4.0.2' type='text/css' media='all' />\n    <link rel='stylesheet' id='wpl_frontend_main_style-css' href='https://styerrealestate.com/wp-content/plugins/real-estate-listing-realtyna-wpl/assets/css/frontend.css?ver=6.8.2' type='text/css' media='all' />\n    <link rel='stylesheet' id='genesis-sample-theme-css' href='https://styerrealestate.com/wp-content/themes/styerrealestate/style.css?v=1567164029&#038;ver=2.1.2' type='text/css' media='all' />\n    <style id='wp-emoji-styles-inline-css' type='text/css'>\n        img.wp-smiley,\n        img.emoji {\n            display: inline !important;\n            border: none !important;\n            box-shadow: none !important;\n            height: 1em !important;\n            width: 1em !important;\n            margin: 0 0.07em !important;\n            vertical-align: -0.1em !important;\n            background: none !important;\n            padding: 0 !important;\n        }\n    </style>\n    <link rel='stylesheet' id='wp-block-library-css' href='https://styerrealestate.com/wp-includes/css/dist/block-library/style.min.css?ver=6.8.2' type='text/css' media='all' />\n    <style id='classic-theme-styles-inline-css' type='text/css'>\n        /*! This file is auto-generated */\n        .wp-block-button__link {\n            color: #fff;\n            background-color: #32373c;\n            border-radius: 9999px;\n            box-shadow: none;\n            text-decoration: none;\n            padding: calc(.667em + 2px) calc(1.333em + 2px);\n            font-size: 1.125em\n        }\n\n        .wp-block-file__button {\n            background: #32373c;\n            color: #fff;\n            text-decoration: none\n        }\n    </style>\n    <link rel='stylesheet' id='atomic-blocks-style-css-css' href='https://styerrealestate.com/wp-content/plugins/atomic-blocks/dist/blocks.style.build.css?ver=1604024260' type='text/css' media='all' />\n    <style id='global-styles-inline-css' type='text/css'>\n        :root {\n            --wp--preset--aspect-ratio--square: 1;\n            --wp--preset--aspect-ratio--4-3: 4/3;\n            --wp--preset--aspect-ratio--3-4: 3/4;\n            --wp--preset--aspect-ratio--3-2: 3/2;\n            --wp--preset--aspect-ratio--2-3: 2/3;\n            --wp--preset--aspect-ratio--16-9: 16/9;\n            --wp--preset--aspect-ratio--9-16: 9/16;\n            --wp--preset--color--black: #000000;\n            --wp--preset--color--cyan-bluish-gray: #abb8c3;\n            --wp--preset--color--white: #ffffff;\n            --wp--preset--color--pale-pink: #f78da7;\n            --wp--preset--color--vivid-red: #cf2e2e;\n            --wp--preset--color--luminous-vivid-orange: #ff6900;\n            --wp--preset--color--luminous-vivid-amber: #fcb900;\n            --wp--preset--color--light-green-cyan: #7bdcb5;\n            --wp--preset--color--vivid-green-cyan: #00d084;\n            --wp--preset--color--pale-cyan-blue: #8ed1fc;\n            --wp--preset--color--vivid-cyan-blue: #0693e3;\n            --wp--preset--color--vivid-purple: #9b51e0;\n            --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);\n            --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);\n            --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);\n            --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);\n            --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);\n            --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);\n            --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);\n            --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);\n            --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);\n            --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);\n            --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);\n            --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);\n            --wp--preset--font-size--small: 13px;\n            --wp--preset--font-size--medium: 20px;\n            --wp--preset--font-size--large: 36px;\n            --wp--preset--font-size--x-large: 42px;\n            --wp--preset--spacing--20: 0.44rem;\n            --wp--preset--spacing--30: 0.67rem;\n            --wp--preset--spacing--40: 1rem;\n            --wp--preset--spacing--50: 1.5rem;\n            --wp--preset--spacing--60: 2.25rem;\n            --wp--preset--spacing--70: 3.38rem;\n            --wp--preset--spacing--80: 5.06rem;\n            --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);\n            --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);\n            --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);\n            --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);\n            --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);\n        }\n\n        :where(.is-layout-flex) {\n            gap: 0.5em;\n        }\n\n        :where(.is-layout-grid) {\n            gap: 0.5em;\n        }\n\n        body .is-layout-flex {\n            display: flex;\n        }\n\n        .is-layout-flex {\n            flex-wrap: wrap;\n            align-items: center;\n        }\n\n        .is-layout-flex > :is(*, div) {\n            margin: 0;\n        }\n\n        body .is-layout-grid {\n            display: grid;\n        }\n\n        .is-layout-grid > :is(*, div) {\n            margin: 0;\n        }\n\n        :where(.wp-block-columns.is-layout-flex) {\n            gap: 2em;\n        }\n\n        :where(.wp-block-columns.is-layout-grid) {\n            gap: 2em;\n        }\n\n        :where(.wp-block-post-template.is-layout-flex) {\n            gap: 1.25em;\n        }\n\n        :where(.wp-block-post-template.is-layout-grid) {\n            gap: 1.25em;\n        }\n\n        .has-black-color {\n            color: var(--wp--preset--color--black) !important;\n        }\n\n        .has-cyan-bluish-gray-color {\n            color: var(--wp--preset--color--cyan-bluish-gray) !important;\n        }\n\n        .has-white-color {\n            color: var(--wp--preset--color--white) !important;\n        }\n\n        .has-pale-pink-color {\n            color: var(--wp--preset--color--pale-pink) !important;\n        }\n\n        .has-vivid-red-color {\n            color: var(--wp--preset--color--vivid-red) !important;\n        }\n\n        .has-luminous-vivid-orange-color {\n            color: var(--wp--preset--color--luminous-vivid-orange) !important;\n        }\n\n        .has-luminous-vivid-amber-color {\n            color: var(--wp--preset--color--luminous-vivid-amber) !important;\n        }\n\n        .has-light-green-cyan-color {\n            color: var(--wp--preset--color--light-green-cyan) !important;\n        }\n\n        .has-vivid-green-cyan-color {\n            color: var(--wp--preset--color--vivid-green-cyan) !important;\n        }\n\n        .has-pale-cyan-blue-color {\n            color: var(--wp--preset--color--pale-cyan-blue) !important;\n        }\n\n        .has-vivid-cyan-blue-color {\n            color: var(--wp--preset--color--vivid-cyan-blue) !important;\n        }\n\n        .has-vivid-purple-color {\n            color: var(--wp--preset--color--vivid-purple) !important;\n        }\n\n        .has-black-background-color {\n            background-color: var(--wp--preset--color--black) !important;\n        }\n\n        .has-cyan-bluish-gray-background-color {\n            background-color: var(--wp--preset--color--cyan-bluish-gray) !important;\n        }\n\n        .has-white-background-color {\n            background-color: var(--wp--preset--color--white) !important;\n        }\n\n        .has-pale-pink-background-color {\n            background-color: var(--wp--preset--color--pale-pink) !important;\n        }\n\n        .has-vivid-red-background-color {\n            background-color: var(--wp--preset--color--vivid-red) !important;\n        }\n\n        .has-luminous-vivid-orange-background-color {\n            background-color: var(--wp--preset--color--luminous-vivid-orange) !important;\n        }\n\n        .has-luminous-vivid-amber-background-color {\n            background-color: var(--wp--preset--color--luminous-vivid-amber) !important;\n        }\n\n        .has-light-green-cyan-background-color {\n            background-color: var(--wp--preset--color--light-green-cyan) !important;\n        }\n\n        .has-vivid-green-cyan-background-color {\n            background-color: var(--wp--preset--color--vivid-green-cyan) !important;\n        }\n\n        .has-pale-cyan-blue-background-color {\n            background-color: var(--wp--preset--color--pale-cyan-blue) !important;\n        }\n\n        .has-vivid-cyan-blue-background-color {\n            background-color: var(--wp--preset--color--vivid-cyan-blue) !important;\n        }\n\n        .has-vivid-purple-background-color {\n            background-color: var(--wp--preset--color--vivid-purple) !important;\n        }\n\n        .has-black-border-color {\n            border-color: var(--wp--preset--color--black) !important;\n        }\n\n        .has-cyan-bluish-gray-border-color {\n            border-color: var(--wp--preset--color--cyan-bluish-gray) !important;\n        }\n\n        .has-white-border-color {\n            border-color: var(--wp--preset--color--white) !important;\n        }\n\n        .has-pale-pink-border-color {\n            border-color: var(--wp--preset--color--pale-pink) !important;\n        }\n\n        .has-vivid-red-border-color {\n            border-color: var(--wp--preset--color--vivid-red) !important;\n        }\n\n        .has-luminous-vivid-orange-border-color {\n            border-color: var(--wp--preset--color--luminous-vivid-orange) !important;\n        }\n\n        .has-luminous-vivid-amber-border-color {\n            border-color: var(--wp--preset--color--luminous-vivid-amber) !important;\n        }\n\n        .has-light-green-cyan-border-color {\n            border-color: var(--wp--preset--color--light-green-cyan) !important;\n        }\n\n        .has-vivid-green-cyan-border-color {\n            border-color: var(--wp--preset--color--vivid-green-cyan) !important;\n        }\n\n        .has-pale-cyan-blue-border-color {\n            border-color: var(--wp--preset--color--pale-cyan-blue) !important;\n        }\n\n        .has-vivid-cyan-blue-border-color {\n            border-color: var(--wp--preset--color--vivid-cyan-blue) !important;\n        }\n\n        .has-vivid-purple-border-color {\n            border-color: var(--wp--preset--color--vivid-purple) !important;\n        }\n\n        .has-vivid-cyan-blue-to-vivid-purple-gradient-background {\n            background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;\n        }\n\n        .has-light-green-cyan-to-vivid-green-cyan-gradient-background {\n            background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;\n        }\n\n        .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {\n            background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;\n        }\n\n        .has-luminous-vivid-orange-to-vivid-red-gradient-background {\n            background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;\n        }\n\n        .has-very-light-gray-to-cyan-bluish-gray-gradient-background {\n            background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;\n        }\n\n        .has-cool-to-warm-spectrum-gradient-background {\n            background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;\n        }\n\n        .has-blush-light-purple-gradient-background {\n            background: var(--wp--preset--gradient--blush-light-purple) !important;\n        }\n\n        .has-blush-bordeaux-gradient-background {\n            background: var(--wp--preset--gradient--blush-bordeaux) !important;\n        }\n\n        .has-luminous-dusk-gradient-background {\n            background: var(--wp--preset--gradient--luminous-dusk) !important;\n        }\n\n        .has-pale-ocean-gradient-background {\n            background: var(--wp--preset--gradient--pale-ocean) !important;\n        }\n\n        .has-electric-grass-gradient-background {\n            background: var(--wp--preset--gradient--electric-grass) !important;\n        }\n\n        .has-midnight-gradient-background {\n            background: var(--wp--preset--gradient--midnight) !important;\n        }\n\n        .has-small-font-size {\n            font-size: var(--wp--preset--font-size--small) !important;\n        }\n\n        .has-medium-font-size {\n            font-size: var(--wp--preset--font-size--medium) !important;\n        }\n\n        .has-large-font-size {\n            font-size: var(--wp--preset--font-size--large) !important;\n        }\n\n        .has-x-large-font-size {\n            font-size: var(--wp--preset--font-size--x-large) !important;\n        }\n\n        :where(.wp-block-post-template.is-layout-flex) {\n            gap: 1.25em;\n        }\n\n        :where(.wp-block-post-template.is-layout-grid) {\n            gap: 1.25em;\n        }\n\n        :where(.wp-block-columns.is-layout-flex) {\n            gap: 2em;\n        }\n\n        :where(.wp-block-columns.is-layout-grid) {\n            gap: 2em;\n        }\n\n        :root :where(.wp-block-pullquote) {\n            font-size: 1.5em;\n            line-height: 1.6;\n        }\n    </style>\n    <link rel='stylesheet' id='foobox-free-min-css' href='https://styerrealestate.com/wp-content/plugins/foobox-image-lightbox/free/css/foobox.free.min.css?ver=2.7.33' type='text/css' media='all' />\n    <link rel='stylesheet' id='cresta-social-crestafont-css' href='https://styerrealestate.com/wp-content/plugins/cresta-social-share-counter/css/csscfont.min.css?ver=2.9.9.6' type='text/css' media='all' />\n    <link rel='stylesheet' id='cresta-social-wp-style-css' href='https://styerrealestate.com/wp-content/plugins/cresta-social-share-counter/css/cresta-wp-css.min.css?ver=2.9.9.6' type='text/css' media='all' />\n    <link rel='stylesheet' id='cresta-social-googlefonts-css' href='//fonts.googleapis.com/css?family=Noto+Sans:400,700&#038;display=swap' type='text/css' media='all' />\n    <style id='responsive-menu-inline-css' type='text/css'>\n        /** This file is major component of this plugin so please don't try to edit here. */\n        #rmp_menu_trigger-1965 {\n            width: 55px;\n            height: 55px;\n            position: fixed;\n            top: 15px;\n            border-radius: 5px;\n            display: none;\n            text-decoration: none;\n            right: 5%;\n            background: transparent;\n            transition: transform 0.5s, background-color 0.5s;\n        }\n\n        #rmp_menu_trigger-1965 .rmp-trigger-box {\n            width: 25px;\n            color: #ffffff;\n        }\n\n        #rmp_menu_trigger-1965 .rmp-trigger-icon-active,\n        #rmp_menu_trigger-1965 .rmp-trigger-text-open {\n            display: none;\n        }\n\n        #rmp_menu_trigger-1965.is-active .rmp-trigger-icon-active,\n        #rmp_menu_trigger-1965.is-active .rmp-trigger-text-open {\n            display: inline;\n        }\n\n        #rmp_menu_trigger-1965.is-active .rmp-trigger-icon-inactive,\n        #rmp_menu_trigger-1965.is-active .rmp-trigger-text {\n            display: none;\n        }\n\n        #rmp_menu_trigger-1965 .rmp-trigger-label {\n            color: #ffffff;\n            pointer-events: none;\n            line-height: 13px;\n            font-family: inherit;\n            font-size: 14px;\n            display: inline;\n            text-transform: inherit;\n        }\n\n        #rmp_menu_trigger-1965 .rmp-trigger-label.rmp-trigger-label-top {\n            display: block;\n            margin-bottom: 12px;\n        }\n\n        #rmp_menu_trigger-1965 .rmp-trigger-label.rmp-trigger-label-bottom {\n            display: block;\n            margin-top: 12px;\n        }\n\n        #rmp_menu_trigger-1965 .responsive-menu-pro-inner {\n            display: block;\n        }\n\n        #rmp_menu_trigger-1965 .rmp-trigger-icon-inactive .rmp-font-icon {\n            color: #000000;\n        }\n\n        #rmp_menu_trigger-1965 .responsive-menu-pro-inner,\n        #rmp_menu_trigger-1965 .responsive-menu-pro-inner::before,\n        #rmp_menu_trigger-1965 .responsive-menu-pro-inner::after {\n            width: 25px;\n            height: 3px;\n            background-color: #000000;\n            border-radius: 4px;\n            position: absolute;\n        }\n\n        #rmp_menu_trigger-1965 .rmp-trigger-icon-active .rmp-font-icon {\n            color: #000000;\n        }\n\n        #rmp_menu_trigger-1965.is-active .responsive-menu-pro-inner,\n        #rmp_menu_trigger-1965.is-active .responsive-menu-pro-inner::before,\n        #rmp_menu_trigger-1965.is-active .responsive-menu-pro-inner::after {\n            background-color: #000000;\n        }\n\n        #rmp_menu_trigger-1965:hover .rmp-trigger-icon-inactive .rmp-font-icon {\n            color: #000000;\n        }\n\n        #rmp_menu_trigger-1965:not(.is-active):hover .responsive-menu-pro-inner,\n        #rmp_menu_trigger-1965:not(.is-active):hover .responsive-menu-pro-inner::before,\n        #rmp_menu_trigger-1965:not(.is-active):hover .responsive-menu-pro-inner::after {\n            background-color: #000000;\n        }\n\n        #rmp_menu_trigger-1965 .responsive-menu-pro-inner::before {\n            top: 10px;\n        }\n\n        #rmp_menu_trigger-1965 .responsive-menu-pro-inner::after {\n            bottom: 10px;\n        }\n\n        #rmp_menu_trigger-1965.is-active .responsive-menu-pro-inner::after {\n            bottom: 0;\n        }\n\n        /* Hamburger menu styling */\n        @media screen and (max-width: 800px) {\n\n            /** Menu Title Style */\n            /** Menu Additional Content Style */\n            Nav {\n                display: none !important;\n            }\n\n            #rmp_menu_trigger-1965 {\n                display: block;\n            }\n\n            #rmp-container-1965 {\n                position: fixed;\n                top: 0;\n                margin: 0;\n                transition: transform 0.5s;\n                overflow: auto;\n                display: block;\n                width: 75%;\n                background-color: #991c20;\n                background-image: url(\"\");\n                height: 100%;\n                left: 0;\n                padding-top: 0px;\n                padding-left: 0px;\n                padding-bottom: 0px;\n                padding-right: 0px;\n            }\n\n            #rmp-menu-wrap-1965 {\n                padding-top: 0px;\n                padding-left: 0px;\n                padding-bottom: 0px;\n                padding-right: 0px;\n                background-color: #991c20;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu,\n            #rmp-menu-wrap-1965 .rmp-submenu {\n                width: 100%;\n                box-sizing: border-box;\n                margin: 0;\n                padding: 0;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu-depth-1 .rmp-menu-item-link {\n                padding-left: 10%;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu-depth-2 .rmp-menu-item-link {\n                padding-left: 15%;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu-depth-3 .rmp-menu-item-link {\n                padding-left: 20%;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu-depth-4 .rmp-menu-item-link {\n                padding-left: 25%;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu.rmp-submenu-open {\n                display: block;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-item {\n                width: 100%;\n                list-style: none;\n                margin: 0;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-item-link {\n                height: 40px;\n                line-height: 40px;\n                font-size: 13px;\n                border-bottom: 1px solid #991c20;\n                font-family: inherit;\n                color: #ffffff;\n                text-align: left;\n                background-color: #991c20;\n                font-weight: normal;\n                letter-spacing: 0px;\n                display: block;\n                box-sizing: border-box;\n                width: 100%;\n                text-decoration: none;\n                position: relative;\n                overflow: hidden;\n                transition: background-color 0.5s, border-color 0.5s, 0.5s;\n                padding: 0 5%;\n                padding-right: 50px;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-item-link:after,\n            #rmp-menu-wrap-1965 .rmp-menu-item-link:before {\n                display: none;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-item-link:hover,\n            #rmp-menu-wrap-1965 .rmp-menu-item-link:focus {\n                color: #ffffff;\n                border-color: #991c20;\n                background-color: #802324;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-item-link:focus {\n                outline: none;\n                border-color: unset;\n                box-shadow: unset;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-item-link .rmp-font-icon {\n                height: 40px;\n                line-height: 40px;\n                margin-right: 10px;\n                font-size: 13px;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-current-item .rmp-menu-item-link {\n                color: #ffffff;\n                border-color: #991c20;\n                background-color: #991c20;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-current-item .rmp-menu-item-link:hover,\n            #rmp-menu-wrap-1965 .rmp-menu-current-item .rmp-menu-item-link:focus {\n                color: #ffffff;\n                border-color: #8a292b;\n                background-color: #802324;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-subarrow {\n                position: absolute;\n                top: 0;\n                bottom: 0;\n                text-align: center;\n                overflow: hidden;\n                background-size: cover;\n                overflow: hidden;\n                right: 0;\n                border-left-style: solid;\n                border-left-color: #991c20;\n                border-left-width: 1px;\n                height: 39px;\n                width: 40px;\n                color: #ffffff;\n                background-color: #991c20;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-subarrow svg {\n                fill: #ffffff;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-subarrow:hover {\n                color: #ffffff;\n                border-color: #991c20;\n                background-color: #991c20;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-subarrow:hover svg {\n                fill: #ffffff;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-subarrow .rmp-font-icon {\n                margin-right: unset;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-subarrow * {\n                vertical-align: middle;\n                line-height: 39px;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-subarrow-active {\n                display: block;\n                background-size: cover;\n                color: #ffffff;\n                border-color: #991c20;\n                background-color: #991c20;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-subarrow-active svg {\n                fill: #ffffff;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-subarrow-active:hover {\n                color: #ffffff;\n                border-color: #991c20;\n                background-color: #991c20;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-subarrow-active:hover svg {\n                fill: #ffffff;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu {\n                display: none;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu .rmp-menu-item-link {\n                height: 40px;\n                line-height: 40px;\n                letter-spacing: 0px;\n                font-size: 13px;\n                border-bottom: 1px solid #212121;\n                font-family: inherit;\n                font-weight: normal;\n                color: #ffffff;\n                text-align: left;\n                background-color: #212121;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu .rmp-menu-item-link:hover,\n            #rmp-menu-wrap-1965 .rmp-submenu .rmp-menu-item-link:focus {\n                color: #ffffff;\n                border-color: #212121;\n                background-color: #3f3f3f;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu .rmp-menu-current-item .rmp-menu-item-link {\n                color: #ffffff;\n                border-color: #212121;\n                background-color: #212121;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu .rmp-menu-current-item .rmp-menu-item-link:hover,\n            #rmp-menu-wrap-1965 .rmp-submenu .rmp-menu-current-item .rmp-menu-item-link:focus {\n                color: #ffffff;\n                border-color: #3f3f3f;\n                background-color: #3f3f3f;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu .rmp-menu-subarrow {\n                right: 0;\n                border-right: unset;\n                border-left-style: solid;\n                border-left-color: #212121;\n                border-left-width: 1px;\n                height: 39px;\n                line-height: 39px;\n                width: 40px;\n                color: #ffffff;\n                background-color: #212121;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu .rmp-menu-subarrow:hover {\n                color: #ffffff;\n                border-color: #3f3f3f;\n                background-color: #3f3f3f;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu .rmp-menu-subarrow-active {\n                color: #ffffff;\n                border-color: #212121;\n                background-color: #212121;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-submenu .rmp-menu-subarrow-active:hover {\n                color: #ffffff;\n                border-color: #3f3f3f;\n                background-color: #3f3f3f;\n            }\n\n            #rmp-menu-wrap-1965 .rmp-menu-item-description {\n                margin: 0;\n                padding: 5px 5%;\n                opacity: 0.8;\n                color: #ffffff;\n            }\n\n            #rmp-search-box-1965 {\n                display: block;\n                padding-top: 0px;\n                padding-left: 5%;\n                padding-bottom: 0px;\n                padding-right: 5%;\n            }\n\n            #rmp-search-box-1965 .rmp-search-form {\n                margin: 0;\n            }\n\n            #rmp-search-box-1965 .rmp-search-box {\n                background: #ffffff;\n                border: 1px solid #dadada;\n                color: #333333;\n                width: 100%;\n                padding: 0 5%;\n                border-radius: 30px;\n                height: 45px;\n                -webkit-appearance: none;\n            }\n\n            #rmp-search-box-1965 .rmp-search-box::placeholder {\n                color: #c7c7cd;\n            }\n\n            #rmp-search-box-1965 .rmp-search-box:focus {\n                background-color: #ffffff;\n                outline: 2px solid #dadada;\n                color: #333333;\n            }\n\n            #rmp-menu-title-1965 {\n                background-color: #991c20;\n                color: #ffffff;\n                text-align: left;\n                font-size: 13px;\n                padding-top: 10%;\n                padding-left: 5%;\n                padding-bottom: 0%;\n                padding-right: 5%;\n                font-weight: 400;\n                transition: background-color 0.5s, border-color 0.5s, color 0.5s;\n            }\n\n            #rmp-menu-title-1965:hover {\n                background-color: #991c20;\n                color: #ffffff;\n            }\n\n            #rmp-menu-title-1965 > .rmp-menu-title-link {\n                color: #ffffff;\n                width: 100%;\n                background-color: unset;\n                text-decoration: none;\n            }\n\n            #rmp-menu-title-1965 > .rmp-menu-title-link:hover {\n                color: #ffffff;\n            }\n\n            #rmp-menu-title-1965 .rmp-font-icon {\n                font-size: 13px;\n            }\n\n            #rmp-menu-additional-content-1965 {\n                padding-top: 0px;\n                padding-left: 5%;\n                padding-bottom: 0px;\n                padding-right: 5%;\n                color: #ffffff;\n                text-align: center;\n                font-size: 16px;\n            }\n        }\n\n        /**\n        This file contents common styling of menus.\n        */\n        .rmp-container {\n            display: none;\n            visibility: visible;\n            padding: 0px 0px 0px 0px;\n            z-index: 99998;\n            transition: all 0.3s;\n            /** Scrolling bar in menu setting box **/\n        }\n\n        .rmp-container.rmp-fade-top,\n        .rmp-container.rmp-fade-left,\n        .rmp-container.rmp-fade-right,\n        .rmp-container.rmp-fade-bottom {\n            display: none;\n        }\n\n        .rmp-container.rmp-slide-left,\n        .rmp-container.rmp-push-left {\n            transform: translateX(-100%);\n            -ms-transform: translateX(-100%);\n            -webkit-transform: translateX(-100%);\n            -moz-transform: translateX(-100%);\n        }\n\n        .rmp-container.rmp-slide-left.rmp-menu-open,\n        .rmp-container.rmp-push-left.rmp-menu-open {\n            transform: translateX(0);\n            -ms-transform: translateX(0);\n            -webkit-transform: translateX(0);\n            -moz-transform: translateX(0);\n        }\n\n        .rmp-container.rmp-slide-right,\n        .rmp-container.rmp-push-right {\n            transform: translateX(100%);\n            -ms-transform: translateX(100%);\n            -webkit-transform: translateX(100%);\n            -moz-transform: translateX(100%);\n        }\n\n        .rmp-container.rmp-slide-right.rmp-menu-open,\n        .rmp-container.rmp-push-right.rmp-menu-open {\n            transform: translateX(0);\n            -ms-transform: translateX(0);\n            -webkit-transform: translateX(0);\n            -moz-transform: translateX(0);\n        }\n\n        .rmp-container.rmp-slide-top,\n        .rmp-container.rmp-push-top {\n            transform: translateY(-100%);\n            -ms-transform: translateY(-100%);\n            -webkit-transform: translateY(-100%);\n            -moz-transform: translateY(-100%);\n        }\n\n        .rmp-container.rmp-slide-top.rmp-menu-open,\n        .rmp-container.rmp-push-top.rmp-menu-open {\n            transform: translateY(0);\n            -ms-transform: translateY(0);\n            -webkit-transform: translateY(0);\n            -moz-transform: translateY(0);\n        }\n\n        .rmp-container.rmp-slide-bottom,\n        .rmp-container.rmp-push-bottom {\n            transform: translateY(100%);\n            -ms-transform: translateY(100%);\n            -webkit-transform: translateY(100%);\n            -moz-transform: translateY(100%);\n        }\n\n        .rmp-container.rmp-slide-bottom.rmp-menu-open,\n        .rmp-container.rmp-push-bottom.rmp-menu-open {\n            transform: translateX(0);\n            -ms-transform: translateX(0);\n            -webkit-transform: translateX(0);\n            -moz-transform: translateX(0);\n        }\n\n        .rmp-container::-webkit-scrollbar {\n            width: 0px;\n        }\n\n        .rmp-container ::-webkit-scrollbar-track {\n            box-shadow: inset 0 0 5px transparent;\n        }\n\n        .rmp-container ::-webkit-scrollbar-thumb {\n            background: transparent;\n        }\n\n        .rmp-container ::-webkit-scrollbar-thumb:hover {\n            background: transparent;\n        }\n\n        .rmp-container .rmp-menu-wrap .rmp-menu {\n            transition: none;\n            border-radius: 0;\n            box-shadow: none;\n            background: none;\n            border: 0;\n            bottom: auto;\n            box-sizing: border-box;\n            clip: auto;\n            color: #666;\n            display: block;\n            float: none;\n            font-family: inherit;\n            font-size: 14px;\n            height: auto;\n            left: auto;\n            line-height: 1.7;\n            list-style-type: none;\n            margin: 0;\n            min-height: auto;\n            max-height: none;\n            opacity: 1;\n            outline: none;\n            overflow: visible;\n            padding: 0;\n            position: relative;\n            pointer-events: auto;\n            right: auto;\n            text-align: left;\n            text-decoration: none;\n            text-indent: 0;\n            text-transform: none;\n            transform: none;\n            top: auto;\n            visibility: inherit;\n            width: auto;\n            word-wrap: break-word;\n            white-space: normal;\n        }\n\n        .rmp-container .rmp-menu-additional-content {\n            display: block;\n            word-break: break-word;\n        }\n\n        .rmp-container .rmp-menu-title {\n            display: flex;\n            flex-direction: column;\n        }\n\n        .rmp-container .rmp-menu-title .rmp-menu-title-image {\n            max-width: 100%;\n            margin-bottom: 15px;\n            display: block;\n            margin: auto;\n            margin-bottom: 15px;\n        }\n\n        button.rmp_menu_trigger {\n            z-index: 999999;\n            overflow: hidden;\n            outline: none;\n            border: 0;\n            display: none;\n            margin: 0;\n            transition: transform 0.5s, background-color 0.5s;\n            padding: 0;\n        }\n\n        button.rmp_menu_trigger .responsive-menu-pro-inner::before,\n        button.rmp_menu_trigger .responsive-menu-pro-inner::after {\n            content: \"\";\n            display: block;\n        }\n\n        button.rmp_menu_trigger .responsive-menu-pro-inner::before {\n            top: 10px;\n        }\n\n        button.rmp_menu_trigger .responsive-menu-pro-inner::after {\n            bottom: 10px;\n        }\n\n        button.rmp_menu_trigger .rmp-trigger-box {\n            width: 40px;\n            display: inline-block;\n            position: relative;\n            pointer-events: none;\n            vertical-align: super;\n        }\n\n        .admin-bar .rmp-container,\n        .admin-bar .rmp_menu_trigger {\n            margin-top: 32px !important;\n        }\n\n        @media screen and (max-width: 782px) {\n\n            .admin-bar .rmp-container,\n            .admin-bar .rmp_menu_trigger {\n                margin-top: 46px !important;\n            }\n        }\n\n        /*  Menu Trigger Boring Animation */\n        .rmp-menu-trigger-boring .responsive-menu-pro-inner {\n            transition-property: none;\n        }\n\n        .rmp-menu-trigger-boring .responsive-menu-pro-inner::after,\n        .rmp-menu-trigger-boring .responsive-menu-pro-inner::before {\n            transition-property: none;\n        }\n\n        .rmp-menu-trigger-boring.is-active .responsive-menu-pro-inner {\n            transform: rotate(45deg);\n        }\n\n        .rmp-menu-trigger-boring.is-active .responsive-menu-pro-inner:before {\n            top: 0;\n            opacity: 0;\n        }\n\n        .rmp-menu-trigger-boring.is-active .responsive-menu-pro-inner:after {\n            bottom: 0;\n            transform: rotate(-90deg);\n        }\n    </style>\n    <link rel='stylesheet' id='dashicons-css' href='https://styerrealestate.com/wp-includes/css/dashicons.min.css?ver=6.8.2' type='text/css' media='all' />\n    <link rel='stylesheet' id='spu-public-css-css' href='https://styerrealestate.com/wp-content/plugins/popups/public/assets/css/public.css?ver=1.9.3.8' type='text/css' media='all' />\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-includes/js/jquery/jquery.min.js?ver=3.7.1\" id=\"jquery-core-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1\" id=\"jquery-migrate-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/real-estate-listing-realtyna-wpl/assets/js/frontend.min.js?ver=6.8.2\" id=\"wpl_frontend_javascript-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/real-estate-listing-realtyna-wpl/assets/js/libraries/wpl.handlebars.min.js?ver=6.8.2\" id=\"handlebars-js\"></script>\n    <script type=\"text/javascript\" id=\"rmp_menu_scripts-js-extra\">\n        /* <![CDATA[ */\n        var rmp_menu = {\n            \"ajaxURL\": \"https:\\/\\/styerrealestate.com\\/wp-admin\\/admin-ajax.php\",\n            \"wp_nonce\": \"d8e5723b0d\",\n            \"menu\": [{\n                \"menu_theme\": null,\n                \"theme_type\": \"default\",\n                \"theme_location_menu\": \"\",\n                \"submenu_submenu_arrow_width\": \"40\",\n                \"submenu_submenu_arrow_width_unit\": \"px\",\n                \"submenu_submenu_arrow_height\": \"39\",\n                \"submenu_submenu_arrow_height_unit\": \"px\",\n                \"submenu_arrow_position\": \"right\",\n                \"submenu_sub_arrow_background_colour\": \"#212121\",\n                \"submenu_sub_arrow_background_hover_colour\": \"#3f3f3f\",\n                \"submenu_sub_arrow_background_colour_active\": \"#212121\",\n                \"submenu_sub_arrow_background_hover_colour_active\": \"#3f3f3f\",\n                \"submenu_sub_arrow_border_width\": \"1\",\n                \"submenu_sub_arrow_border_width_unit\": \"px\",\n                \"submenu_sub_arrow_border_colour\": \"#212121\",\n                \"submenu_sub_arrow_border_hover_colour\": \"#3f3f3f\",\n                \"submenu_sub_arrow_border_colour_active\": \"#212121\",\n                \"submenu_sub_arrow_border_hover_colour_active\": \"#3f3f3f\",\n                \"submenu_sub_arrow_shape_colour\": \"#ffffff\",\n                \"submenu_sub_arrow_shape_hover_colour\": \"#ffffff\",\n                \"submenu_sub_arrow_shape_colour_active\": \"#ffffff\",\n                \"submenu_sub_arrow_shape_hover_colour_active\": \"#ffffff\",\n                \"use_header_bar\": \"off\",\n                \"header_bar_items_order\": \"{\\\"logo\\\":\\\"on\\\",\\\"title\\\":\\\"on\\\",\\\"search\\\":\\\"on\\\",\\\"html content\\\":\\\"on\\\"}\",\n                \"header_bar_title\": \"\",\n                \"header_bar_html_content\": \"\",\n                \"header_bar_logo\": \"\",\n                \"header_bar_logo_link\": \"\",\n                \"header_bar_logo_width\": \"\",\n                \"header_bar_logo_width_unit\": \"%\",\n                \"header_bar_logo_height\": \"\",\n                \"header_bar_logo_height_unit\": \"px\",\n                \"header_bar_height\": \"80\",\n                \"header_bar_height_unit\": \"px\",\n                \"header_bar_padding\": {\n                    \"top\": \"0px\",\n                    \"right\": \"5%\",\n                    \"bottom\": \"0px\",\n                    \"left\": \"5%\"\n                },\n                \"header_bar_font\": \"\",\n                \"header_bar_font_size\": \"14\",\n                \"header_bar_font_size_unit\": \"px\",\n                \"header_bar_text_color\": \"#ffffff\",\n                \"header_bar_background_color\": \"#ffffff\",\n                \"header_bar_breakpoint\": \"800\",\n                \"header_bar_position_type\": \"fixed\",\n                \"header_bar_adjust_page\": null,\n                \"header_bar_scroll_enable\": \"off\",\n                \"header_bar_scroll_background_color\": \"#36bdf6\",\n                \"mobile_breakpoint\": \"600\",\n                \"tablet_breakpoint\": \"800\",\n                \"transition_speed\": \"0.5\",\n                \"sub_menu_speed\": \"0.2\",\n                \"show_menu_on_page_load\": \"\",\n                \"menu_disable_scrolling\": \"off\",\n                \"menu_overlay\": \"off\",\n                \"menu_overlay_colour\": \"rgba(0, 0, 0, 0.7)\",\n                \"desktop_menu_width\": \"\",\n                \"desktop_menu_width_unit\": \"%\",\n                \"desktop_menu_positioning\": \"fixed\",\n                \"desktop_menu_side\": \"\",\n                \"desktop_menu_to_hide\": \"\",\n                \"use_current_theme_location\": \"off\",\n                \"mega_menu\": {\n                    \"225\": \"off\",\n                    \"227\": \"off\",\n                    \"229\": \"off\",\n                    \"228\": \"off\",\n                    \"226\": \"off\"\n                },\n                \"desktop_submenu_open_animation\": \"\",\n                \"desktop_submenu_open_animation_speed\": \"0ms\",\n                \"desktop_submenu_open_on_click\": \"\",\n                \"desktop_menu_hide_and_show\": \"\",\n                \"menu_name\": \"Default Menu\",\n                \"menu_to_use\": \"main-nav\",\n                \"different_menu_for_mobile\": \"off\",\n                \"menu_to_use_in_mobile\": \"main-menu\",\n                \"use_mobile_menu\": \"on\",\n                \"use_tablet_menu\": \"on\",\n                \"use_desktop_menu\": \"\",\n                \"menu_display_on\": \"all-pages\",\n                \"menu_to_hide\": \"Nav\",\n                \"submenu_descriptions_on\": \"\",\n                \"custom_walker\": \"\",\n                \"menu_background_colour\": \"#991c20\",\n                \"menu_depth\": \"5\",\n                \"smooth_scroll_on\": \"off\",\n                \"smooth_scroll_speed\": \"500\",\n                \"menu_font_icons\": [],\n                \"menu_links_height\": \"40\",\n                \"menu_links_height_unit\": \"px\",\n                \"menu_links_line_height\": \"40\",\n                \"menu_links_line_height_unit\": \"px\",\n                \"menu_depth_0\": \"5\",\n                \"menu_depth_0_unit\": \"%\",\n                \"menu_font_size\": \"13\",\n                \"menu_font_size_unit\": \"px\",\n                \"menu_font\": \"\",\n                \"menu_font_weight\": \"normal\",\n                \"menu_text_alignment\": \"left\",\n                \"menu_text_letter_spacing\": \"\",\n                \"menu_word_wrap\": \"off\",\n                \"menu_link_colour\": \"#ffffff\",\n                \"menu_link_hover_colour\": \"#ffffff\",\n                \"menu_current_link_colour\": \"#ffffff\",\n                \"menu_current_link_hover_colour\": \"#ffffff\",\n                \"menu_item_background_colour\": \"#991c20\",\n                \"menu_item_background_hover_colour\": \"#802324\",\n                \"menu_current_item_background_colour\": \"#991c20\",\n                \"menu_current_item_background_hover_colour\": \"#802324\",\n                \"menu_border_width\": \"1\",\n                \"menu_border_width_unit\": \"px\",\n                \"menu_item_border_colour\": \"#991c20\",\n                \"menu_item_border_colour_hover\": \"#991c20\",\n                \"menu_current_item_border_colour\": \"#991c20\",\n                \"menu_current_item_border_hover_colour\": \"#8a292b\",\n                \"submenu_links_height\": \"40\",\n                \"submenu_links_height_unit\": \"px\",\n                \"submenu_links_line_height\": \"40\",\n                \"submenu_links_line_height_unit\": \"px\",\n                \"menu_depth_side\": \"left\",\n                \"menu_depth_1\": \"10\",\n                \"menu_depth_1_unit\": \"%\",\n                \"menu_depth_2\": \"15\",\n                \"menu_depth_2_unit\": \"%\",\n                \"menu_depth_3\": \"20\",\n                \"menu_depth_3_unit\": \"%\",\n                \"menu_depth_4\": \"25\",\n                \"menu_depth_4_unit\": \"%\",\n                \"submenu_item_background_colour\": \"#212121\",\n                \"submenu_item_background_hover_colour\": \"#3f3f3f\",\n                \"submenu_current_item_background_colour\": \"#212121\",\n                \"submenu_current_item_background_hover_colour\": \"#3f3f3f\",\n                \"submenu_border_width\": \"1\",\n                \"submenu_border_width_unit\": \"px\",\n                \"submenu_item_border_colour\": \"#212121\",\n                \"submenu_item_border_colour_hover\": \"#212121\",\n                \"submenu_current_item_border_colour\": \"#212121\",\n                \"submenu_current_item_border_hover_colour\": \"#3f3f3f\",\n                \"submenu_font_size\": \"13\",\n                \"submenu_font_size_unit\": \"px\",\n                \"submenu_font\": \"\",\n                \"submenu_font_weight\": \"normal\",\n                \"submenu_text_letter_spacing\": \"\",\n                \"submenu_text_alignment\": \"left\",\n                \"submenu_link_colour\": \"#ffffff\",\n                \"submenu_link_hover_colour\": \"#ffffff\",\n                \"submenu_current_link_colour\": \"#ffffff\",\n                \"submenu_current_link_hover_colour\": \"#ffffff\",\n                \"inactive_arrow_shape\": \"\\u25bc\",\n                \"active_arrow_shape\": \"\\u25b2\",\n                \"inactive_arrow_font_icon\": \"\",\n                \"active_arrow_font_icon\": \"\",\n                \"inactive_arrow_image\": \"\",\n                \"active_arrow_image\": \"\",\n                \"submenu_arrow_width\": \"40\",\n                \"submenu_arrow_width_unit\": \"px\",\n                \"submenu_arrow_height\": \"39\",\n                \"submenu_arrow_height_unit\": \"px\",\n                \"arrow_position\": \"right\",\n                \"menu_sub_arrow_shape_colour\": \"#ffffff\",\n                \"menu_sub_arrow_shape_hover_colour\": \"#ffffff\",\n                \"menu_sub_arrow_shape_colour_active\": \"#ffffff\",\n                \"menu_sub_arrow_shape_hover_colour_active\": \"#ffffff\",\n                \"menu_sub_arrow_border_width\": \"1\",\n                \"menu_sub_arrow_border_width_unit\": \"px\",\n                \"menu_sub_arrow_border_colour\": \"#991c20\",\n                \"menu_sub_arrow_border_hover_colour\": \"#991c20\",\n                \"menu_sub_arrow_border_colour_active\": \"#991c20\",\n                \"menu_sub_arrow_border_hover_colour_active\": \"#991c20\",\n                \"menu_sub_arrow_background_colour\": \"#991c20\",\n                \"menu_sub_arrow_background_hover_colour\": \"#991c20\",\n                \"menu_sub_arrow_background_colour_active\": \"#991c20\",\n                \"menu_sub_arrow_background_hover_colour_active\": \"#991c20\",\n                \"fade_submenus\": \"off\",\n                \"fade_submenus_side\": \"left\",\n                \"fade_submenus_delay\": \"100\",\n                \"fade_submenus_speed\": \"500\",\n                \"use_slide_effect\": \"off\",\n                \"slide_effect_back_to_text\": \"Back\",\n                \"accordion_animation\": \"off\",\n                \"auto_expand_all_submenus\": \"off\",\n                \"auto_expand_current_submenus\": \"off\",\n                \"menu_item_click_to_trigger_submenu\": \"off\",\n                \"button_width\": \"55\",\n                \"button_width_unit\": \"px\",\n                \"button_height\": \"55\",\n                \"button_height_unit\": \"px\",\n                \"button_background_colour\": \"#000000\",\n                \"button_background_colour_hover\": \"#000000\",\n                \"button_background_colour_active\": \"#000000\",\n                \"toggle_button_border_radius\": \"5\",\n                \"button_transparent_background\": \"on\",\n                \"button_left_or_right\": \"right\",\n                \"button_position_type\": \"fixed\",\n                \"button_distance_from_side\": \"5\",\n                \"button_distance_from_side_unit\": \"%\",\n                \"button_top\": \"15\",\n                \"button_top_unit\": \"px\",\n                \"button_push_with_animation\": \"off\",\n                \"button_click_animation\": \"boring\",\n                \"button_line_margin\": \"5\",\n                \"button_line_margin_unit\": \"px\",\n                \"button_line_width\": \"25\",\n                \"button_line_width_unit\": \"px\",\n                \"button_line_height\": \"3\",\n                \"button_line_height_unit\": \"px\",\n                \"button_line_colour\": \"#000000\",\n                \"button_line_colour_hover\": \"#000000\",\n                \"button_line_colour_active\": \"#000000\",\n                \"button_font_icon\": \"\",\n                \"button_font_icon_when_clicked\": \"\",\n                \"button_image\": \"\",\n                \"button_image_when_clicked\": \"\",\n                \"button_title\": \"\",\n                \"button_title_open\": \"\",\n                \"button_title_position\": \"left\",\n                \"menu_container_columns\": \"\",\n                \"button_font\": \"\",\n                \"button_font_size\": \"14\",\n                \"button_font_size_unit\": \"px\",\n                \"button_title_line_height\": \"13\",\n                \"button_title_line_height_unit\": \"px\",\n                \"button_text_colour\": \"#ffffff\",\n                \"button_trigger_type_click\": \"on\",\n                \"button_trigger_type_hover\": \"off\",\n                \"button_click_trigger\": \"#responsive-menu-button\",\n                \"items_order\": {\n                    \"title\": \"on\",\n                    \"menu\": \"on\",\n                    \"search\": \"\",\n                    \"additional content\": \"\"\n                },\n                \"menu_title\": \"\",\n                \"menu_title_link\": \"\",\n                \"menu_title_link_location\": \"_self\",\n                \"menu_title_image\": \"\",\n                \"menu_title_font_icon\": \"\",\n                \"menu_title_section_padding\": {\n                    \"top\": \"10%\",\n                    \"right\": \"5%\",\n                    \"bottom\": \"0%\",\n                    \"left\": \"5%\"\n                },\n                \"menu_title_background_colour\": \"#991c20\",\n                \"menu_title_background_hover_colour\": \"#991c20\",\n                \"menu_title_font_size\": \"13\",\n                \"menu_title_font_size_unit\": \"px\",\n                \"menu_title_alignment\": \"left\",\n                \"menu_title_font_weight\": \"400\",\n                \"menu_title_font_family\": \"\",\n                \"menu_title_colour\": \"#ffffff\",\n                \"menu_title_hover_colour\": \"#ffffff\",\n                \"menu_title_image_width\": \"\",\n                \"menu_title_image_width_unit\": \"%\",\n                \"menu_title_image_height\": \"\",\n                \"menu_title_image_height_unit\": \"px\",\n                \"menu_additional_content\": \"\",\n                \"menu_additional_section_padding\": {\n                    \"left\": \"5%\",\n                    \"top\": \"0px\",\n                    \"right\": \"5%\",\n                    \"bottom\": \"0px\"\n                },\n                \"menu_additional_content_font_size\": \"16\",\n                \"menu_additional_content_font_size_unit\": \"px\",\n                \"menu_additional_content_alignment\": \"center\",\n                \"menu_additional_content_colour\": \"#ffffff\",\n                \"menu_search_box_text\": \"Search\",\n                \"menu_search_box_code\": \"\",\n                \"menu_search_section_padding\": {\n                    \"left\": \"5%\",\n                    \"top\": \"0px\",\n                    \"right\": \"5%\",\n                    \"bottom\": \"0px\"\n                },\n                \"menu_search_box_height\": \"45\",\n                \"menu_search_box_height_unit\": \"px\",\n                \"menu_search_box_border_radius\": \"30\",\n                \"menu_search_box_text_colour\": \"#333333\",\n                \"menu_search_box_background_colour\": \"#ffffff\",\n                \"menu_search_box_placeholder_colour\": \"#c7c7cd\",\n                \"menu_search_box_border_colour\": \"#dadada\",\n                \"menu_section_padding\": {\n                    \"top\": \"0px\",\n                    \"right\": \"0px\",\n                    \"bottom\": \"0px\",\n                    \"left\": \"0px\"\n                },\n                \"menu_width\": \"75\",\n                \"menu_width_unit\": \"%\",\n                \"menu_maximum_width\": \"\",\n                \"menu_maximum_width_unit\": \"px\",\n                \"menu_minimum_width\": \"\",\n                \"menu_minimum_width_unit\": \"px\",\n                \"menu_auto_height\": \"off\",\n                \"menu_container_padding\": {\n                    \"top\": \"0px\",\n                    \"right\": \"0px\",\n                    \"bottom\": \"0px\",\n                    \"left\": \"0px\"\n                },\n                \"menu_container_background_colour\": \"#991c20\",\n                \"menu_background_image\": \"\",\n                \"animation_type\": \"slide\",\n                \"menu_appear_from\": \"left\",\n                \"animation_speed\": \"0.5\",\n                \"page_wrapper\": \"\",\n                \"menu_close_on_body_click\": \"off\",\n                \"menu_close_on_scroll\": \"off\",\n                \"menu_close_on_link_click\": \"off\",\n                \"enable_touch_gestures\": \"\",\n                \"active_arrow_font_icon_type\": \"font-awesome\",\n                \"active_arrow_image_alt\": \"\",\n                \"admin_theme\": \"dark\",\n                \"breakpoint\": \"800\",\n                \"button_font_icon_type\": \"font-awesome\",\n                \"button_font_icon_when_clicked_type\": \"font-awesome\",\n                \"button_image_alt\": \"\",\n                \"button_image_alt_when_clicked\": \"\",\n                \"button_trigger_type\": \"click\",\n                \"custom_css\": \"\",\n                \"desktop_menu_options\": \"{\\\"19\\\":{\\\"type\\\":\\\"standard\\\",\\\"width\\\":\\\"auto\\\",\\\"parent_background_colour\\\":\\\"\\\",\\\"parent_background_image\\\":\\\"\\\"},\\\"315\\\":{\\\"type\\\":\\\"standard\\\",\\\"width\\\":\\\"auto\\\",\\\"parent_background_colour\\\":\\\"\\\",\\\"parent_background_image\\\":\\\"\\\"},\\\"23\\\":{\\\"type\\\":\\\"standard\\\",\\\"width\\\":\\\"auto\\\",\\\"parent_background_colour\\\":\\\"\\\",\\\"parent_background_image\\\":\\\"\\\"},\\\"22\\\":{\\\"type\\\":\\\"standard\\\",\\\"width\\\":\\\"auto\\\",\\\"parent_background_colour\\\":\\\"\\\",\\\"parent_background_image\\\":\\\"\\\"},\\\"21\\\":{\\\"type\\\":\\\"standard\\\",\\\"width\\\":\\\"auto\\\",\\\"parent_background_colour\\\":\\\"\\\",\\\"parent_background_image\\\":\\\"\\\"},\\\"20\\\":{\\\"type\\\":\\\"standard\\\",\\\"width\\\":\\\"auto\\\",\\\"parent_background_colour\\\":\\\"\\\",\\\"parent_background_image\\\":\\\"\\\"},\\\"18\\\":{\\\"type\\\":\\\"standard\\\",\\\"width\\\":\\\"auto\\\",\\\"parent_background_colour\\\":\\\"\\\",\\\"parent_background_image\\\":\\\"\\\"}}\",\n                \"external_files\": \"off\",\n                \"header_bar_logo_alt\": \"\",\n                \"hide_on_desktop\": \"off\",\n                \"hide_on_mobile\": \"off\",\n                \"inactive_arrow_font_icon_type\": \"font-awesome\",\n                \"inactive_arrow_image_alt\": \"\",\n                \"keyboard_shortcut_close_menu\": \"27,37\",\n                \"keyboard_shortcut_open_menu\": \"32,39\",\n                \"menu_adjust_for_wp_admin_bar\": \"off\",\n                \"menu_depth_5\": \"30\",\n                \"menu_depth_5_unit\": \"%\",\n                \"menu_title_font_icon_type\": \"font-awesome\",\n                \"menu_title_image_alt\": \"\",\n                \"minify_scripts\": \"off\",\n                \"mobile_only\": \"off\",\n                \"remove_bootstrap\": \"\",\n                \"remove_fontawesome\": \"\",\n                \"scripts_in_footer\": \"off\",\n                \"shortcode\": \"off\",\n                \"single_menu_font\": \"\",\n                \"single_menu_font_size\": \"14\",\n                \"single_menu_font_size_unit\": \"px\",\n                \"single_menu_height\": \"80\",\n                \"single_menu_height_unit\": \"px\",\n                \"single_menu_item_background_colour\": \"#ffffff\",\n                \"single_menu_item_background_colour_hover\": \"#ffffff\",\n                \"single_menu_item_link_colour\": \"#000000\",\n                \"single_menu_item_link_colour_hover\": \"#000000\",\n                \"single_menu_item_submenu_background_colour\": \"#ffffff\",\n                \"single_menu_item_submenu_background_colour_hover\": \"#ffffff\",\n                \"single_menu_item_submenu_link_colour\": \"#000000\",\n                \"single_menu_item_submenu_link_colour_hover\": \"#000000\",\n                \"single_menu_line_height\": \"80\",\n                \"single_menu_line_height_unit\": \"px\",\n                \"single_menu_submenu_font\": \"\",\n                \"single_menu_submenu_font_size\": \"12\",\n                \"single_menu_submenu_font_size_unit\": \"px\",\n                \"single_menu_submenu_height\": \"\",\n                \"single_menu_submenu_height_unit\": \"auto\",\n                \"single_menu_submenu_line_height\": \"40\",\n                \"single_menu_submenu_line_height_unit\": \"px\",\n                \"excluded_pages\": null,\n                \"menu_title_padding\": {\n                    \"left\": \"5%\",\n                    \"top\": \"0px\",\n                    \"right\": \"5%\",\n                    \"bottom\": \"0px\"\n                },\n                \"menu_id\": 1965,\n                \"active_toggle_contents\": \"\\u25b2\",\n                \"inactive_toggle_contents\": \"\\u25bc\"\n            }]\n        };\n        /* ]]> */\n    </script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/responsive-menu/v4.0.0/assets/js/rmp-menu.js?ver=4.5.0\" id=\"rmp_menu_scripts-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/themes/styerrealestate/js/retina.min.js?ver=1.0.0\" id=\"ghr-retina-js\"></script>\n    <script type=\"text/javascript\" id=\"foobox-free-min-js-before\">\n        /* <![CDATA[ */\n        /* Run FooBox FREE (v2.7.33) */\n        var FOOBOX = window.FOOBOX = {\n            ready: true,\n            disableOthers: false,\n            o: {\n                wordpress: {\n                    enabled: true\n                },\n                countMessage: 'image %index of %total',\n                captions: {\n                    dataTitle: [\"captionTitle\", \"title\"],\n                    dataDesc: [\"captionDesc\", \"description\"]\n                },\n                rel: '',\n                excludes: '.fbx-link,.nofoobox,.nolightbox,a[href*=\"pinterest.com/pin/create/button/\"]',\n                affiliate: {\n                    enabled: false\n                }\n            },\n            selectors: [\n                \".foogallery-container.foogallery-lightbox-foobox\", \".foogallery-container.foogallery-lightbox-foobox-free\", \".gallery\", \".wp-block-gallery\", \".wp-caption\", \".wp-block-image\", \"a:has(img[class*=wp-image-])\", \".foobox\"\n            ],\n            pre: function($) {\n                // Custom JavaScript (Pre)\n\n            },\n            post: function($) {\n                // Custom JavaScript (Post)\n\n                // Custom Captions Code\n\n            },\n            custom: function($) {\n                // Custom Extra JS\n\n            }\n        };\n        /* ]]> */\n    </script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/foobox-image-lightbox/free/js/foobox.free.min.js?ver=2.7.33\" id=\"foobox-free-min-js\"></script>\n    <link rel=\"https://api.w.org/\" href=\"https://styerrealestate.com/wp-json/\" />\n    <link rel=\"alternate\" title=\"JSON\" type=\"application/json\" href=\"https://styerrealestate.com/wp-json/wp/v2/pages/2\" />\n    <link rel=\"alternate\" title=\"oEmbed (JSON)\" type=\"application/json+oembed\" href=\"https://styerrealestate.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fstyerrealestate.com%2F\" />\n    <link rel=\"alternate\" title=\"oEmbed (XML)\" type=\"text/xml+oembed\" href=\"https://styerrealestate.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fstyerrealestate.com%2F&#038;format=xml\" />\n    <style id='cresta-social-share-counter-inline-css'>\n        .cresta-share-icon .sbutton {\n            font-family: 'Noto Sans', sans-serif;\n        }\n    </style>\n\n    <!-- WordPress Version 6.8.2 -->\n    <!-- IDX Broker WordPress Plugin 3.2.3 Activated -->\n    <!-- IDX Broker WordPress Plugin Wrapper Meta-->\n\n    <link rel=\"icon\" href=\"https://styerrealestate.com/wp-content/themes/styerrealestate/images/favicon.ico\" />\n    <link rel=\"pingback\" href=\"https://styerrealestate.com/xmlrpc.php\" />\n    <link rel=\"stylesheet\" href=\"https://use.typekit.net/ljs7gbv.css\">\n\n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/apple-touch-icon.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/favicon-32x32.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/favicon-16x16.png\">\n    <link rel=\"manifest\" href=\"/site.webmanifest\">\n    <link rel=\"mask-icon\" href=\"/safari-pinned-tab.svg\" color=\"#444b4d\">\n    <meta name=\"msapplication-TileColor\" content=\"#da532c\">\n    <meta name=\"theme-color\" content=\"#ffffff\">\n\n    <!-- Global site tag (gtag.js) - Google Analytics -->\n    <script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-151562483-1\"></script>\n    <script>\n        window.dataLayer = window.dataLayer || [];\n\n        function gtag() {\n            dataLayer.push(arguments);\n        }\n        gtag('js', new Date());\n\n        gtag('config', 'UA-151562483-1');\n    </script>\n\n    <!-- Facebook Pixel Code -->\n    <script>\n        ! function(f, b, e, v, n, t, s) {\n            if (f.fbq) return;\n            n = f.fbq = function() {\n                n.callMethod ?\n                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)\n            };\n            if (!f._fbq) f._fbq = n;\n            n.push = n;\n            n.loaded = !0;\n            n.version = '2.0';\n            n.queue = [];\n            t = b.createElement(e);\n            t.async = !0;\n            t.src = v;\n            s = b.getElementsByTagName(e)[0];\n            s.parentNode.insertBefore(t, s)\n        }(window, document, 'script',\n            'https://connect.facebook.net/en_US/fbevents.js');\n        fbq('init', '898176817422643');\n        fbq('track', 'PageView');\n    </script>\n    <noscript><img height=\"1\" width=\"1\" style=\"display:none\" src=\"https://www.facebook.com/tr?id=898176817422643&ev=PageView&noscript=1\" /></noscript>\n    <!-- End Facebook Pixel Code -->\n    <link rel=\"canonical\" href=\"https://styerrealestate.com/\" />\n</head>\n<body class=\"home wp-singular page-template-default page page-id-2 wp-theme-genesis wp-child-theme-styerrealestate header-image full-width-content genesis-breadcrumbs-hidden genesis-footer-widgets-visible\">\n    <div class=\"site-container\">\n        <div class=\"site-wrap\">\n            <header class=\"site-header\">\n                <div class=\"wrap\">\n                    <div class=\"title-area\">\n                        <p class=\"site-title\"><a href=\"https://styerrealestate.com/\">Styer Real Estate</a></p>\n                    </div>\n                    <div class=\"widget-area header-widget-area\">\n                        <section id=\"nav_menu-2\" class=\"widget widget_nav_menu\">\n                            <div class=\"widget-wrap\">\n                                <nav class=\"nav-header\">\n                                    <ul id=\"menu-main-nav\" class=\"menu genesis-nav-menu\">\n                                        <li id=\"menu-item-19\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19\">\n                                            <a href=\"https://styerrealestate.com/about/\"><span>About</span></a>\n                                            <ul class=\"sub-menu\">\n                                                <li id=\"menu-item-1525\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1525\"><a href=\"https://styerrealestate.com/about/\"><span>About Styer</span></a></li>\n                                                <li id=\"menu-item-1524\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1524\">\n                                                    <a href=\"https://styerrealestate.com/community/\"><span>Our Community</span></a>\n                                                    <ul class=\"sub-menu\">\n                                                        <li id=\"menu-item-1574\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1574\"><a href=\"https://styerrealestate.com/our-hometown-19465/\"><span>Our Hometown, 19465</span></a></li>\n                                                        <li id=\"menu-item-1585\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1585\"><a href=\"https://styerrealestate.com/pottstown/\"><span>Pottstown, PA</span></a></li>\n                                                        <li id=\"menu-item-1584\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1584\"><a href=\"https://styerrealestate.com/royersford/\"><span>Royersford, PA</span></a></li>\n                                                        <li id=\"menu-item-1583\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1583\"><a href=\"https://styerrealestate.com/phoenixville/\"><span>Phoenixville, PA</span></a></li>\n                                                        <li id=\"menu-item-1582\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1582\"><a href=\"https://styerrealestate.com/elverson/\"><span>Elverson, PA</span></a></li>\n                                                        <li id=\"menu-item-1575\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1575\"><a href=\"https://styerrealestate.com/spring-city-pa/\"><span>Spring City, PA</span></a></li>\n                                                        <li id=\"menu-item-1580\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1580\"><a href=\"https://styerrealestate.com/boyertown/\"><span>Boyertown, PA</span></a></li>\n                                                        <li id=\"menu-item-1577\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1577\"><a href=\"https://styerrealestate.com/chester-springs-pa/\"><span>Chester Springs, PA</span></a></li>\n                                                        <li id=\"menu-item-1578\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1578\"><a href=\"https://styerrealestate.com/kimberton-pa/\"><span>Kimberton, PA</span></a></li>\n                                                        <li id=\"menu-item-1576\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1576\"><a href=\"https://styerrealestate.com/glenmoore/\"><span>Glenmoore, PA</span></a></li>\n                                                        <li id=\"menu-item-1581\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1581\"><a href=\"https://styerrealestate.com/downingtown/\"><span>Downingtown, PA</span></a></li>\n                                                        <li id=\"menu-item-1579\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1579\"><a href=\"https://styerrealestate.com/douglassville-pa/\"><span>Douglassville, PA</span></a></li>\n                                                    </ul>\n                                                </li>\n                                            </ul>\n                                        </li>\n                                        <li id=\"menu-item-315\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-315\"><a href=\"https://styerrealestate.com/meet-the-team/\"><span>Meet the Team</span></a></li>\n                                        <li id=\"menu-item-23\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-23\"><a href=\"https://styerrealestate.com/featured-properties/\"><span>Featured Properties</span></a></li>\n                                        <li id=\"menu-item-657\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-657\"><a href=\"https://search.styerrealestate.com/idx/search/advanced\"><span>Search Listings</span></a></li>\n                                        <li id=\"menu-item-21\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-21\"><a href=\"https://styerrealestate.com/buying/\"><span>Buying</span></a></li>\n                                        <li id=\"menu-item-20\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-20\"><a href=\"https://styerrealestate.com/selling/\"><span>Selling</span></a></li>\n                                        <li id=\"menu-item-18\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-18\"><a href=\"https://styerrealestate.com/contact/\"><span>Contact</span></a></li>\n                                    </ul>\n                                </nav>\n                            </div>\n                        </section>\n                    </div>\n                </div>\n            </header>\n            <div class=\"site-inner\">\n                <div class=\"wrap\">\n                    <div class=\"content-sidebar-wrap\">\n                        <main class=\"content\">\n                            <article class=\"post-2 page type-page status-publish entry\" aria-label=\"Home\">\n                                <header class=\"entry-header\"></header>\n                                <div class=\"entry-content\">\n                                    <div id=\"metaslider-id-24\" style=\"max-width: 3600px;\" class=\"ml-slider-3-93-0 metaslider metaslider-flex metaslider-24 ml-slider ms-theme-default\" role=\"region\" aria-roledescription=\"Slideshow\" aria-label=\"New Slideshow\">\n                                        <div id=\"metaslider_container_24\">\n                                            <div id=\"metaslider_24\">\n                                                <ul class='slides'>\n                                                    <li style=\"display: block; width: 100%;\" class=\"slide-820 ms-image \" aria-roledescription=\"slide\" aria-label=\"slide-820\"><img decoding=\"async\" src=\"https://styerrealestate.com/wp-content/uploads/2019/09/Copy-of-165-Miller-Rd-2400x800.jpg\" height=\"1200\" width=\"3600\" alt=\"\" class=\"slider-24 slide-820\" title=\"Copy-of-165-Miller-Rd\" /></li>\n                                                    <li style=\"display: none; width: 100%;\" class=\"slide-26 ms-image \" aria-roledescription=\"slide\" aria-label=\"slide-26\"><img decoding=\"async\" src=\"https://styerrealestate.com/wp-content/uploads/2019/09/homepage-2400x800.jpg\" height=\"1200\" width=\"3600\" alt=\"Hopewell Road\" class=\"slider-24 slide-26\" title=\"homepage\" /></li>\n                                                    <li style=\"display: none; width: 100%;\" class=\"slide-32 ms-image \" aria-roledescription=\"slide\" aria-label=\"slide-32\"><img loading=\"lazy\" decoding=\"async\" src=\"https://styerrealestate.com/wp-content/uploads/2019/09/033-homepage-2400x800.jpg\" height=\"1200\" width=\"3600\" alt=\"\" class=\"slider-24 slide-32\" title=\"033-homepage\" /></li>\n                                                </ul>\n                                            </div>\n                                        </div>\n                                    </div>\n                                    <div class=\"site-inner-body\">\n                                        <h1>The Boutique Real Estate Experience</h1>\n                                        <div style=\"text-align: center;\">Boutique firms are specialized businesses with a culture centered on personalized customer service. As a client of Styer Real Estate, you will experience best-in-town expertise, outstanding communication, and stellar representation, with customized services tailored to your unique needs. You can relax knowing that not only your agent, but the entire office is working to assist you for a smooth and skilled transaction.</div>\n                                    </div>\n                                    <div class=\"testimonial\">\n                                        <h5>&#8220;From the welcoming, homey feel of the office to the knowledgeable, proactive, and responsive nature of every single person on the Styer Team, I could not have been more pleased. Everyone with whom I interacted was dedicated to making sure I understood and was prepared for every step of the home selling and buying practice. They are awesome to work with!&#8221;</h5>\n                                    </div>\n                                    <div class=\"site-inner-body\">\n                                        <h1>Our Mission &amp; Values</h1>\n                                        <p>Our goal is to cultivate an environment where honest, like-minded professionals are motivated to exceed expectations, create an unbeatable service experience, stay educated and engaged, operate with the client’s best interest at heart, and build meaningful relationships. In short … we aim to do good, both in our work environment and in the community we serve.</p>\n                                        <div class=\"section group\">\n                                            <div class=\"col span_1_of_3\">\n                                                <p><img loading=\"lazy\" decoding=\"async\" class=\"aligncenter size-full wp-image-45\" src=\"https://www.styerrealestate.com/wp-content/uploads/2018/10/KenandMeredith.jpg\" alt=\"\" width=\"600\" height=\"899\" srcset=\"https://styerrealestate.com/wp-content/uploads/2018/10/KenandMeredith.jpg 600w, https://styerrealestate.com/wp-content/uploads/2018/10/KenandMeredith-200x300.jpg 200w, https://styerrealestate.com/wp-content/uploads/2018/10/KenandMeredith-217x325.jpg 217w\" sizes=\"auto, (max-width: 600px) 100vw, 600px\" /></p>\n                                                <h6>The Styer Difference</h6>\n                                                <p>Styer Real Estate is a family-run business that focuses on recruiting full-time, quality REALTORS that understand the local market conditions and are dedicated to tending to individual client needs. Instead of focusing on the number of homes we sell, we are focused on serving the clients we have at the highest level.<br />\n                                                    <a href=\"https://www.styerrealestate.com/about/\">\n                                                </p>\n                                                <div class=\"button\">About us</div>\n                                                <p></a>\n                                                </p>\n                                            </div>\n                                            <div class=\"col span_2_of_3\">\n                                                <p><img loading=\"lazy\" decoding=\"async\" src=\"https://www.styerrealestate.com/wp-content/uploads/2019/10/sold-3.jpg\" alt=\"Buying with Styer Real Estate\" width=\"600\" height=\"900\" class=\"alignleft size-full wp-image-589\" srcset=\"https://styerrealestate.com/wp-content/uploads/2019/10/sold-3.jpg 600w, https://styerrealestate.com/wp-content/uploads/2019/10/sold-3-200x300.jpg 200w, https://styerrealestate.com/wp-content/uploads/2019/10/sold-3-217x325.jpg 217w\" sizes=\"auto, (max-width: 600px) 100vw, 600px\" /></p>\n                                                <h6>BUYING WITH STYER</h6>\n                                                <p>Buying a home is often times the biggest purchase a person or family will ever make and can be a serious, life-changing decision. The best &#8212; and least stressful &#8212; way to purchase a home is to be well educated throughout the process, and the best way to be educated is to work with a Styer Real Estate professional to guide you step-by-step.<br />\n                                                    <a href=\"https://www.styerrealestate.com/buying/\">\n                                                </p>\n                                                <div class=\"button\">Buying</div>\n                                                <p></a>\n                                                </p>\n                                            </div>\n                                            <div class=\"col span_3_of_3\">\n                                                <p><img loading=\"lazy\" decoding=\"async\" src=\"https://www.styerrealestate.com/wp-content/uploads/2019/08/Sold.jpg\" alt=\"sold\" width=\"600\" height=\"900\" class=\"alignleft size-full wp-image-434\" srcset=\"https://styerrealestate.com/wp-content/uploads/2019/08/Sold.jpg 600w, https://styerrealestate.com/wp-content/uploads/2019/08/Sold-200x300.jpg 200w, https://styerrealestate.com/wp-content/uploads/2019/08/Sold-217x325.jpg 217w\" sizes=\"auto, (max-width: 600px) 100vw, 600px\" /></p>\n                                                <h6>SELLING WITH STYER</h6>\n                                                <p>Every home is unique and requires individualized marketing and attention. That’s why Styer Real Estate agents create customized experiences for every transaction. Whether you’re selling a sprawling estate, fixer-upper, or anything in between, you can expect the same level of service from one of our local experts.<br />\n                                                    <a href=\"https://www.styerrealestate.com/selling/\">\n                                                </p>\n                                                <div class=\"button\">Selling</div>\n                                                <p></a>\n                                                </p>\n                                            </div>\n                                        </div>\n                                    </div>\n                                    <p><span id=\"more-2\"></span></p>\n                                    <p><!--more--></p>\n                                    <p><!--more--></p>\n                                </div>\n                            </article>\n                        </main>\n                    </div>\n                </div>\n            </div>\n        </div>\n        <div class=\"footer-widgets\">\n            <div class=\"wrap\">\n                <div class=\"widget-area footer-widgets-1 footer-widget-area\">\n                    <section id=\"text-2\" class=\"widget widget_text\">\n                        <div class=\"widget-wrap\">\n                            <h4 class=\"widget-title widgettitle\">Let&#8217;s socialize!</h4>\n                            <div class=\"textwidget\">\n                                <div class=\"section group\">\n                                    <div class=\"col span_1_of_3\"><a href=\"https://www.instagram.com/styerrealestate/\" target=\"_blank\" rel=\"noopener\"><img loading=\"lazy\" decoding=\"async\" src=\"https://styerrealestate.com/wp-content/uploads/2019/07/insta.png\" alt=\"instagram\" width=\"60\" height=\"60\" /></a></div>\n                                    <div class=\"col span_2_of_3\"><a href=\"https://www.facebook.com/styerrealestate/?ref=hl\" target=\"_blank\" rel=\"noopener\"><img loading=\"lazy\" decoding=\"async\" src=\"https://styerrealestate.com/wp-content/uploads/2019/07/facebook.png\" alt=\"facebook\" width=\"60\" height=\"60\" /></a></div>\n                                    <div class=\"col span_3_of_3\"><a href=\"https://twitter.com/styerrealestate\" target=\"_blank\" rel=\"noopener\"><img loading=\"lazy\" decoding=\"async\" src=\"https://styerrealestate.com/wp-content/uploads/2019/08/twitter-copy.png\" alt=\"twitter\" width=\"60\" height=\"60\" /></a></div>\n                                </div>\n                            </div>\n                        </div>\n                    </section>\n                </div>\n                <div class=\"widget-area footer-widgets-2 footer-widget-area\">\n                    <section id=\"text-3\" class=\"widget widget_text\">\n                        <div class=\"widget-wrap\">\n                            <h4 class=\"widget-title widgettitle\">Join our email list:</h4>\n                            <div class=\"textwidget\">\n                                <p><!-- Begin Mailchimp Signup Form --></p>\n                                <style type=\"text/css\">\n                                    #mc_embed_signup {\n                                        background: #;\n                                        clear: left;\n                                        font: 14px Helvetica, Arial, sans-serif;\n                                    }\n\n                                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.\n                                       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */\n                                </style>\n                                <div id=\"mc_embed_signup\">\n                                    <form id=\"mc-embedded-subscribe-form\" class=\"validate\" action=\"https://gmail.us20.list-manage.com/subscribe/post?u=ef218485fe8fce0e99ed38de7&amp;id=df2e9678ea\" method=\"post\" name=\"mc-embedded-subscribe-form\" novalidate=\"\" target=\"_blank\">\n                                        <div id=\"mc_embed_signup_scroll\">\n                                            <div class=\"mc-field-group\"><label for=\"mce-EMAIL\">Email Address <span class=\"asterisk\">*</span><br />\n                                                </label><br />\n                                                <input id=\"mce-EMAIL\" class=\"required email\" name=\"EMAIL\" type=\"email\" value=\"\" />\n                                            </div>\n                                            <div id=\"mce-responses\" class=\"clear\">\n                                                <div id=\"mce-error-response\" class=\"response\" style=\"display: none;\"></div>\n                                                <div id=\"mce-success-response\" class=\"response\" style=\"display: none;\"></div>\n                                            </div>\n                                            <p><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--></p>\n                                            <div style=\"position: absolute; left: -5000px;\" aria-hidden=\"true\"><input tabindex=\"-1\" name=\"b_ef218485fe8fce0e99ed38de7_df2e9678ea\" type=\"text\" value=\"\" /></div>\n                                            <div class=\"clear\"><input id=\"mc-embedded-subscribe\" class=\"button\" name=\"subscribe\" type=\"submit\" value=\"Subscribe\" /></div>\n                                        </div>\n                                    </form>\n                                </div>\n                                <p><script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script><br />\n                                    <!--End mc_embed_signup-->\n                                </p>\n                            </div>\n                        </div>\n                    </section>\n                    <section id=\"text-4\" class=\"widget widget_text\">\n                        <div class=\"widget-wrap\">\n                            <div class=\"textwidget\">\n                                <p>2089 Pottstown Pike, Pottstown, PA</p>\n                                <p>610.469.9001 office</p>\n                                <p>484.985.8044 fax</p>\n                                <div>Licensed in PA</div>\n                                <div>Office License #RB068615</div>\n                            </div>\n                        </div>\n                    </section>\n                </div>\n                <div class=\"widget-area footer-widgets-3 footer-widget-area\">\n                    <section id=\"nav_menu-3\" class=\"widget widget_nav_menu\">\n                        <div class=\"widget-wrap\">\n                            <h4 class=\"widget-title widgettitle\">Menu</h4>\n                            <div class=\"menu-footer-menu-container\">\n                                <ul id=\"menu-footer-menu\" class=\"menu\">\n                                    <li id=\"menu-item-1555\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-1555\"><a href=\"https://styerrealestate.com/\" aria-current=\"page\">Home</a></li>\n                                    <li id=\"menu-item-1556\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1556\"><a href=\"https://styerrealestate.com/about/\">About</a></li>\n                                    <li id=\"menu-item-1560\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1560\"><a href=\"https://styerrealestate.com/meet-the-team/\">Meet the Team</a></li>\n                                    <li id=\"menu-item-1557\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1557\"><a href=\"https://styerrealestate.com/community/\">Community</a></li>\n                                    <li id=\"menu-item-1558\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1558\"><a href=\"https://styerrealestate.com/contact/\">Contact</a></li>\n                                    <li id=\"menu-item-1559\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1559\"><a href=\"https://styerrealestate.com/featured-properties/\">Featured Properties</a></li>\n                                    <li id=\"menu-item-1561\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-1561\"><a href=\"https://styerrealestate.com/search-listing/\">Search Listings</a></li>\n                                </ul>\n                            </div>\n                        </div>\n                    </section>\n                </div>\n            </div>\n        </div>\n        <footer class=\"site-footer\">\n            <div class=\"wrap\">\n                <p>Copyright &#x000A9;&nbsp;2025 Styer Real Estate</p>\n            </div>\n        </footer>\n    </div>\n    <script type=\"speculationrules\">\n        {\"prefetch\":[{\"source\":\"document\",\"where\":{\"and\":[{\"href_matches\":\"\\/*\"},{\"not\":{\"href_matches\":[\"\\/wp-*.php\",\"\\/wp-admin\\/*\",\"\\/wp-content\\/uploads\\/*\",\"\\/wp-content\\/*\",\"\\/wp-content\\/plugins\\/*\",\"\\/wp-content\\/themes\\/styerrealestate\\/*\",\"\\/wp-content\\/themes\\/genesis\\/*\",\"\\/*\\\\?(.+)\"]}},{\"not\":{\"selector_matches\":\"a[rel~=\\\"nofollow\\\"]\"}},{\"not\":{\"selector_matches\":\".no-prefetch, .no-prefetch a\"}}]},\"eagerness\":\"conservative\"}]}\n    </script>\n    <button type=\"button\" aria-controls=\"rmp-container-1965\" aria-label=\"Menu Trigger\" id=\"rmp_menu_trigger-1965\" class=\"rmp_menu_trigger rmp-menu-trigger-boring\">\n        <span class=\"rmp-trigger-box\">\n            <span class=\"responsive-menu-pro-inner\"></span>\n        </span>\n    </button>\n    <div id=\"rmp-container-1965\" class=\"rmp-container rmp-container rmp-slide-left\">\n        <div id=\"rmp-menu-title-1965\" class=\"rmp-menu-title\">\n            <span class=\"rmp-menu-title-link\">\n                <span></span>\n            </span>\n        </div>\n        <div id=\"rmp-menu-wrap-1965\" class=\"rmp-menu-wrap\">\n            <ul id=\"rmp-menu-1965\" class=\"rmp-menu\" role=\"menubar\" aria-label=\"Default Menu\">\n                <li id=\"rmp-menu-item-19\" class=\" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children rmp-menu-item rmp-menu-item-has-children rmp-menu-top-level-item\" role=\"none\">\n                    <a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/about/\" role=\"menuitem\">About\n                        <div class=\"rmp-menu-subarrow\">▼</div>\n                    </a>\n                    <ul aria-label=\"About\" role=\"menu\" data-depth=\"2\" class=\"rmp-submenu rmp-submenu-depth-1\">\n                        <li id=\"rmp-menu-item-1525\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/about/\" role=\"menuitem\">About Styer</a></li>\n                        <li id=\"rmp-menu-item-1524\" class=\" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children rmp-menu-item rmp-menu-item-has-children rmp-menu-sub-level-item\" role=\"none\">\n                            <a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/community/\" role=\"menuitem\">Our Community\n                                <div class=\"rmp-menu-subarrow\">▼</div>\n                            </a>\n                            <ul aria-label=\"Our Community\" role=\"menu\" data-depth=\"3\" class=\"rmp-submenu rmp-submenu-depth-2\">\n                                <li id=\"rmp-menu-item-1574\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/our-hometown-19465/\" role=\"menuitem\">Our Hometown, 19465</a></li>\n                                <li id=\"rmp-menu-item-1585\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/pottstown/\" role=\"menuitem\">Pottstown, PA</a></li>\n                                <li id=\"rmp-menu-item-1584\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/royersford/\" role=\"menuitem\">Royersford, PA</a></li>\n                                <li id=\"rmp-menu-item-1583\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/phoenixville/\" role=\"menuitem\">Phoenixville, PA</a></li>\n                                <li id=\"rmp-menu-item-1582\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/elverson/\" role=\"menuitem\">Elverson, PA</a></li>\n                                <li id=\"rmp-menu-item-1575\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/spring-city-pa/\" role=\"menuitem\">Spring City, PA</a></li>\n                                <li id=\"rmp-menu-item-1580\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/boyertown/\" role=\"menuitem\">Boyertown, PA</a></li>\n                                <li id=\"rmp-menu-item-1577\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/chester-springs-pa/\" role=\"menuitem\">Chester Springs, PA</a></li>\n                                <li id=\"rmp-menu-item-1578\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/kimberton-pa/\" role=\"menuitem\">Kimberton, PA</a></li>\n                                <li id=\"rmp-menu-item-1576\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/glenmoore/\" role=\"menuitem\">Glenmoore, PA</a></li>\n                                <li id=\"rmp-menu-item-1581\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/downingtown/\" role=\"menuitem\">Downingtown, PA</a></li>\n                                <li id=\"rmp-menu-item-1579\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-sub-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/douglassville-pa/\" role=\"menuitem\">Douglassville, PA</a></li>\n                            </ul>\n                        </li>\n                    </ul>\n                </li>\n                <li id=\"rmp-menu-item-315\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-top-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/meet-the-team/\" role=\"menuitem\">Meet the Team</a></li>\n                <li id=\"rmp-menu-item-23\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-top-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/featured-properties/\" role=\"menuitem\">Featured Properties</a></li>\n                <li id=\"rmp-menu-item-657\" class=\" menu-item menu-item-type-custom menu-item-object-custom rmp-menu-item rmp-menu-top-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://search.styerrealestate.com/idx/search/advanced\" role=\"menuitem\">Search Listings</a></li>\n                <li id=\"rmp-menu-item-21\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-top-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/buying/\" role=\"menuitem\">Buying</a></li>\n                <li id=\"rmp-menu-item-20\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-top-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/selling/\" role=\"menuitem\">Selling</a></li>\n                <li id=\"rmp-menu-item-18\" class=\" menu-item menu-item-type-post_type menu-item-object-page rmp-menu-item rmp-menu-top-level-item\" role=\"none\"><a class=\"rmp-menu-item-link\" href=\"https://styerrealestate.com/contact/\" role=\"menuitem\">Contact</a></li>\n            </ul>\n        </div>\n    </div>\n    <script type=\"text/javascript\">\n        function atomicBlocksShare(url, title, w, h) {\n            var left = (window.innerWidth / 2) - (w / 2);\n            var top = (window.innerHeight / 2) - (h / 2);\n            return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=600, height=600, top=' + top + ', left=' + left);\n        }\n    </script>\n    <link rel='stylesheet' id='metaslider-flex-slider-css' href='https://styerrealestate.com/wp-content/plugins/ml-slider/assets/sliders/flexslider/flexslider.css?ver=3.93.0' type='text/css' media='all' property='stylesheet' />\n    <link rel='stylesheet' id='metaslider-public-css' href='https://styerrealestate.com/wp-content/plugins/ml-slider/assets/metaslider/public.css?ver=3.93.0' type='text/css' media='all' property='stylesheet' />\n    <style id='metaslider-public-inline-css' type='text/css'>\n        @media only screen and (max-width: 767px) {\n            body:after {\n                display: none;\n                content: \"smartphone\";\n            }\n\n            .hide-arrows-smartphone .flex-direction-nav,\n            .hide-navigation-smartphone .flex-control-paging,\n            .hide-navigation-smartphone .flex-control-nav,\n            .hide-navigation-smartphone .filmstrip {\n                display: none !important;\n            }\n        }\n\n        @media only screen and (min-width : 768px) and (max-width: 1023px) {\n            body:after {\n                display: none;\n                content: \"tablet\";\n            }\n\n            .hide-arrows-tablet .flex-direction-nav,\n            .hide-navigation-tablet .flex-control-paging,\n            .hide-navigation-tablet .flex-control-nav,\n            .hide-navigation-tablet .filmstrip {\n                display: none !important;\n            }\n        }\n\n        @media only screen and (min-width : 1024px) and (max-width: 1439px) {\n            body:after {\n                display: none;\n                content: \"laptop\";\n            }\n\n            .hide-arrows-laptop .flex-direction-nav,\n            .hide-navigation-laptop .flex-control-paging,\n            .hide-navigation-laptop .flex-control-nav,\n            .hide-navigation-laptop .filmstrip {\n                display: none !important;\n            }\n        }\n\n        @media only screen and (min-width : 1440px) {\n            body:after {\n                display: none;\n                content: \"desktop\";\n            }\n\n            .hide-arrows-desktop .flex-direction-nav,\n            .hide-navigation-desktop .flex-control-paging,\n            .hide-navigation-desktop .flex-control-nav,\n            .hide-navigation-desktop .filmstrip {\n                display: none !important;\n            }\n        }\n    </style>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-includes/js/jquery/ui/core.min.js?ver=1.13.3\" id=\"jquery-ui-core-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-includes/js/jquery/ui/mouse.min.js?ver=1.13.3\" id=\"jquery-ui-mouse-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-includes/js/jquery/ui/sortable.min.js?ver=1.13.3\" id=\"jquery-ui-sortable-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/real-estate-listing-realtyna-wpl/assets/js/libraries/realtyna/realtyna.min.js?ver=6.8.2\" id=\"realtyna-framework-js\"></script>\n    <script type=\"text/javascript\" id=\"pt-cv-content-views-script-js-extra\">\n        /* <![CDATA[ */\n        var PT_CV_PUBLIC = {\n            \"_prefix\": \"pt-cv-\",\n            \"page_to_show\": \"5\",\n            \"_nonce\": \"1eaa904eb8\",\n            \"is_admin\": \"\",\n            \"is_mobile\": \"\",\n            \"ajaxurl\": \"https:\\/\\/styerrealestate.com\\/wp-admin\\/admin-ajax.php\",\n            \"lang\": \"\",\n            \"loading_image_src\": \"data:image\\/gif;base64,R0lGODlhDwAPALMPAMrKygwMDJOTkz09PZWVla+vr3p6euTk5M7OzuXl5TMzMwAAAJmZmWZmZszMzP\\/\\/\\/yH\\/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAPACwAAAAADwAPAAAEQvDJaZaZOIcV8iQK8VRX4iTYoAwZ4iCYoAjZ4RxejhVNoT+mRGP4cyF4Pp0N98sBGIBMEMOotl6YZ3S61Bmbkm4mAgAh+QQFCgAPACwAAAAADQANAAAENPDJSRSZeA418itN8QiK8BiLITVsFiyBBIoYqnoewAD4xPw9iY4XLGYSjkQR4UAUD45DLwIAIfkEBQoADwAsAAAAAA8ACQAABC\\/wyVlamTi3nSdgwFNdhEJgTJoNyoB9ISYoQmdjiZPcj7EYCAeCF1gEDo4Dz2eIAAAh+QQFCgAPACwCAAAADQANAAAEM\\/DJBxiYeLKdX3IJZT1FU0iIg2RNKx3OkZVnZ98ToRD4MyiDnkAh6BkNC0MvsAj0kMpHBAAh+QQFCgAPACwGAAAACQAPAAAEMDC59KpFDll73HkAA2wVY5KgiK5b0RRoI6MuzG6EQqCDMlSGheEhUAgqgUUAFRySIgAh+QQFCgAPACwCAAIADQANAAAEM\\/DJKZNLND\\/kkKaHc3xk+QAMYDKsiaqmZCxGVjSFFCxB1vwy2oOgIDxuucxAMTAJFAJNBAAh+QQFCgAPACwAAAYADwAJAAAEMNAs86q1yaWwwv2Ig0jUZx3OYa4XoRAfwADXoAwfo1+CIjyFRuEho60aSNYlOPxEAAAh+QQFCgAPACwAAAIADQANAAAENPA9s4y8+IUVcqaWJ4qEQozSoAzoIyhCK2NFU2SJk0hNnyEOhKR2AzAAj4Pj4GE4W0bkJQIAOw==\"\n        };\n        var PT_CV_PAGINATION = {\n            \"first\": \"\\u00ab\",\n            \"prev\": \"\\u2039\",\n            \"next\": \"\\u203a\",\n            \"last\": \"\\u00bb\",\n            \"goto_first\": \"Go to first page\",\n            \"goto_prev\": \"Go to previous page\",\n            \"goto_next\": \"Go to next page\",\n            \"goto_last\": \"Go to last page\",\n            \"current_page\": \"Current page is\",\n            \"goto_page\": \"Go to page\"\n        };\n        /* ]]> */\n    </script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/content-views-query-and-display-post-page/public/assets/js/cv.js?ver=4.0.2\" id=\"pt-cv-content-views-script-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/cresta-social-share-counter/js/jquery.cresta-social-effect.min.js?ver=2.9.9.6\" id=\"cresta-social-effect-js-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/atomic-blocks/dist/assets/js/dismiss.js?ver=1604024260\" id=\"atomic-blocks-dismiss-js-js\"></script>\n    <script type=\"text/javascript\" id=\"spu-public-js-extra\">\n        /* <![CDATA[ */\n        var spuvar = {\n            \"is_admin\": \"\",\n            \"disable_style\": \"\",\n            \"ajax_mode\": \"\",\n            \"ajax_url\": \"https:\\/\\/styerrealestate.com\\/wp-admin\\/admin-ajax.php\",\n            \"ajax_mode_url\": \"https:\\/\\/styerrealestate.com\\/?spu_action=spu_load\",\n            \"pid\": \"2\",\n            \"is_front_page\": \"1\",\n            \"is_category\": \"\",\n            \"site_url\": \"https:\\/\\/styerrealestate.com\",\n            \"is_archive\": \"\",\n            \"is_search\": \"\",\n            \"is_preview\": \"\",\n            \"seconds_confirmation_close\": \"5\"\n        };\n        var spuvar_social = [];\n        /* ]]> */\n    </script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/popups/public/assets/js/public.js?ver=1.9.3.8\" id=\"spu-public-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/themes/styerrealestate/js/responsive-menu.js?ver=1.0.0\" id=\"ghr-responsive-menu-js\"></script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/ml-slider/assets/sliders/flexslider/jquery.flexslider.min.js?ver=3.93.0\" id=\"metaslider-flex-slider-js\"></script>\n    <script type=\"text/javascript\" id=\"metaslider-flex-slider-js-after\">\n        /* <![CDATA[ */\n        var metaslider_24 = function($) {\n            $('#metaslider_24').addClass('flexslider');\n            $('#metaslider_24').flexslider({\n                slideshowSpeed: 6000,\n                animation: \"fade\",\n                controlNav: true,\n                directionNav: false,\n                pauseOnHover: true,\n                direction: \"horizontal\",\n                reverse: false,\n                keyboard: 1,\n                touch: 1,\n                animationSpeed: 600,\n                prevText: \"Previous\",\n                nextText: \"Next\",\n                smoothHeight: false,\n                fadeFirstSlide: true,\n                slideshow: true,\n                pausePlay: false\n            });\n            $(document).trigger('metaslider/initialized', '#metaslider_24');\n        };\n        jQuery(document).ready(function($) {\n            $('.metaslider').attr('tabindex', '0');\n            $(document).on('keyup.slider', function(e) {});\n        });\n        var timer_metaslider_24 = function() {\n            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_24, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_24, 1) : metaslider_24(window.jQuery);\n        };\n        timer_metaslider_24();\n        /* ]]> */\n    </script>\n    <script type=\"text/javascript\" id=\"metaslider-script-js-extra\">\n        /* <![CDATA[ */\n        var wpData = {\n            \"baseUrl\": \"https:\\/\\/styerrealestate.com\"\n        };\n        /* ]]> */\n    </script>\n    <script type=\"text/javascript\" src=\"https://styerrealestate.com/wp-content/plugins/ml-slider/assets/metaslider/script.min.js?ver=3.93.0\" id=\"metaslider-script-js\"></script>\n</body>\n</html>\n```"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-21T15:01:35.899Z",
      "updatedAt": "2025-09-21T15:01:35.899Z",
      "role": "workflow:owner",
      "workflowId": "TBUHU5XXqpcbglOs",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-21T16:10:41.000Z",
  "versionId": "b60a50f9-77aa-44e8-b101-9cb1196e05e9"
}