workflows/WZY5soH63TcxkIRd.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-13T03:28:04.498Z",
  "id": "WZY5soH63TcxkIRd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Agents for Business:https://youtu.be/dqMT-T0ywrA?si=EPf7_Y5U1aEm3c1T",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        48
      ],
      "id": "bc506614-a082-48e6-ad2b-ce967a4dc37b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ day: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -304,
        48
      ],
      "id": "5a824c08-27ec-4d83-9447-56193a4581c9",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cXzASFAyNaVtWAiR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1335c266-f16b-4ced-a21a-a7caf3842849",
              "name": "Summary",
              "value": "={{ $json.summary }} - {{ $json.start.dateTime.toDateTime().format('HH-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        48
      ],
      "id": "a049f3b3-2347-4bef-bb9a-43fc475f8c0c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Get the single item from the Aggregate node\nconst item = $input.first();\n\n// The 'Summary' field is an array of event descriptions\nconst eventsArray = item.json.Summary;\n\n// A professional-looking introduction\nconst introText = \"Here is a summary of your upcoming events. Please review them at your convenience.\";\n\n// Build the HTML for the list of events\nlet eventListHtml = '';\nif (Array.isArray(eventsArray) && eventsArray.length > 0) {\n  // Create a list item for each event\n  const listItems = eventsArray.map(event => `  <li style=\"margin-bottom: 10px;\">${event}</li>`).join('\\n');\n  eventListHtml = `<ul style=\"list-style-type: disc; padding-left: 20px;\">\\n${listItems}\\n</ul>`;\n} else {\n  eventListHtml = \"<p>You have no upcoming events.</p>\";\n}\n\n// Combine everything into a final, clean HTML body\nitem.json.emailBody = `\n<div style=\"font-family: Arial, sans-serif; font-size: 16px; color: #333;\">\n  <p>${introText}</p>\n  <h3 style=\"color: #444; border-bottom: 2px solid #eee; padding-bottom: 5px;\">Your Events:</h3>\n  ${eventListHtml}\n  <p style=\"margin-top: 20px; font-size: 14px; color: #777;\">\n    <em>This is an automated reminder.</em>\n  </p>\n</div>\n`;\n\n// Return the modified item\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        48
      ],
      "id": "036a54d7-189c-45c1-9a50-94fe73036d10",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "hello6tysm@gmail.com",
        "subject": "=Happy {{ $now.plus(1, 'day').format('EEEE') }}! {{ $now.format('yyyy-MM-dd') }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        48
      ],
      "id": "bb667590-c633-4f81-9158-2f0878075109",
      "name": "Send a message",
      "webhookId": "43ab0e59-a311-4c6a-8007-120d78d2282e",
      "credentials": {
        "gmailOAuth2": {
          "id": "3ZDGrufM0JFl2Z0X",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Automation to get your meetings from the calender and send a formated and clean summary to your gmail for reminding you.",
        "height": 496,
        "width": 1328,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -160
      ],
      "typeVersion": 1,
      "id": "8d8c99fc-b116-45d6-923b-e7b271eecb9b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Summary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        32,
        48
      ],
      "id": "dab1ae11-1612-4c4f-9393-f9a85b05e888",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "Formatting the data into clean state.",
        "height": 240,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -32
      ],
      "typeVersion": 1,
      "id": "4d757e96-21c5-4a45-9308-62fb3256baa4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Combining the data the splitted data coming from calendar node.",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -32
      ],
      "typeVersion": 1,
      "id": "8ddb966a-c5e4-4a8a-bdf1-99ee80aaa152",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "Get many events": [
      {
        "json": {
          "id": "3u9cedjf08p5rcdpcnfpdofhut",
          "summary": "Birthday of my cousin",
          "start": {
            "dateTime": "2025-09-14T11:00:00+05:00",
            "timeZone": "Asia/Karachi"
          },
          "end": {
            "dateTime": "2025-09-14T12:00:00+05:00",
            "timeZone": "Asia/Karachi"
          },
          "creator": {
            "email": "ubaidmukhtar237@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "ubaidmukhtar237@gmail.com",
            "self": true
          },
          "description": "Birthday of my cousin Usman Shahid.",
          "created": "2025-09-13T15:57:46.000Z",
          "updated": "2025-09-13T16:19:34.891Z",
          "etag": "\"3515560749782142\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=M3U5Y2VkamYwOHA1cmNkcGNuZnBkb2ZodXQgdWJhaWRtdWtodGFyMjM3QG0",
          "iCalUID": "3u9cedjf08p5rcdpcnfpdofhut@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "2unifajr12df9kk03de5j1jdpv",
          "summary": "Meet 1 for dentist clinic",
          "start": {
            "dateTime": "2025-09-14T13:30:00+05:00",
            "timeZone": "Asia/Karachi"
          },
          "end": {
            "dateTime": "2025-09-14T14:30:00+05:00",
            "timeZone": "Asia/Karachi"
          },
          "creator": {
            "email": "ubaidmukhtar237@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "ubaidmukhtar237@gmail.com",
            "self": true
          },
          "description": "Meeting with Doctor For my Teeths.",
          "created": "2025-09-13T15:57:25.000Z",
          "updated": "2025-09-13T16:19:48.637Z",
          "etag": "\"3515560777274590\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MnVuaWZhanIxMmRmOWtrMDNkZTVqMWpkcHYgdWJhaWRtdWtodGFyMjM3QG0",
          "iCalUID": "2unifajr12df9kk03de5j1jdpv@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "3s86l78s1762dh0dho1o3gjvvc",
          "summary": "meeting with boss",
          "start": {
            "dateTime": "2025-09-14T16:30:00+05:00",
            "timeZone": "Asia/Karachi"
          },
          "end": {
            "dateTime": "2025-09-14T17:30:00+05:00",
            "timeZone": "Asia/Karachi"
          },
          "creator": {
            "email": "ubaidmukhtar237@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "ubaidmukhtar237@gmail.com",
            "self": true
          },
          "description": "Meeting with my angry boss.",
          "created": "2025-09-13T15:57:34.000Z",
          "updated": "2025-09-13T16:19:58.020Z",
          "etag": "\"3515560796041758\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=M3M4Nmw3OHMxNzYyZGgwZGhvMW8zZ2p2dmMgdWJhaWRtdWtodGFyMjM3QG0",
          "iCalUID": "3s86l78s1762dh0dho1o3gjvvc@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-13T03:28:04.501Z",
      "updatedAt": "2025-09-13T03:28:04.501Z",
      "role": "workflow:owner",
      "workflowId": "WZY5soH63TcxkIRd",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-13T17:50:47.000Z",
  "versionId": "0968db86-afa3-4f0c-8f1c-bfc541e57e54"
}