Backup_2025-09-11/managing my vps.json
{
  "createdAt": "2025-09-10T19:12:18.314Z",
  "updatedAt": "2025-09-10T19:36:31.000Z",
  "id": "fJuP7KcEaam2gCEp",
  "name": "managing my vps",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        -32
      ],
      "id": "3f9e7e75-06da-40b6-9d23-6e399343650a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "Hi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -288,
        -32
      ],
      "id": "0716ff44-0a18-424d-a896-98882530fea1",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -32
      ],
      "id": "a73186f1-2eb1-4f5f-9103-c84f133c503b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4038a615-39e2-4a2f-8ab2-df2edd4a5920",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -32
      ],
      "id": "d97d5594-f670-4edd-a564-d96145a0d70e",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09DE5VGC2H",
          "mode": "list",
          "cachedResultName": "cloud"
        },
        "text": "Hi there, your webhook is working.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        336,
        -128
      ],
      "id": "b4ac436b-8e77-4206-a2d4-fea2a30b3d5f",
      "name": "Send a message",
      "webhookId": "3e69f9e8-dd47-4466-877a-b41a7fded050",
      "credentials": {
        "slackApi": {
          "id": "EHkrBNjWKBi9posn",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "739fe68c-a780-4163-bdd6-72488f0a838c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-10T19:12:18.317Z",
      "updatedAt": "2025-09-10T19:12:18.317Z",
      "role": "workflow:owner",
      "workflowId": "fJuP7KcEaam2gCEp",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "tags": []
}