Backup_2025-09-25/AI Appointment Scheduler_Vapi + n8n _https___youtu.be_ibMYMRijvwE_si=8dbZd11B18nLkyhA.json
{
  "createdAt": "2025-09-13T21:18:24.992Z",
  "updatedAt": "2025-09-13T21:18:40.000Z",
  "id": "67V2e9dNGpCj5XYD",
  "name": "AI Appointment Scheduler_Vapi + n8n _https___youtu.be_ibMYMRijvwE_si=8dbZd11B18nLkyhA",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cc83947c-9759-469d-abae-f1a3387d6cee",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        -176
      ],
      "id": "2c04aa1d-19cd-4072-b789-499aa7beadb1",
      "name": "Webhook",
      "webhookId": "cc83947c-9759-469d-abae-f1a3387d6cee"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<AssistantInstructions>\n    <Role>Helpful and professional assistant managing client appointment bookings.</Role>\n\n    <Booking>\n        <CreateEvent>\n            <Name>{{ $json.body.message.toolCalls[0].function.arguments.Name }}</Name>\n            <Issue>{{ $json.body.message.toolCalls[0].function.arguments.Issue }}</Issue>\n            <DateTime>{{ $json.body.message.toolCalls[0].function.arguments.DateTime }}</DateTime>\n        </CreateEvent>\n        <CheckAvailability>\n            <Action>Use the Calendar tool (get an event) to verify existing appointments if needed before confirming.</Action>\n        </CheckAvailability>\n    </Booking>\n\n    <Guidelines>\n        <ProfessionalTone>Always act directly without asking for confirmation, maintaining a professional and efficient tone.</ProfessionalTone>\n        <OutputFormat>\n            Draft outputs in a highly professional and formal manner. Example:\n            <Example>\n                The appointment for Kashan Nasir, who has been reported as injured in an altercation with his brother, is scheduled for September 10th from 11:00 PM to 12:00 AM.\n            </Example>\n        </OutputFormat>\n    </Guidelines>\n</AssistantInstructions>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        -176
      ],
      "id": "2fc60229-e159-4345-8d21-2cb029b65a22",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        48
      ],
      "id": "c38c4bfa-dac4-4905-a071-0e8f2f56ed79",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1104,
        -176
      ],
      "id": "0b0e6585-9c3d-4b74-8c6d-6acb984931c2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        768,
        48
      ],
      "id": "136c8763-ec68-4787-87a1-204a4499c7b8",
      "name": "Create an event"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "ubaidmukhtar237@gmail.com",
          "mode": "list",
          "cachedResultName": "ubaidmukhtar237@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        896,
        48
      ],
      "id": "c1478009-9662-4efa-a3c8-93646b78910d",
      "name": "Get an event"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8ncloud123321.app.n8n.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "13018",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=production,sentry-public_key=fac6f282c765ce50b18c3fa0305f8a8b,sentry-trace_id=6ab7e8d9415d49309fce3c29beb625b0",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "44.251.143.165",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "97a044daf5809875-AMS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "cookie": "callId=",
            "sentry-trace": "6ab7e8d9415d49309fce3c29beb625b0-9aa7e463c935a484",
            "traceparent": "00-537fa7c451da8642d291ca7753659e10-267bfa552b8f22e1-01",
            "x-chat-id": "dbb16902-d4a0-4f21-840a-33f3c48ab27c",
            "x-forwarded-for": "44.251.143.165, 104.23.168.6",
            "x-forwarded-host": "n8ncloud123321.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-38-6f9f659dd9-bmkxt",
            "x-is-trusted": "yes",
            "x-real-ip": "44.251.143.165",
            "x-vapi-secret": ""
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "timestamp": 1757018079972,
              "type": "tool-calls",
              "toolCalls": [
                {
                  "id": "call_umzAz1MS6b4MjTI1XWMz2pr2",
                  "type": "function",
                  "function": {
                    "name": "agent2",
                    "arguments": {
                      "Name": "Ubaid Nasir",
                      "Issue": "stab injury by brother",
                      "DateTime": "2025-09-05 10:00"
                    }
                  }
                }
              ],
              "toolCallList": [
                {
                  "id": "call_umzAz1MS6b4MjTI1XWMz2pr2",
                  "type": "function",
                  "function": {
                    "name": "agent2",
                    "arguments": {
                      "Name": "Ubaid Nasir",
                      "Issue": "stab injury by brother",
                      "DateTime": "2025-09-05 10:00"
                    }
                  }
                }
              ],
              "toolWithToolCallList": [
                {
                  "type": "function",
                  "function": {
                    "name": "agent2",
                    "parameters": {
                      "type": "object",
                      "required": [
                        "Name",
                        "Issue",
                        "DateTime"
                      ],
                      "properties": {
                        "Name": {
                          "type": "string",
                          "default": "",
                          "description": "Name of the Client"
                        },
                        "Issue": {
                          "type": "string",
                          "default": "",
                          "description": "A short summary of the client's legal matter. This could include the type of case (e.g., family law, estate planning, personal injury) and a brief overview of their situation. This information is crucial for the law firm to match the client with the most appropriate legal expert.\" This provides more context and helps the AI understand the purpose of the data."
                        },
                        "DateTime": {
                          "type": "string",
                          "default": "",
                          "description": "date and time of the desired appointment."
                        }
                      }
                    },
                    "description": "This tool is a webhook that sends client booking requests to the the N8n. It is specifically designed to handle appointment scheduling, rescheduling, and cancellations for consultations. The tool's primary function is to capture a client's name, the date and time of the desired appointment, and a brief summary of their legal issue.\nInstructions:\n  Pass these information:\n   1)client's name .\n   2)the date and time of the desired appointment .\n   3)summary of their legal issue."
                  },
                  "server": {
                    "url": "https://n8ncloud123321.app.n8n.cloud/webhook-test/cc83947c-9759-469d-abae-f1a3387d6cee",
                    "timeoutSeconds": 20,
                    "headers": {
                      "X-Chat-Id": "dbb16902-d4a0-4f21-840a-33f3c48ab27c"
                    }
                  },
                  "messages": [
                    {
                      "type": "request-start",
                      "contents": [],
                      "conditions": [],
                      "blocking": false
                    }
                  ],
                  "toolCall": {
                    "id": "call_umzAz1MS6b4MjTI1XWMz2pr2",
                    "type": "function",
                    "function": {
                      "name": "agent2",
                      "arguments": {
                        "Name": "Ubaid Nasir",
                        "Issue": "stab injury by brother",
                        "DateTime": "2025-09-05 10:00"
                      }
                    }
                  }
                }
              ],
              "artifact": {
                "messages": [
                  {
                    "role": "system",
                    "message": "[Identity]\nYou are John Smith, a dedicated AI voice assistant for a prominent law firm. Your primary role is to manage all incoming calls and efficiently handle scheduling, rescheduling, or canceling client appointments, ensuring optimal time management for the lawyer.\n\n[Style]\n- Use a calm, professional, and authoritative tone.\n- Maintain clarity and assertiveness, projecting the firm’s reliability and competence.\n- Be empathetic yet concise, understanding the importance of each client's time.\n\n[Response Guidelines]\n- Confirm all details explicitly, such as appointment times and client names.\n- Use phonetic spelling when necessary to confirm the accuracy.\n- Limit to asking one question at a time.\n- Utilize natural contractions for a conversational flow.\n\n[Task & Goals]\n1. Greet the caller warmly and identify your role: \"Hello, this is Alex, your appointment scheduling assistant at [Official Government Law Centre]. How may I assist you today?\"\n2. Determine the nature of the call: sched...",
                    "time": 1757018079325,
                    "secondsFromStart": 0
                  },
                  {
                    "role": "bot",
                    "message": "Thank you for calling Wellness Partners. This is Riley, your scheduling assistant. How may I help you today?",
                    "time": 1757018079325,
                    "secondsFromStart": 0,
                    "endTime": 1757018079325
                  },
                  {
                    "role": "user",
                    "message": "i wanna book appointment",
                    "time": 1757018079325,
                    "secondsFromStart": 0,
                    "endTime": 1757018079325
                  },
                  {
                    "role": "bot",
                    "message": "Certainly. To assist you with booking an appointment, could you please provide your full name, the issue you'd like to discuss, and the date and time you prefer?",
                    "time": 1757018079325,
                    "secondsFromStart": 0,
                    "endTime": 1757018079325
                  },
                  {
                    "role": "user",
                    "message": "ubaid nasir i was stabbed by my brother and i wanna book appointment at 5 september 2025 at 10 am to 11 am",
                    "time": 1757018079325,
                    "secondsFromStart": 0,
                    "endTime": 1757018079325
                  },
                  {
                    "role": "bot",
                    "message": "Thank you, Ubaid Nasir. Just to confirm, you'd like to book an appointment on September 5th, 2025, between 10:00 AM and 11:00 AM regarding your injury issue. Is that correct?",
                    "time": 1757018079325,
                    "secondsFromStart": 0,
                    "endTime": 1757018079325
                  },
                  {
                    "role": "user",
                    "message": "yes",
                    "time": 1757018079325,
                    "secondsFromStart": 0,
                    "endTime": 1757018079325
                  },
                  {
                    "toolCalls": [
                      {
                        "id": "call_umzAz1MS6b4MjTI1XWMz2pr2",
                        "type": "function",
                        "function": {
                          "name": "agent2",
                          "arguments": "{\n  \"Name\": \"Ubaid Nasir\",\n  \"Issue\": \"stab injury by brother\",\n  \"DateTime\": \"2025-09-05 10:00\"\n}"
                        }
                      }
                    ],
                    "role": "tool_calls",
                    "message": "",
                    "time": 1757018079965,
                    "secondsFromStart": 0.64
                  }
                ],
                "messagesOpenAIFormatted": [
                  {
                    "role": "system",
                    "content": "[Identity]\nYou are John Smith, a dedicated AI voice assistant for a prominent law firm. Your primary role is to manage all incoming calls and efficiently handle scheduling, rescheduling, or canceling client appointments, ensuring optimal time management for the lawyer.\n\n[Style]\n- Use a calm, professional, and authoritative tone.\n- Maintain clarity and assertiveness, projecting the firm’s reliability and competence.\n- Be empathetic yet concise, understanding the importance of each client's time.\n\n[Response Guidelines]\n- Confirm all details explicitly, such as appointment times and client names.\n- Use phonetic spelling when necessary to confirm the accuracy.\n- Limit to asking one question at a time.\n- Utilize natural contractions for a conversational flow.\n\n[Task & Goals]\n1. Greet the caller warmly and identify your role: \"Hello, this is Alex, your appointment scheduling assistant at [Official Government Law Centre]. How may I assist you today?\"\n2. Determine the nature of the call: sched..."
                  },
                  {
                    "role": "assistant",
                    "content": "Thank you for calling Wellness Partners. This is Riley, your scheduling assistant. How may I help you today?"
                  },
                  {
                    "role": "user",
                    "content": "i wanna book appointment"
                  },
                  {
                    "role": "assistant",
                    "content": "Certainly. To assist you with booking an appointment, could you please provide your full name, the issue you'd like to discuss, and the date and time you prefer?"
                  },
                  {
                    "role": "user",
                    "content": "ubaid nasir i was stabbed by my brother and i wanna book appointment at 5 september 2025 at 10 am to 11 am"
                  },
                  {
                    "role": "assistant",
                    "content": "Thank you, Ubaid Nasir. Just to confirm, you'd like to book an appointment on September 5th, 2025, between 10:00 AM and 11:00 AM regarding your injury issue. Is that correct?"
                  },
                  {
                    "role": "user",
                    "content": "yes"
                  },
                  {
                    "role": "assistant",
                    "tool_calls": [
                      {
                        "id": "call_umzAz1MS6b4MjTI1XWMz2pr2",
                        "type": "function",
                        "function": {
                          "name": "agent2",
                          "arguments": "{\n  \"Name\": \"Ubaid Nasir\",\n  \"Issue\": \"stab injury by brother\",\n  \"DateTime\": \"2025-09-05 10:00\"\n}"
                        }
                      }
                    ]
                  },
                  {
                    "role": "tool",
                    "tool_call_id": "call_umzAz1MS6b4MjTI1XWMz2pr2",
                    "content": "Tool Result Still Pending But Proceed Further If Possible."
                  }
                ]
              },
              "chat": {
                "id": "dbb16902-d4a0-4f21-840a-33f3c48ab27c",
                "orgId": "c4f8cd04-306b-4920-abaa-23888922703a",
                "createdAt": "2025-09-02T08:02:26.836Z",
                "updatedAt": "2025-09-04T18:39:40.665Z"
              },
              "assistant": {
                "id": "96d87c69-88bf-4ecd-9b16-8f9783a49005",
                "orgId": "c4f8cd04-306b-4920-abaa-23888922703a",
                "name": "Riley",
                "voice": {
                  "voiceId": "Elliot",
                  "provider": "vapi"
                },
                "createdAt": "2025-09-04T05:58:24.799Z",
                "updatedAt": "2025-09-04T20:17:19.667Z",
                "model": {
                  "model": "gpt-4.1-nano",
                  "toolIds": [
                    "50cd07ae-590f-450c-8570-5935b8f60304"
                  ],
                  "messages": [
                    {
                      "role": "system",
                      "content": "[Identity]\nYou are John Smith, a dedicated AI voice assistant for a prominent law firm. Your primary role is to manage all incoming calls and efficiently handle scheduling, rescheduling, or canceling client appointments, ensuring optimal time management for the lawyer.\n\n[Style]\n- Use a calm, professional, and authoritative tone.\n- Maintain clarity and assertiveness, projecting the firm’s reliability and competence.\n- Be empathetic yet concise, understanding the importance of each client's time.\n\n[Response Guidelines]\n- Confirm all details explicitly, such as appointment times and client names.\n- Use phonetic spelling when necessary to confirm the accuracy.\n- Limit to asking one question at a time.\n- Utilize natural contractions for a conversational flow.\n\n[Task & Goals]\n1. Greet the caller warmly and identify your role: \"Hello, this is Alex, your appointment scheduling assistant at [Official Government Law Centre]. How may I assist you today?\"\n2. Determine the nature of the call: scheduling, rescheduling, or cancellation.\n3. For scheduling:\n   - Ask for client details if new, or confirm details if returning.\n   - Provide available times and wait for the client’s selection.\n   - Confirm the chosen slot, ensuring all details are clear.\n4. For rescheduling or cancellation:\n   - Verify existing appointment details.\n   - Offer new times if rescheduling, and confirm changes.\n   - For cancellations, ensure understanding of potential fees or conditions.\n5. Provide any necessary follow-up actions or preparations needed before the appointment.\n6.You must ask the three details:Name ,Issue and Date and time at which the appointment he want to book.\n\n[Error Handling / Fallback]\n- If the caller’s request is unclear, politely ask for clarification: \"Could you please clarify your request so I can assist you better?\"\n- In case of technical issues with scheduling, apologize and offer a callback option: \"I’m experiencing temporary technical difficulties. May I take your contact details and call you back once the system is restored?\"\n- If unable to assist, redirect to a human representative if necessary, without signaling a transfer: silently execute the transfer tool for a seamless experience.\nTools;\n1)knowledgebase: Use knowledgebase when a client asks about the details.\n2)Use agent 2 tool when the client is done talking and he want to book an appointment."
                    }
                  ],
                  "provider": "openai",
                  "temperature": 0.5,
                  "knowledgeBase": {
                    "fileIds": [
                      "f0ab0a26-dcd6-4215-a736-b7d70ba3ace0"
                    ],
                    "provider": "google"
                  },
                  "tools": [
                    {
                      "id": "50cd07ae-590f-450c-8570-5935b8f60304",
                      "createdAt": "2025-09-04T06:05:38.951Z",
                      "updatedAt": "2025-09-04T20:14:41.908Z",
                      "type": "function",
                      "function": {
                        "name": "agent2",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "Name",
                            "Issue",
                            "DateTime"
                          ],
                          "properties": {
                            "Name": {
                              "type": "string",
                              "default": "",
                              "description": "Name of the Client"
                            },
                            "Issue": {
                              "type": "string",
                              "default": "",
                              "description": "A short summary of the client's legal matter. This could include the type of case (e.g., family law, estate planning, personal injury) and a brief overview of their situation. This information is crucial for the law firm to match the client with the most appropriate legal expert.\" This provides more context and helps the AI understand the purpose of the data."
                            },
                            "DateTime": {
                              "type": "string",
                              "default": "",
                              "description": "date and time of the desired appointment."
                            }
                          }
                        },
                        "description": "This tool is a webhook that sends client booking requests to the the N8n. It is specifically designed to handle appointment scheduling, rescheduling, and cancellations for consultations. The tool's primary function is to capture a client's name, the date and time of the desired appointment, and a brief summary of their legal issue.\nInstructions:\n  Pass these information:\n   1)client's name .\n   2)the date and time of the desired appointment .\n   3)summary of their legal issue."
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "c4f8cd04-306b-4920-abaa-23888922703a",
                      "server": {
                        "url": "https://n8ncloud123321.app.n8n.cloud/webhook-test/cc83947c-9759-469d-abae-f1a3387d6cee",
                        "timeoutSeconds": 20,
                        "headers": {
                          "X-Chat-Id": "dbb16902-d4a0-4f21-840a-33f3c48ab27c"
                        }
                      }
                    }
                  ]
                },
                "recordingEnabled": false,
                "firstMessage": "Thank you for calling Wellness Partners. This is Riley, your scheduling assistant. How may I help you today?",
                "voicemailMessage": "Hello, this is Riley from Wellness Partners. I'm calling about your appointment. Please call us back at your earliest convenience so we can confirm your scheduling details.",
                "endCallMessage": "GoodBye!I hope I can help You with your case.",
                "transcriber": {
                  "model": "nova-2",
                  "language": "en",
                  "numerals": false,
                  "provider": "deepgram",
                  "endpointing": 300,
                  "confidenceThreshold": 0.4
                },
                "clientMessages": [
                  "conversation-update",
                  "function-call",
                  "hang",
                  "model-output",
                  "speech-update",
                  "status-update",
                  "transfer-update",
                  "transcript",
                  "tool-calls",
                  "user-interrupted",
                  "voice-input",
                  "workflow.node.started"
                ],
                "serverMessages": [
                  "conversation-update",
                  "end-of-call-report",
                  "function-call",
                  "hang",
                  "speech-update",
                  "status-update",
                  "tool-calls",
                  "transfer-destination-request",
                  "handoff-destination-request",
                  "user-interrupted"
                ],
                "hipaaEnabled": true,
                "backgroundDenoisingEnabled": false,
                "artifactPlan": {
                  "videoRecordingEnabled": false
                },
                "startSpeakingPlan": {
                  "waitSeconds": 0.4,
                  "transcriptionEndpointingPlan": {
                    "onNumberSeconds": 0.5,
                    "onPunctuationSeconds": 0.1,
                    "onNoPunctuationSeconds": 1.5
                  }
                },
                "compliancePlan": {
                  "pciEnabled": false,
                  "hipaaEnabled": true
                }
              }
            }
          },
          "webhookUrl": "https://n8ncloud123321.app.n8n.cloud/webhook-test/cc83947c-9759-469d-abae-f1a3387d6cee",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "f2d5bcb3-7454-48a9-9aa9-223571504e96",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-13T21:18:24.994Z",
      "updatedAt": "2025-09-13T21:18:24.994Z",
      "role": "workflow:owner",
      "workflowId": "67V2e9dNGpCj5XYD",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "tags": []
}