Backup_2025-09-25/CUSTOMER DATA_2.json
{
  "createdAt": "2025-09-13T20:47:07.934Z",
  "updatedAt": "2025-09-13T20:47:13.000Z",
  "id": "6NNwyqGACdeNT58K",
  "name": "CUSTOMER DATA_2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -656,
        -160
      ],
      "id": "d5f3d028-8841-4513-9d09-3da4ba2ee7a1",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccb951e7-7b25-4646-a8d1-00762d245049",
              "name": "Full Name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "6daf5877-b23e-4926-8b01-27a1b92ea2e9",
              "name": "Email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "1f0c13aa-34e3-4039-bd2c-abe11e1433a1",
              "name": "Country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "9d9d6fc3-39be-47f6-8221-45b310e0c606",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -160
      ],
      "id": "a54422f5-78e4-4041-b36e-695f2aa63f3d",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        -160
      ],
      "id": "31bc84e0-6f95-4c51-a6c1-284cccdc6413",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdc3199a-da75-4f87-b4ab-211916f9ad69",
              "leftValue": "={{ $json.Country }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        -160
      ],
      "id": "e71df312-6e8b-4ddb-866b-8185ad31ae69",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7304f35c-61ff-47fa-9094-e6545046fbba",
              "name": "Full Name",
              "value": "={{ $json[\"Full Name\"] }}",
              "type": "string"
            },
            {
              "id": "88600878-c8ac-46f9-816c-3b8b782263f9",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -240
      ],
      "id": "6273bcd5-0ac3-4478-8a9f-da729bf19d30",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abc8bf7c-2388-481a-ad72-78ebf24c8bd2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -80
      ],
      "id": "b6973a93-9914-4842-9295-9574b3837095",
      "name": "Edit Fields2"
    }
  ],
  "connections": {
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c7f331ec-1bcc-4cdd-b481-d3cb814efff0",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-13T20:47:07.938Z",
      "updatedAt": "2025-09-13T20:47:07.938Z",
      "role": "workflow:owner",
      "workflowId": "6NNwyqGACdeNT58K",
      "projectId": "HHLWOKEAArOwm3kN"
    }
  ],
  "tags": []
}